workflows/w1-daily-quest-generator.json
{
  "name": "w1-daily-quest-generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 0,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "w1-cron",
      "name": "Cron: Daily 00:00 KST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// W1 Step 1: Deferred Quest Migration\n// ===========================================\n// Fetches today's quests with state \"To-Do\" and target_date before today,\n// moves them to \"Deferred\" state, increments defer_count.\n\nconst https = require('https');\nconst _fetch = (url, opts = {}, body) => new Promise((ok, fail) => {\n  const r = https.request(url, { method: opts.method || 'GET', headers: opts.headers, timeout: opts.timeout || 30000 }, (res) => {\n    let d = '';\n    res.on('data', c => d += c);\n    res.on('end', () => {\n      if (res.statusCode >= 400) return fail(new Error(`HTTP ${res.statusCode}: ${d.substring(0,300)}`));\n      try { ok(JSON.parse(d)); } catch { ok(d); }\n    });\n  });\n  r.on('error', fail);\n  r.on('timeout', () => { r.destroy(); fail(new Error('timeout')); });\n  if (body) r.write(typeof body === 'string' ? body : JSON.stringify(body));\n  r.end();\n});\n\n\nconst config = {\n  base_url: $env.PULSE_PLANE_BASE_URL,\n  workspace_slug: $env.PULSE_PLANE_WORKSPACE_SLUG,\n  api_key: $env.PULSE_PLANE_API_KEY,\n  daily_quest_project_id: $env.PULSE_DAILY_QUEST_PROJECT_ID,\n  states: {\n    todo: $env.PULSE_STATE_TODO_ID,\n    in_progress: $env.PULSE_STATE_IN_PROGRESS_ID,\n    deferred: $env.PULSE_STATE_DEFERRED_ID,\n    done: $env.PULSE_STATE_DONE_ID,\n    canceled: $env.PULSE_STATE_CANCELED_ID,\n  },\n};\n\nconst basePath = `${config.base_url}/api/v1/workspaces/${config.workspace_slug}`;\nconst headers = { 'X-API-Key': config.api_key, 'Content-Type': 'application/json' };\nconst isDryRun = ($env.PULSE_DRY_RUN || 'false').toLowerCase() === 'true' || ($env.PULSE_DRY_RUN || '0') === '1';\nconst tz = $env.PULSE_USER_TIMEZONE || 'Asia/Seoul';\n\n// Get today's date in KST\nconst now = new Date();\nconst todayStr = now.toLocaleDateString('en-CA', { timeZone: tz }); // YYYY-MM-DD\n\n// --- Retry helper ---\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst MAX_RETRIES = 3;\nconst RETRY_MS = 5000;\n\nconst withRetry = async (fn, ctx) => {\n  for (let i = 1; i <= MAX_RETRIES; i++) {\n    try { return await fn(); } catch (e) {\n      console.log(`[RETRY] ${ctx} attempt ${i}/${MAX_RETRIES}: ${e.message}`);\n      if (i === MAX_RETRIES) throw e;\n      await sleep(RETRY_MS);\n    }\n  }\n};\n\nconst apiGet = async (path) => {\n  return await _fetch(`${basePath}${path}`, { headers });\n};\n\nconst apiPatch = async (path, body) => {\n  return await _fetch(`${basePath}${path}`, { method: 'PATCH', headers }, body);\n};\n\nconst apiPost = async (path, body) => {\n  return await _fetch(`${basePath}${path}`, { method: 'POST', headers }, body);\n};\n\n// --- Step 1 Logic ---\nconst w1StartTime = new Date().toISOString();\nconst projectId = config.daily_quest_project_id;\nlet itemsProcessed = 0;\nlet itemsFailed = 0;\nconst deferredIssues = [];\nconst existingSourceIds = new Set();\n\ntry {\n  // Fetch all issues in Daily Quests project with state To-Do\n  const todoIssues = await withRetry(\n    () => apiGet(`/projects/${projectId}/issues/?per_page=100&expand=labels,state&state=${config.states.todo}`),\n    'Fetch To-Do issues'\n  );\n\n  const issues = todoIssues.results || todoIssues || [];\n\n  // Also fetch today's existing quests for duplicate prevention data (passed to Step 2)\n  const todayIssues = await withRetry(\n    () => apiGet(`/projects/${projectId}/issues/?per_page=100&expand=labels,state&target_date=${todayStr}`),\n    'Fetch today issues'\n  );\n  const todayResults = todayIssues.results || todayIssues || [];\n  for (const issue of todayResults) {\n    // Extract source_issue_id from description pulse-meta if available\n    const metaMatch = (issue.description_html || '').match(/\"source_issue_id\"\\s*:\\s*\"([^\"]+)\"/);\n    if (metaMatch) existingSourceIds.add(metaMatch[1]);\n  }\n\n  // Filter: only issues with target_date before today\n  const overdueIssues = issues.filter((issue) => {\n    const targetDate = issue.target_date;\n    return targetDate && targetDate < todayStr;\n  });\n\n  // Process each overdue issue\n  for (const issue of overdueIssues) {\n    try {\n      // Extract current defer_count from description or default to 0\n      let deferCount = 0;\n      const countMatch = (issue.description_html || '').match(/\"defer_count\"\\s*:\\s*(\\d+)/);\n      if (countMatch) deferCount = parseInt(countMatch[1], 10);\n      deferCount += 1;\n\n      // Update defer_count in description_html pulse-meta\n      const updateDescriptionWithDeferCount = (html, newCount) => {\n        if (!html) return html;\n        // Try to update existing defer_count in pulse-meta JSON\n        const updated = html.replace(/(\"defer_count\"\\s*:\\s*)\\d+/, `$1${newCount}`);\n        if (updated !== html) return updated;\n        // If defer_count field doesn't exist, add it before the closing brace of pulse-meta JSON\n        // Match the last } in code block content and insert defer_count before it\n        return html.replace(/(<pre><code[^>]*>[\\s\\S]*?)(\\}\\s*<\\/code><\\/pre>)/, `$1,\\n  \"defer_count\": ${newCount}\\n$2`);\n      };\n\n      if (isDryRun) {\n        console.log(`[DRY_RUN] Would defer issue: \"${issue.name}\" (defer_count: ${deferCount})`);\n      } else {\n        // Update description_html with new defer_count\n        const updatedDescription = updateDescriptionWithDeferCount(issue.description_html, deferCount);\n\n        // Move to Deferred state + persist defer_count in description\n        const patchBody = { state: config.states.deferred };\n        if (updatedDescription && updatedDescription !== issue.description_html) {\n          patchBody.description_html = updatedDescription;\n        }\n        await withRetry(\n          () => apiPatch(`/projects/${projectId}/issues/${issue.id}/`, patchBody),\n          `Defer issue ${issue.id}`\n        );\n\n        // Add comment\n        const comment = `\\u23F3 [00:00] Auto-deferred: incomplete (count: ${deferCount})`;\n        await withRetry(\n          () => apiPost(`/projects/${projectId}/issues/${issue.id}/comments/`, { comment_html: `<p>${comment}</p>` }),\n          `Comment on ${issue.id}`\n        );\n      }\n\n      deferredIssues.push({ id: issue.id, name: issue.name, defer_count: deferCount });\n      itemsProcessed++;\n    } catch (e) {\n      console.log(`[ERROR] Failed to defer issue \"${issue.name}\": ${e.message}`);\n      itemsFailed++;\n    }\n  }\n\n  return [{\n    json: {\n      success: true,\n      data: {\n        deferred_issues: deferredIssues,\n        existing_source_ids: Array.from(existingSourceIds),\n        today_date: todayStr,\n        w1_start_time: w1StartTime,\n      },\n      error: null,\n      metadata: {\n        step: 'step_1_deferred_migration',\n        timestamp: new Date().toISOString(),\n        items_processed: itemsProcessed,\n        items_failed: itemsFailed,\n        dry_run: isDryRun,\n      }\n    }\n  }];\n} catch (e) {\n  return [{\n    json: {\n      success: false,\n      data: {\n        deferred_issues: deferredIssues,\n        existing_source_ids: Array.from(existingSourceIds),\n        today_date: todayStr,\n        w1_start_time: w1StartTime,\n      },\n      error: { code: 'PLANE_API_ERROR', message: e.message },\n      metadata: {\n        step: 'step_1_deferred_migration',\n        timestamp: new Date().toISOString(),\n        items_processed: itemsProcessed,\n        items_failed: itemsFailed,\n        dry_run: isDryRun,\n      }\n    }\n  }];\n}"
      },
      "id": "w1-step1",
      "name": "Code: Step 1 Deferred Migration",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// W1 Step 2: Deterministic Routine Copy\n// ===========================================\n// Scans all projects for issues with 'daily-routine' label,\n// evaluates schedule conditions, creates qualifying quests.\n\nconst https = require('https');\nconst _fetch = (url, opts = {}, body) => new Promise((ok, fail) => {\n  const r = https.request(url, { method: opts.method || 'GET', headers: opts.headers, timeout: opts.timeout || 30000 }, (res) => {\n    let d = '';\n    res.on('data', c => d += c);\n    res.on('end', () => {\n      if (res.statusCode >= 400) return fail(new Error(`HTTP ${res.statusCode}: ${d.substring(0,300)}`));\n      try { ok(JSON.parse(d)); } catch { ok(d); }\n    });\n  });\n  r.on('error', fail);\n  r.on('timeout', () => { r.destroy(); fail(new Error('timeout')); });\n  if (body) r.write(typeof body === 'string' ? body : JSON.stringify(body));\n  r.end();\n});\n\n\nconst step1 = $input.first().json;\nconst step1Data = step1.data || {};\nconst existingSourceIds = new Set(step1Data.existing_source_ids || []);\nconst todayStr = step1Data.today_date;\n\nconst config = {\n  base_url: $env.PULSE_PLANE_BASE_URL,\n  workspace_slug: $env.PULSE_PLANE_WORKSPACE_SLUG,\n  api_key: $env.PULSE_PLANE_API_KEY,\n  daily_quest_project_id: $env.PULSE_DAILY_QUEST_PROJECT_ID,\n  states: {\n    todo: $env.PULSE_STATE_TODO_ID,\n  },\n  label_daily_routine: $env.PULSE_LABEL_DAILY_ROUTINE_ID,\n};\n\nconst basePath = `${config.base_url}/api/v1/workspaces/${config.workspace_slug}`;\nconst headers = { 'X-API-Key': config.api_key, 'Content-Type': 'application/json' };\nconst isDryRun = ($env.PULSE_DRY_RUN || 'false').toLowerCase() === 'true' || ($env.PULSE_DRY_RUN || '0') === '1';\nconst tz = $env.PULSE_USER_TIMEZONE || 'Asia/Seoul';\n\n// Day-of-week mapping for KST\nconst dayNames = ['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat'];\nconst nowDate = new Date();\nconst kstDay = dayNames[new Date(nowDate.toLocaleString('en-US', { timeZone: tz })).getDay()];\n\n// --- Retry helper ---\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst MAX_RETRIES = 3;\nconst RETRY_MS = 5000;\nconst withRetry = async (fn, ctx) => {\n  for (let i = 1; i <= MAX_RETRIES; i++) {\n    try { return await fn(); } catch (e) {\n      console.log(`[RETRY] ${ctx} attempt ${i}/${MAX_RETRIES}: ${e.message}`);\n      if (i === MAX_RETRIES) throw e;\n      await sleep(RETRY_MS);\n    }\n  }\n};\n\nconst apiGet = async (path) => {\n  return await _fetch(`${basePath}${path}`, { headers });\n};\n\nconst apiPost = async (path, body) => {\n  return await _fetch(`${basePath}${path}`, { method: 'POST', headers }, body);\n};\n\n// --- pulse-meta parser (inline for n8n Code node) ---\nconst decodeEntities = (s) => s.replace(/&quot;/g, '\"').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&#39;/g, \"'\");\n\nconst extractMeta = (html) => {\n  if (!html) return null;\n  let m = html.match(/```pulse-meta\\s*\\n([\\s\\S]*?)\\n\\s*```/);\n  if (m) return m[1].trim();\n  m = html.match(/<pre><code\\s+class=\"language-pulse-meta\">([\\s\\S]*?)<\\/code><\\/pre>/);\n  if (m) return decodeEntities(m[1].trim());\n  m = html.match(/<pre><code\\s[^>]*>([\\s\\S]*?)<\\/code><\\/pre>/);\n  if (m) { const c = decodeEntities(m[1].trim()); if (c.includes('\"schema_version\"')) return c; }\n  m = html.match(/<pre><code>([\\s\\S]*?)<\\/code><\\/pre>/);\n  if (m) { const c = decodeEntities(m[1].trim()); if (c.includes('\"schema_version\"')) return c; }\n  // Pattern: inline <code> (Plane editor format, <br> line breaks)\n  m = html.match(/<code[^>]*>([\\s\\S]*?)<\\/code>/);\n  if (m) { const c = decodeEntities(m[1].trim()).replace(/<br\\s*\\/?>/g, '\\n'); if (c.includes('\"schema_version\"')) return c; }\n  return null;\n};\n\n// --- Priority mapping (Plane.so priority enum) ---\nconst priorityMap = { urgent: 4, high: 3, medium: 2, low: 1, none: 0 };\nconst validRoutineTypes = ['daily', 'weekly', 'custom'];\nconst validPriorities = ['urgent', 'high', 'medium', 'low'];\n\n// --- Main Logic ---\nlet itemsProcessed = 0;\nlet itemsFailed = 0;\nconst createdQuests = [];\nconst warnings = [];\n\ntry {\n  // Fetch recent quests for cooldown check (last 30 days)\n  const cooldownLookbackDays = 30;\n  const lookbackDate = new Date(nowDate);\n  lookbackDate.setDate(lookbackDate.getDate() - cooldownLookbackDays);\n  const lookbackStr = lookbackDate.toLocaleDateString('en-CA', { timeZone: tz });\n  const recentRes = await withRetry(\n    () => apiGet(`/projects/${config.daily_quest_project_id}/issues/?per_page=100&expand=labels,state`),\n    'Fetch recent quests for cooldown'\n  );\n  const recentIssues = recentRes.results || recentRes || [];\n  // Build map: source_issue_id -> most recent target_date\n  const lastQuestDateBySource = new Map();\n  for (const ri of recentIssues) {\n    if (!ri.target_date || ri.target_date < lookbackStr) continue;\n    const srcMatch = (ri.description_html || '').match(/\"source_issue_id\"\\s*:\\s*\"([^\"]+)\"/);\n    if (srcMatch) {\n      const existing = lastQuestDateBySource.get(srcMatch[1]);\n      if (!existing || ri.target_date > existing) {\n        lastQuestDateBySource.set(srcMatch[1], ri.target_date);\n      }\n    }\n  }\n\n  // Get all projects\n  const projectsRes = await withRetry(() => apiGet('/projects/'), 'List projects');\n  const projects = projectsRes.results || projectsRes || [];\n\n  let totalRoutinesScanned = 0;\n\n  for (const project of projects) {\n    // Skip the daily quest project itself\n    if (project.id === config.daily_quest_project_id) continue;\n\n    // Fetch issues with labels expanded\n    const issuesRes = await withRetry(\n      () => apiGet(`/projects/${project.id}/issues/?per_page=100&expand=labels,state`),\n      `Fetch issues for ${project.identifier}`\n    );\n    const issues = issuesRes.results || issuesRes || [];\n\n    for (const issue of issues) {\n      if (totalRoutinesScanned >= 100) break;\n\n      // Check labels for daily-routine\n      const labels = issue.label_detail || issue.labels || [];\n      const labelNames = labels.map((l) => (typeof l === 'string' ? l : l.name || ''));\n\n      const hasExactLabel = labelNames.includes('daily-routine');\n      const hasNearMatch = !hasExactLabel && labelNames.some((n) =>\n        n.toLowerCase().includes('daily') && n.toLowerCase().includes('routine')\n      );\n\n      if (hasNearMatch) {\n        const nearLabel = labelNames.find((n) => n.toLowerCase().includes('daily') && n.toLowerCase().includes('routine'));\n        warnings.push(`\\u26A0\\uFE0F [LABEL_MISMATCH] Issue '${issue.name}' has label '${nearLabel}' \\u2014 did you mean 'daily-routine'?`);\n        console.log(warnings[warnings.length - 1]);\n      }\n\n      if (!hasExactLabel) continue;\n      totalRoutinesScanned++;\n\n      // Parse pulse-meta\n      const raw = extractMeta(issue.description_html);\n      if (!raw) {\n        warnings.push(`\\u26A0\\uFE0F [INVALID_ROUTINE_META] Routine '${issue.name}' has no pulse-meta block \\u2014 skipped`);\n        console.log(warnings[warnings.length - 1]);\n        continue;\n      }\n\n      let meta;\n      try { meta = JSON.parse(raw); } catch (e) {\n        warnings.push(`\\u26A0\\uFE0F [INVALID_ROUTINE_META] Routine '${issue.name}' has invalid JSON \\u2014 skipped`);\n        console.log(warnings[warnings.length - 1]);\n        continue;\n      }\n\n      // Validate required fields and types\n      const metaErrors = [];\n      if (meta.schema_version !== 1) metaErrors.push('invalid schema_version');\n      if (!meta.routine_days || !Array.isArray(meta.routine_days) || meta.routine_days.length === 0) metaErrors.push('missing/invalid routine_days');\n      if (!meta.routine_time) metaErrors.push('missing routine_time');\n      if (!meta.source_issue_id) metaErrors.push('missing source_issue_id');\n      if (meta.routine_type && !validRoutineTypes.includes(meta.routine_type)) metaErrors.push(`invalid routine_type: ${meta.routine_type}`);\n      if (meta.routine_priority && !validPriorities.includes(meta.routine_priority)) metaErrors.push(`invalid routine_priority: ${meta.routine_priority}`);\n      if (metaErrors.length > 0) {\n        warnings.push(`\\u26A0\\uFE0F [INVALID_ROUTINE_META] Routine '${issue.name}' validation failed: ${metaErrors.join(', ')} \\u2014 skipped`);\n        console.log(warnings[warnings.length - 1]);\n        continue;\n      }\n\n      // --- Schedule evaluation ---\n      // Check routine_days\n      if (!meta.routine_days.includes(kstDay)) continue;\n\n      // Check active_from\n      if (meta.routine_active_from && meta.routine_active_from > todayStr) continue;\n\n      // Check active_until\n      if (meta.routine_active_until && meta.routine_active_until < todayStr) continue;\n\n      // Check cooldown_days\n      if (meta.routine_cooldown_days && meta.routine_cooldown_days > 0) {\n        const lastDate = lastQuestDateBySource.get(meta.source_issue_id);\n        if (lastDate) {\n          const lastMs = new Date(lastDate + 'T00:00:00').getTime();\n          const todayMs = new Date(todayStr + 'T00:00:00').getTime();\n          const daysSince = Math.floor((todayMs - lastMs) / (24 * 60 * 60 * 1000));\n          if (daysSince < meta.routine_cooldown_days) {\n            console.log(`[SKIP] Cooldown: source ${meta.source_issue_id} last created ${lastDate}, cooldown ${meta.routine_cooldown_days}d, only ${daysSince}d ago`);\n            continue;\n          }\n        }\n      }\n\n      // Duplicate prevention\n      if (existingSourceIds.has(meta.source_issue_id)) {\n        console.log(`[SKIP] Duplicate: quest already exists for source ${meta.source_issue_id}`);\n        continue;\n      }\n\n      // --- Create quest ---\n      const questName = issue.name;\n      const questPriority = meta.routine_priority || 'medium';\n      const questDescription = `<pre><code class=\"language-pulse-meta\">${JSON.stringify({\n        schema_version: 1,\n        routine_type: meta.routine_type || 'daily',\n        routine_days: meta.routine_days,\n        source_project_id: project.id,\n        source_issue_id: issue.id,\n        routine_time: meta.routine_time,\n        routine_duration_min: meta.routine_duration_min,\n        routine_priority: meta.routine_priority,\n        routine_mandatory: meta.routine_mandatory || false,\n        routine_active_from: meta.routine_active_from || todayStr,\n        routine_cooldown_days: meta.routine_cooldown_days || 0,\n        defer_count: 0,\n      }, null, 2)}</code></pre>`;\n\n      if (isDryRun) {\n        console.log(`[DRY_RUN] Would create quest: \"${questName}\" at ${meta.routine_time}`);\n        createdQuests.push({ name: questName, time: meta.routine_time, source_issue_id: issue.id, dry_run: true });\n        itemsProcessed++;\n      } else {\n        try {\n          const created = await withRetry(\n            () => apiPost(`/projects/${config.daily_quest_project_id}/issues/`, {\n              name: questName,\n              description_html: questDescription,\n              state: config.states.todo,\n              priority: questPriority,\n              target_date: todayStr,\n            }),\n            `Create quest for ${issue.id}`\n          );\n\n          // Add source comment\n          await withRetry(\n            () => apiPost(`/projects/${config.daily_quest_project_id}/issues/${created.id}/comments/`, {\n              comment_html: `<p>\\uD83D\\uDD04 [00:00] Auto-generated from routine: ${questName} (project: ${project.name})</p>`\n            }),\n            `Comment on quest ${created.id}`\n          );\n\n          createdQuests.push({ id: created.id, name: questName, time: meta.routine_time, source_issue_id: issue.id });\n          existingSourceIds.add(meta.source_issue_id);\n          itemsProcessed++;\n        } catch (e) {\n          warnings.push(`[ERROR] Failed to create quest \"${questName}\": ${e.message}`);\n          itemsFailed++;\n        }\n      }\n    }\n    if (totalRoutinesScanned >= 100) break;\n  }\n\n  return [{\n    json: {\n      success: true,\n      data: {\n        step_1: step1Data,\n        step_1_metadata: step1.metadata || {},\n        created_quests: createdQuests,\n        warnings,\n        today_date: todayStr,\n      },\n      error: null,\n      metadata: {\n        step: 'step_2_routine_copy',\n        timestamp: new Date().toISOString(),\n        items_processed: itemsProcessed,\n        items_failed: itemsFailed,\n        dry_run: isDryRun,\n      }\n    }\n  }];\n} catch (e) {\n  return [{\n    json: {\n      success: false,\n      data: {\n        step_1: step1Data,\n        step_1_metadata: step1.metadata || {},\n        created_quests: createdQuests,\n        warnings,\n        today_date: todayStr,\n      },\n      error: { code: 'PLANE_API_ERROR', message: e.message },\n      metadata: {\n        step: 'step_2_routine_copy',\n        timestamp: new Date().toISOString(),\n        items_processed: itemsProcessed,\n        items_failed: itemsFailed,\n        dry_run: isDryRun,\n      }\n    }\n  }];\n}"
      },
      "id": "w1-step2",
      "name": "Code: Step 2 Routine Copy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// W1 Execution Summary & Degraded Mode Check\n// ===========================================\n// Aggregates results from Steps 1-5, sets DEGRADED_MODE flag\n// if any LLM steps were skipped, builds execution summary.\n\nconst https = require('https');\nconst _fetch = (url, opts = {}, body) => new Promise((ok, fail) => {\n  const r = https.request(url, { method: opts.method || 'GET', headers: opts.headers, timeout: opts.timeout || 30000 }, (res) => {\n    let d = '';\n    res.on('data', c => d += c);\n    res.on('end', () => {\n      if (res.statusCode >= 400) return fail(new Error(`HTTP ${res.statusCode}: ${d.substring(0,300)}`));\n      try { ok(JSON.parse(d)); } catch { ok(d); }\n    });\n  });\n  r.on('error', fail);\n  r.on('timeout', () => { r.destroy(); fail(new Error('timeout')); });\n  if (body) r.write(typeof body === 'string' ? body : JSON.stringify(body));\n  r.end();\n});\n\n\nconst prevResult = $input.first().json;\nconst prevData = prevResult.data || {};\nconst step1Data = prevData.step_1 || {};\nconst isDryRun = ($env.PULSE_DRY_RUN || 'false').toLowerCase() === 'true' || ($env.PULSE_DRY_RUN || '0') === '1';\nconst tz = $env.PULSE_USER_TIMEZONE || 'Asia/Seoul';\n\n// Use actual W1 start time from Step 1\nconst startTime = step1Data.w1_start_time ? new Date(step1Data.w1_start_time) : new Date();\nconst endTime = new Date();\nconst totalExecutionMs = endTime.getTime() - startTime.getTime();\nconst totalExecutionSec = Math.round(totalExecutionMs / 1000);\n\n// Determine which steps completed vs skipped\nconst stepsCompleted = ['step_1_deferred_migration', 'step_2_routine_copy'];\nconst stepsSkipped = [];\n\n// Step 3 status\nconst step3Skipped = prevData.step_3_skipped !== false;\nif (!step3Skipped) { stepsCompleted.push('step_3_llm_task_generation'); } else { stepsSkipped.push('step_3_llm_task_generation'); }\n\n// Step 4 status\nconst step4Skipped = prevData.step_4_skipped !== false;\nif (!step4Skipped) { stepsCompleted.push('step_4_llm_schedule_optimization'); } else { stepsSkipped.push('step_4_llm_schedule_optimization'); }\n\n// Step 5 status\nconst step5Skipped = prevData.step_5_skipped !== false;\nif (!step5Skipped) { stepsCompleted.push('step_5_llm_deferred_restoration'); } else { stepsSkipped.push('step_5_llm_deferred_restoration'); }\n\n// Degraded mode if any LLM step was skipped\nconst degradedMode = stepsSkipped.length > 0;\n\n// Build execution summary\nconst deferredCount = (step1Data.deferred_issues || []).length;\nconst createdCount = (prevData.created_quests || []).length;\nconst aiSuggestedCount = (prevData.step_3_suggestions || []).length;\nconst optimizedCount = prevData.step_4_optimized || 0;\nconst restoredCount = prevData.step_5_restored || 0;\nconst warnings = prevData.warnings || [];\nconst step1Meta = prevData.step_1_metadata || {};\nconst step3Meta = prevResult.metadata || {};\nconst step1Errors = step1Meta.items_failed || 0;\nconst totalErrors = step1Errors + (step3Meta.items_failed || 0);\n\nconst summary = {\n  today_date: prevData.today_date,\n  start_time: startTime.toISOString(),\n  end_time: endTime.toISOString(),\n  total_execution_time_sec: totalExecutionSec,\n  steps_completed: stepsCompleted,\n  steps_skipped: stepsSkipped,\n  deferred_count: deferredCount,\n  quests_created: createdCount,\n  ai_suggested: aiSuggestedCount,\n  optimized: optimizedCount,\n  restored: restoredCount,\n  warnings_count: warnings.length,\n  errors_count: totalErrors,\n  degraded_mode: degradedMode,\n  dry_run: isDryRun,\n};\n\n// Build notification message\nlet notification = '';\nif (degradedMode) {\n  notification = `\\u26A0\\uFE0F [DEGRADED_MODE] AI features temporarily unavailable. Routine-based quests generated normally.\\n`;\n}\nnotification += `\\uD83D\\uDCCB W1 Execution Summary — ${prevData.today_date}:\\n`;\nnotification += `  Deferred: ${deferredCount} quests moved to Deferred\\n`;\nnotification += `  Created: ${createdCount} new quests\\n`;\nif (aiSuggestedCount > 0) {\n  notification += `  AI Suggested: ${aiSuggestedCount} task(s)\\n`;\n}\nif (optimizedCount > 0) {\n  notification += `  Optimized: ${optimizedCount} quest(s) rescheduled\\n`;\n}\nif (restoredCount > 0) {\n  notification += `  Restored: ${restoredCount} deferred quest(s) brought back\\n`;\n}\nnotification += `  Steps: ${stepsCompleted.length} completed, ${stepsSkipped.length} skipped\\n`;\nif (warnings.length > 0) {\n  notification += `  Warnings: ${warnings.length}\\n`;\n}\nif (totalErrors > 0) {\n  notification += `  Errors: ${totalErrors}\\n`;\n}\nnotification += `  Duration: ${totalExecutionSec}s\\n`;\n\n// Persist execution status to Daily Quest project description for W2 /today\nconst projectId = $env.PULSE_DAILY_QUEST_PROJECT_ID;\nconst basePath = `${$env.PULSE_PLANE_BASE_URL}/api/v1/workspaces/${$env.PULSE_PLANE_WORKSPACE_SLUG}`;\nconst headers = { 'X-API-Key': $env.PULSE_PLANE_API_KEY, 'Content-Type': 'application/json' };\nconst todayStr = prevData.today_date;\nconst statusMeta = JSON.stringify({ last_run: todayStr, degraded_mode: degradedMode, total_execution_time_sec: totalExecutionSec });\nconst statusHtml = `<pre><code class=\"language-pulse-status\">${statusMeta}</code></pre>`;\ntry {\n  if (!isDryRun) {\n    await _fetch(`${basePath}/projects/${projectId}/`, { method: 'PATCH', headers }, { description_html: statusHtml });\n  } else {\n    console.log(`[DRY_RUN] Would update project description with status: ${statusMeta}`);\n  }\n} catch (e) {\n  console.log(`[WARN] Failed to persist execution status: ${e.message}`);\n}\n\nreturn [{\n  json: {\n    success: true,\n    data: {\n      summary,\n      notification,\n      degraded_mode: degradedMode,\n    },\n    error: null,\n    metadata: {\n      step: 'w1_execution_summary',\n      timestamp: new Date().toISOString(),\n      items_processed: deferredCount + createdCount,\n      items_failed: totalErrors,\n    }\n  }\n}];"
      },
      "id": "w1-summary",
      "name": "Code: Execution Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Check DRY_RUN before sending LobeHub notification\nconst isDryRun = ($env.PULSE_DRY_RUN || 'false').toLowerCase() === 'true' || ($env.PULSE_DRY_RUN || '0') === '1';\nconst data = $input.first().json.data;\n\nif (isDryRun) {\n  console.log(`[DRY_RUN] Would send W1 summary to LobeHub:\\n${data.notification}`);\n  return [{\n    json: {\n      dry_run: true,\n      message: `[DRY_RUN] Would send W1 execution summary`,\n      notification: data.notification,\n      should_notify: false,\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    should_notify: true,\n    notification: data.notification,\n    degraded_mode: data.degraded_mode,\n  }\n}];"
      },
      "id": "w1-dryrun-check",
      "name": "Code: Check DRY_RUN Notify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2040,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "should-notify",
              "leftValue": "={{ $json.should_notify }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "w1-if-notify",
      "name": "IF: Should Notify",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2260,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.PULSE_LOBEHUB_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.PULSE_LOBEHUB_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"response_type\": \"info\",\n  \"message\": \"{{ $json.notification }}\",\n  \"data\": {\n    \"degraded_mode\": {{ $json.degraded_mode }}\n  },\n  \"suggestions\": [],\n  \"awaiting_input\": false\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "w1-notify",
      "name": "Push: Notify LobeHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2480,
        240
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// DRY_RUN: log notification skip\nconst data = $input.first().json;\nconsole.log(data.message);\nreturn [$input.first()];"
      },
      "id": "w1-dryrun-log",
      "name": "Code: Log DRY_RUN Skip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        400
      ]
    },
    {
      "parameters": {
        "content": "## W1 - Daily Quest Generator\n\n**Purpose:** Automatically generate daily quests from routine definitions at 00:00 KST.\n\n**Trigger:** Cron — daily at 00:00 KST.\n\n**Pipeline Steps:**\n1. Deferred Quest Migration — Move yesterday's incomplete quests to Deferred state\n2. Deterministic Routine Copy — Scan routines, create today's quests\n3. LLM Task Generation — AI-suggested tasks via DeepSeek\n4. LLM Schedule Optimization — AI time-slot reordering via DeepSeek\n5. LLM Deferred Restoration — AI-judged deferred quest recovery via DeepSeek\n6. Execution Summary — Aggregate results, check degraded mode, notify LobeHub\n\n**Error Workflow:** W5 (error-handler)\n\n**DRY_RUN Behavior:**\n- Plane.so reads execute normally\n- Plane.so writes (create, update, comment) blocked and logged\n- LobeHub notifications blocked and logged",
        "height": 380,
        "width": 400
      },
      "id": "w1-sticky",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        200,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// W1 Step 3: LLM Task Generation\n// ===========================================\n// Sends today's quest list and recent history to DeepSeek.\n// Returns 0-3 AI-suggested tasks. Follows P-3 branching pattern.\n\nconst https = require('https');\nconst _fetch = (url, opts = {}, body) => new Promise((ok, fail) => {\n  const r = https.request(url, { method: opts.method || 'GET', headers: opts.headers, timeout: opts.timeout || 30000 }, (res) => {\n    let d = '';\n    res.on('data', c => d += c);\n    res.on('end', () => {\n      if (res.statusCode >= 400) return fail(new Error(`HTTP ${res.statusCode}: ${d.substring(0,300)}`));\n      try { ok(JSON.parse(d)); } catch { ok(d); }\n    });\n  });\n  r.on('error', fail);\n  r.on('timeout', () => { r.destroy(); fail(new Error('timeout')); });\n  if (body) r.write(typeof body === 'string' ? body : JSON.stringify(body));\n  r.end();\n});\n\n\nconst step2Result = $input.first().json;\nconst step2Data = step2Result.data || {};\nconst step1Data = step2Data.step_1 || {};\nconst todayStr = step2Data.today_date;\nconst createdQuests = step2Data.created_quests || [];\nconst deferredIssues = step1Data.deferred_issues || [];\n\nconst config = {\n  base_url: $env.PULSE_PLANE_BASE_URL,\n  workspace_slug: $env.PULSE_PLANE_WORKSPACE_SLUG,\n  api_key: $env.PULSE_PLANE_API_KEY,\n  daily_quest_project_id: $env.PULSE_DAILY_QUEST_PROJECT_ID,\n  states: { todo: $env.PULSE_STATE_TODO_ID },\n};\n\nconst dsConfig = {\n  api_key: $env.PULSE_DEEPSEEK_API_KEY,\n  base_url: $env.PULSE_DEEPSEEK_BASE_URL || 'https://api.deepseek.com/v1',\n  model: $env.PULSE_DEEPSEEK_MODEL || 'deepseek-chat',\n};\n\nconst basePath = `${config.base_url}/api/v1/workspaces/${config.workspace_slug}`;\nconst headers = { 'X-API-Key': config.api_key, 'Content-Type': 'application/json' };\nconst isDryRun = ($env.PULSE_DRY_RUN || 'false').toLowerCase() === 'true' || ($env.PULSE_DRY_RUN || '0') === '1';\n\n// --- Retry helpers ---\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst BACKOFF = [1000, 2000, 4000];\n\nconst withBackoff = async (fn, ctx) => {\n  for (let i = 0; i < 3; i++) {\n    try { return await fn(); } catch (e) {\n      console.log(`[RETRY] DeepSeek ${ctx} attempt ${i + 1}/3: ${e.message}`);\n      if (i === 2) throw e;\n      await sleep(BACKOFF[i]);\n    }\n  }\n};\n\nconst PER_STEP_TIMEOUT = 60000;\n\nconst callDeepSeek = async (systemPrompt, userPrompt, temperature = 0.7) => {\n  const r = await _fetch(`${dsConfig.base_url}/chat/completions`, { method: 'POST', headers: { 'Authorization': `Bearer ${dsConfig.api_key}`, 'Content-Type': 'application/json' }, timeout: PER_STEP_TIMEOUT }, {\n    model: dsConfig.model,\n    messages: [{ role: 'system', content: systemPrompt }, { role: 'user', content: userPrompt }],\n    temperature,\n    max_tokens: 2048,\n    response_format: { type: 'json_object' },\n  });\n  return { content: r.choices?.[0]?.message?.content, usage: r.usage || {} };\n};\n\n// --- Plane.so helpers ---\nconst apiGet = async (path) => {\n  return await _fetch(`${basePath}${path}`, { headers });\n};\nconst apiPost = async (path, body) => {\n  return await _fetch(`${basePath}${path}`, { method: 'POST', headers }, body);\n};\n\n// --- Prompt template ---\n// Prompt source: prompts/w1-task-generation.md\nconst SYSTEM_PROMPT = `You are a personal productivity assistant that suggests additional tasks based on the user's current daily quest list, recent completion history, and project context.\n\nAnalyze the user's current quests for today and their recent activity. Suggest 0-3 additional tasks that would complement their schedule. Only suggest tasks when genuinely useful — returning zero suggestions is perfectly valid.\n\nConstraints:\n- Return 0 to 3 task suggestions maximum.\n- Each suggestion must include: name (string), routine_time (HH:MM format), duration_min (integer, 1-480), priority (one of: urgent, high, medium, low), and rationale (string, 1-2 sentences explaining why).\n- Suggested routine_time should fit into gaps in the user's existing schedule.\n- Do NOT suggest tasks that duplicate or overlap with existing quests.\n- Do NOT suggest tasks that conflict with the user's current workload.\n- Consider the user's recent completion patterns — if they have been consistently deferring tasks, suggest lighter tasks.\n- All output must be in English.\n\nYou MUST respond with valid JSON: { \"suggestions\": [...] }\nEach entry: { \"name\": \"...\", \"routine_time\": \"HH:MM\", \"duration_min\": 30, \"priority\": \"medium\", \"rationale\": \"...\" }\nIf no suggestions, return: { \"suggestions\": [] }`;\n\n// --- Validation ---\nconst VALID_PRIORITIES = ['urgent', 'high', 'medium', 'low'];\nconst priorityMap = { urgent: 4, high: 3, medium: 2, low: 1 };\n\nconst validateResponse = (parsed) => {\n  if (!parsed || !Array.isArray(parsed.suggestions)) return 'Missing suggestions array';\n  if (parsed.suggestions.length > 3) return 'Too many suggestions (max 3)';\n  for (const s of parsed.suggestions) {\n    if (!s.name || typeof s.name !== 'string') return 'Invalid suggestion name';\n    if (!s.routine_time || !/^\\d{2}:\\d{2}$/.test(s.routine_time)) return `Invalid routine_time: ${s.routine_time}`;\n    if (!s.duration_min || typeof s.duration_min !== 'number' || s.duration_min < 1 || s.duration_min > 480) return `Invalid duration_min: ${s.duration_min}`;\n    if (!VALID_PRIORITIES.includes(s.priority)) return `Invalid priority: ${s.priority}`;\n  }\n  return null;\n};\n\n// --- Main Logic ---\nconst startTime = Date.now();\nconst aiCreatedQuests = [];\nlet llmUsage = {};\nlet llmDurationMs = 0;\n\ntry {\n  // Check if DeepSeek is configured\n  if (!dsConfig.api_key) {\n    console.log('[SKIP] Step 3: PULSE_DEEPSEEK_API_KEY not configured');\n    return [{ json: {\n      success: true,\n      data: { ...step2Data, step_3_suggestions: [], step_3_skipped: true, step_3_reason: 'DEEPSEEK_NOT_CONFIGURED' },\n      error: null,\n      metadata: { step: 'step_3_llm_task_generation', timestamp: new Date().toISOString(), items_processed: 0, items_failed: 0, dry_run: isDryRun, llm_duration_ms: 0, llm_usage: {}, skipped: true, llm_budget_used_ms: 0 }\n    }}];\n  }\n\n  // Build user prompt with context\n  const questSummary = createdQuests.map(q => `- ${q.name} at ${q.time || 'unscheduled'}`).join('\\n') || '(no quests created today)';\n  const deferredSummary = deferredIssues.map(d => `- ${d.name} (deferred x${d.defer_count})`).join('\\n') || '(none)';\n\n  // Fetch recent completed quests for history context\n  let recentHistory = '(unavailable)';\n  try {\n    const recentRes = await apiGet(`/projects/${config.daily_quest_project_id}/issues/?per_page=20&expand=labels,state&state=${$env.PULSE_STATE_DONE_ID}`);\n    const recentDone = (recentRes.results || recentRes || []).slice(0, 10);\n    if (recentDone.length > 0) {\n      recentHistory = recentDone.map(i => `- ${i.name} (completed: ${i.completed_at || i.target_date || 'unknown'})`).join('\\n');\n    }\n  } catch (e) {\n    console.log(`[WARN] Could not fetch recent history: ${e.message}`);\n  }\n\n  const userPrompt = `Today: ${todayStr}\\n\\nToday's Quests:\\n${questSummary}\\n\\nRecently Deferred:\\n${deferredSummary}\\n\\nRecent Completions:\\n${recentHistory}`;\n\n  // Call DeepSeek with P-3 pattern\n  let result;\n  try {\n    result = await withBackoff(() => callDeepSeek(SYSTEM_PROMPT, userPrompt, 0.7), 'Step 3');\n  } catch (e) {\n    const code = e.name === 'AbortError' || e.message?.includes('timeout') ? 'DEEPSEEK_TIMEOUT' : 'DEEPSEEK_API_ERROR';\n    console.log(`[ERROR] Step 3 DeepSeek call failed: ${e.message}`);\n    return [{ json: {\n      success: true,\n      data: { ...step2Data, step_3_suggestions: [], step_3_skipped: true, step_3_reason: code },\n      error: { code, message: e.message },\n      metadata: { step: 'step_3_llm_task_generation', timestamp: new Date().toISOString(), items_processed: 0, items_failed: 0, dry_run: isDryRun, llm_duration_ms: Date.now() - startTime, llm_usage: {}, skipped: true, llm_budget_used_ms: Date.now() - startTime }\n    }}];\n  }\n\n  llmUsage = result.usage;\n\n  // Parse and validate JSON\n  let parsed;\n  try {\n    parsed = JSON.parse(result.content);\n    const err = validateResponse(parsed);\n    if (err) throw new Error(err);\n  } catch (parseErr) {\n    console.log(`[WARN] Step 3 JSON validation failed: ${parseErr.message}. Retrying with temperature: 0.1`);\n    try {\n      result = await callDeepSeek(SYSTEM_PROMPT, userPrompt, 0.1);\n      llmUsage = result.usage;\n      parsed = JSON.parse(result.content);\n      const err = validateResponse(parsed);\n      if (err) throw new Error(err);\n    } catch (retryErr) {\n      console.log(`[ERROR] Step 3 second validation failed: ${retryErr.message}`);\n      return [{ json: {\n        success: true,\n        data: { ...step2Data, step_3_suggestions: [], step_3_skipped: true, step_3_reason: 'DEEPSEEK_JSON_PARSE_ERROR' },\n        error: { code: 'DEEPSEEK_JSON_PARSE_ERROR', message: retryErr.message },\n        metadata: { step: 'step_3_llm_task_generation', timestamp: new Date().toISOString(), items_processed: 0, items_failed: 0, dry_run: isDryRun, llm_duration_ms: Date.now() - startTime, llm_usage: llmUsage, skipped: true, llm_budget_used_ms: Date.now() - startTime }\n      }}];\n    }\n  }\n\n  llmDurationMs = Date.now() - startTime;\n  const suggestions = parsed.suggestions || [];\n  console.log(`[INFO] Step 3: DeepSeek returned ${suggestions.length} suggestion(s) in ${llmDurationMs}ms | tokens: prompt=${llmUsage.prompt_tokens || 0}, completion=${llmUsage.completion_tokens || 0}, total=${llmUsage.total_tokens || 0}`);\n\n  // Create AI-suggested quests in Plane.so\n  for (const suggestion of suggestions) {\n    const questDescription = `<pre><code class=\"language-pulse-meta\">${JSON.stringify({\n      schema_version: 1,\n      routine_type: 'ai-suggested',\n      routine_days: [],\n      source_project_id: 'ai',\n      source_issue_id: `ai-step3-${Date.now()}`,\n      routine_time: suggestion.routine_time || '09:00',\n      routine_duration_min: suggestion.duration_min,\n      routine_priority: suggestion.priority,\n      routine_mandatory: false,\n      routine_active_from: todayStr,\n      routine_cooldown_days: 0,\n      defer_count: 0,\n    }, null, 2)}</code></pre>`;\n\n    if (isDryRun) {\n      console.log(`[DRY_RUN] Would create AI quest: \"${suggestion.name}\" at ${suggestion.routine_time || '09:00'}`);\n      aiCreatedQuests.push({ name: suggestion.name, time: suggestion.routine_time, priority: suggestion.priority, rationale: suggestion.rationale, dry_run: true });\n    } else {\n      try {\n        const created = await apiPost(`/projects/${config.daily_quest_project_id}/issues/`, {\n          name: suggestion.name,\n          description_html: questDescription,\n          state: config.states.todo,\n          priority: priorityMap[suggestion.priority] ?? 2,\n          target_date: todayStr,\n        });\n        // Add AI source comment (F-1: automated actions use [00:00])\n        await apiPost(`/projects/${config.daily_quest_project_id}/issues/${created.id}/comments/`, {\n          comment_html: `<p>\\uD83E\\uDD16 [00:00] AI-suggested task (source: W1 Step 3)</p>`\n        });\n        aiCreatedQuests.push({ id: created.id, name: suggestion.name, time: suggestion.routine_time, priority: suggestion.priority, rationale: suggestion.rationale });\n      } catch (e) {\n        console.log(`[ERROR] Failed to create AI quest \"${suggestion.name}\": ${e.message}`);\n      }\n    }\n  }\n\n  return [{ json: {\n    success: true,\n    data: {\n      ...step2Data,\n      step_3_suggestions: aiCreatedQuests,\n      step_3_skipped: false,\n    },\n    error: null,\n    metadata: {\n      step: 'step_3_llm_task_generation',\n      timestamp: new Date().toISOString(),\n      items_processed: aiCreatedQuests.length,\n      items_failed: suggestions.length - aiCreatedQuests.length,\n      dry_run: isDryRun,\n      llm_duration_ms: llmDurationMs,\n      llm_usage: llmUsage,\n      skipped: false,\n      llm_budget_used_ms: llmDurationMs,\n    }\n  }}];\n} catch (e) {\n  console.log(`[ERROR] Step 3 unexpected error: ${e.message}`);\n  return [{ json: {\n    success: true,\n    data: { ...step2Data, step_3_suggestions: aiCreatedQuests, step_3_skipped: true, step_3_reason: 'UNEXPECTED_ERROR' },\n    error: { code: 'DEEPSEEK_API_ERROR', message: e.message },\n    metadata: { step: 'step_3_llm_task_generation', timestamp: new Date().toISOString(), items_processed: 0, items_failed: 0, dry_run: isDryRun, llm_duration_ms: Date.now() - startTime, llm_usage: llmUsage, skipped: true, llm_budget_used_ms: Date.now() - startTime }\n  }}];\n}"
      },
      "id": "w1-step3",
      "name": "Code: Step 3 LLM Task Generation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// W1 Step 4: LLM Schedule Optimization\n// ===========================================\n// Sends today's full quest list to DeepSeek for time-slot\n// and priority optimization. Follows P-3 branching pattern.\n// Respects per-step timeout (60s) and total LLM budget (3min).\n\nconst https = require('https');\nconst _fetch = (url, opts = {}, body) => new Promise((ok, fail) => {\n  const r = https.request(url, { method: opts.method || 'GET', headers: opts.headers, timeout: opts.timeout || 30000 }, (res) => {\n    let d = '';\n    res.on('data', c => d += c);\n    res.on('end', () => {\n      if (res.statusCode >= 400) return fail(new Error(`HTTP ${res.statusCode}: ${d.substring(0,300)}`));\n      try { ok(JSON.parse(d)); } catch { ok(d); }\n    });\n  });\n  r.on('error', fail);\n  r.on('timeout', () => { r.destroy(); fail(new Error('timeout')); });\n  if (body) r.write(typeof body === 'string' ? body : JSON.stringify(body));\n  r.end();\n});\n\n\nconst prevResult = $input.first().json;\nconst prevData = prevResult.data || {};\nconst step1Data = prevData.step_1 || {};\nconst todayStr = prevData.today_date;\nconst createdQuests = prevData.created_quests || [];\nconst aiSuggestions = prevData.step_3_suggestions || [];\nconst step3Skipped = prevData.step_3_skipped !== false;\n\nconst config = {\n  base_url: $env.PULSE_PLANE_BASE_URL,\n  workspace_slug: $env.PULSE_PLANE_WORKSPACE_SLUG,\n  api_key: $env.PULSE_PLANE_API_KEY,\n  daily_quest_project_id: $env.PULSE_DAILY_QUEST_PROJECT_ID,\n  states: { todo: $env.PULSE_STATE_TODO_ID },\n};\n\nconst dsConfig = {\n  api_key: $env.PULSE_DEEPSEEK_API_KEY,\n  base_url: $env.PULSE_DEEPSEEK_BASE_URL || 'https://api.deepseek.com/v1',\n  model: $env.PULSE_DEEPSEEK_MODEL || 'deepseek-chat',\n};\n\nconst basePath = `${config.base_url}/api/v1/workspaces/${config.workspace_slug}`;\nconst headers = { 'X-API-Key': config.api_key, 'Content-Type': 'application/json' };\nconst isDryRun = ($env.PULSE_DRY_RUN || 'false').toLowerCase() === 'true' || ($env.PULSE_DRY_RUN || '0') === '1';\n\n// --- LLM budget tracking ---\n// Step 3 duration feeds into total budget\nconst step3DurationMs = prevResult.metadata?.llm_budget_used_ms ?? prevResult.metadata?.llm_duration_ms ?? 0;\nconst LLM_BUDGET_MS = 180000; // 3 minutes total\nlet totalLlmMs = step3DurationMs;\n\n// --- Retry helpers ---\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst BACKOFF = [1000, 2000, 4000];\n\nconst withBackoff = async (fn, ctx) => {\n  for (let i = 0; i < 3; i++) {\n    try { return await fn(); } catch (e) {\n      console.log(`[RETRY] DeepSeek ${ctx} attempt ${i + 1}/3: ${e.message}`);\n      if (i === 2) throw e;\n      await sleep(BACKOFF[i]);\n    }\n  }\n};\n\nconst PER_STEP_TIMEOUT = 60000;\n\nconst callDeepSeek = async (systemPrompt, userPrompt, temperature = 0.7) => {\n  const r = await _fetch(`${dsConfig.base_url}/chat/completions`, { method: 'POST', headers: { 'Authorization': `Bearer ${dsConfig.api_key}`, 'Content-Type': 'application/json' }, timeout: PER_STEP_TIMEOUT }, {\n    model: dsConfig.model,\n    messages: [{ role: 'system', content: systemPrompt }, { role: 'user', content: userPrompt }],\n    temperature,\n    max_tokens: 2048,\n    response_format: { type: 'json_object' },\n  });\n  return { content: r.choices?.[0]?.message?.content, usage: r.usage || {} };\n};\n\n// --- Plane.so helpers ---\nconst apiGet = async (path) => {\n  return await _fetch(`${basePath}${path}`, { headers });\n};\nconst apiPatch = async (path, body) => {\n  return await _fetch(`${basePath}${path}`, { method: 'PATCH', headers }, body);\n};\n\n// --- pulse-meta parser (inline) ---\nconst decodeEntities = (s) => s.replace(/&quot;/g, '\"').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&#39;/g, \"'\");\nconst extractMeta = (html) => {\n  if (!html) return null;\n  // Pattern 1: raw markdown ```pulse-meta\\n{...}\\n```\n  let m = html.match(/```pulse-meta\\n([\\s\\S]*?)\\n```/);\n  if (m) try { return JSON.parse(m[1].trim()); } catch(e) { /* fall through */ }\n  // Pattern 2: HTML with class=\"language-pulse-meta\"\n  m = html.match(/<pre><code\\s+class=\"language-pulse-meta\">([\\s\\S]*?)<\\/code><\\/pre>/);\n  if (m) try { return JSON.parse(decodeEntities(m[1].trim())); } catch(e) { return null; }\n  // Pattern 3: HTML with any class (e.g. language-json)\n  m = html.match(/<pre><code\\s[^>]*>([\\s\\S]*?)<\\/code><\\/pre>/);\n  if (m) { const c = decodeEntities(m[1].trim()); if (c.includes('\"schema_version\"')) try { return JSON.parse(c); } catch(e) {} }\n  // Pattern 4: HTML no class\n  m = html.match(/<pre><code>([\\s\\S]*?)<\\/code><\\/pre>/);\n  if (m) { const c = decodeEntities(m[1].trim()); if (c.includes('\"schema_version\"')) try { return JSON.parse(c); } catch(e) {} }\n  // Pattern: inline <code> (Plane editor format, <br> line breaks)\n  m = html.match(/<code[^>]*>([\\s\\S]*?)<\\/code>/);\n  if (m) { const c = decodeEntities(m[1].trim()).replace(/<br\\s*\\/?>/g, '\\n'); if (c.includes('\"schema_version\"')) try { return JSON.parse(c); } catch(e) {} }\n  return null;\n};\n\n// --- Prompt template ---\n// Prompt source: prompts/w1-schedule-optimization.md\nconst SYSTEM_PROMPT = `You are a schedule optimization assistant that reorders and adjusts time slots for daily quests to maximize productivity based on energy levels and task dependencies.\n\nGiven the user's full quest list for today (including both routine-generated and AI-suggested tasks), optimize the schedule by:\n1. Assigning optimal routine_time values based on task type, priority, and typical energy patterns.\n2. Reordering tasks for priority and logical sequencing.\n3. Avoiding time conflicts and ensuring adequate spacing between tasks.\n\nConstraints:\n- You must return an entry for EVERY quest provided in the input — do not drop any.\n- routine_time must be in HH:MM format (24-hour, KST timezone).\n- priority must be one of: urgent, high, medium, low.\n- Higher priority tasks should generally be scheduled earlier in the day when energy is higher.\n- Mandatory tasks should not be moved to low-energy time slots.\n- Short tasks (< 30 min) can fill gaps between longer tasks.\n- All output must be in English.\n\nYou MUST respond with valid JSON: { \"optimized_quests\": [...] }\nEach entry: { \"issue_id\": \"...\", \"name\": \"...\", \"routine_time\": \"HH:MM\", \"priority\": \"...\", \"rationale\": \"...\" }`;\n\nconst VALID_PRIORITIES = ['urgent', 'high', 'medium', 'low'];\nconst priorityMap = { urgent: 4, high: 3, medium: 2, low: 1 };\n\n// --- Validation ---\nconst validateResponse = (parsed, expectedCount) => {\n  if (!parsed || !Array.isArray(parsed.optimized_quests)) return 'Missing optimized_quests array';\n  if (expectedCount && parsed.optimized_quests.length !== expectedCount) return `Expected ${expectedCount} quests but got ${parsed.optimized_quests.length} — do not drop any`;\n  for (const q of parsed.optimized_quests) {\n    if (!q.issue_id || typeof q.issue_id !== 'string') return 'Invalid issue_id';\n    if (!q.routine_time || !/^\\d{2}:\\d{2}$/.test(q.routine_time)) return `Invalid routine_time: ${q.routine_time}`;\n    if (!VALID_PRIORITIES.includes(q.priority)) return `Invalid priority: ${q.priority}`;\n  }\n  return null;\n};\n\n// --- Main Logic ---\nconst startTime = Date.now();\nlet llmUsage = {};\nlet llmDurationMs = 0;\nlet optimizedCount = 0;\n\ntry {\n  // Check LLM budget\n  if (totalLlmMs >= LLM_BUDGET_MS) {\n    console.log(`[SKIP] Step 4: LLM budget exceeded (${totalLlmMs}ms / ${LLM_BUDGET_MS}ms)`);\n    return [{ json: {\n      success: true,\n      data: { ...prevData, step_4_skipped: true, step_4_reason: 'DEEPSEEK_BUDGET_EXCEEDED', step_4_optimized: 0 },\n      error: { code: 'DEEPSEEK_BUDGET_EXCEEDED', message: `LLM budget exceeded: ${totalLlmMs}ms used of ${LLM_BUDGET_MS}ms` },\n      metadata: { step: 'step_4_llm_schedule_optimization', timestamp: new Date().toISOString(), items_processed: 0, items_failed: 0, dry_run: isDryRun, llm_duration_ms: 0, llm_usage: {}, skipped: true, llm_budget_used_ms: totalLlmMs }\n    }}];\n  }\n\n  // Check if DeepSeek is configured\n  if (!dsConfig.api_key) {\n    console.log('[SKIP] Step 4: PULSE_DEEPSEEK_API_KEY not configured');\n    return [{ json: {\n      success: true,\n      data: { ...prevData, step_4_skipped: true, step_4_reason: 'DEEPSEEK_NOT_CONFIGURED', step_4_optimized: 0 },\n      error: null,\n      metadata: { step: 'step_4_llm_schedule_optimization', timestamp: new Date().toISOString(), items_processed: 0, items_failed: 0, dry_run: isDryRun, llm_duration_ms: 0, llm_usage: {}, skipped: true }\n    }}];\n  }\n\n  // Fetch all today's quests from Plane.so (includes Step 2 + Step 3 created quests)\n  let todayQuests = [];\n  try {\n    const res = await apiGet(`/projects/${config.daily_quest_project_id}/issues/?per_page=100&expand=labels,state&target_date=${todayStr}&state=${config.states.todo}`);\n    todayQuests = res.results || res || [];\n  } catch (e) {\n    console.log(`[ERROR] Step 4: Failed to fetch today's quests: ${e.message}`);\n    return [{ json: {\n      success: true,\n      data: { ...prevData, step_4_skipped: true, step_4_reason: 'PLANE_API_ERROR', step_4_optimized: 0 },\n      error: { code: 'PLANE_API_ERROR', message: e.message },\n      metadata: { step: 'step_4_llm_schedule_optimization', timestamp: new Date().toISOString(), items_processed: 0, items_failed: 0, dry_run: isDryRun, llm_duration_ms: 0, llm_usage: {}, skipped: true }\n    }}];\n  }\n\n  if (todayQuests.length === 0) {\n    console.log('[SKIP] Step 4: No quests to optimize');\n    return [{ json: {\n      success: true,\n      data: { ...prevData, step_4_skipped: true, step_4_reason: 'NO_QUESTS', step_4_optimized: 0 },\n      error: null,\n      metadata: { step: 'step_4_llm_schedule_optimization', timestamp: new Date().toISOString(), items_processed: 0, items_failed: 0, dry_run: isDryRun, llm_duration_ms: 0, llm_usage: {}, skipped: true }\n    }}];\n  }\n\n  // Build user prompt with quest details\n  const questList = todayQuests.map(q => {\n    const meta = extractMeta(q.description_html);\n    return {\n      issue_id: q.id,\n      name: q.name,\n      routine_time: meta?.routine_time || '--:--',\n      duration_min: meta?.routine_duration_min || 30,\n      priority: meta?.routine_priority || 'medium',\n      mandatory: meta?.routine_mandatory || false,\n    };\n  });\n\n  const userPrompt = `Today: ${todayStr}\\n\\nQuests to optimize (${questList.length} total):\\n${JSON.stringify(questList, null, 2)}`;\n\n  // Call DeepSeek with P-3 pattern\n  let result;\n  try {\n    result = await withBackoff(() => callDeepSeek(SYSTEM_PROMPT, userPrompt, 0.7), 'Step 4');\n  } catch (e) {\n    const code = e.name === 'AbortError' || e.message?.includes('timeout') ? 'DEEPSEEK_TIMEOUT' : 'DEEPSEEK_API_ERROR';\n    console.log(`[ERROR] Step 4 DeepSeek call failed: ${e.message}`);\n    return [{ json: {\n      success: true,\n      data: { ...prevData, step_4_skipped: true, step_4_reason: code, step_4_optimized: 0 },\n      error: { code, message: e.message },\n      metadata: { step: 'step_4_llm_schedule_optimization', timestamp: new Date().toISOString(), items_processed: 0, items_failed: 0, dry_run: isDryRun, llm_duration_ms: Date.now() - startTime, llm_usage: {}, skipped: true }\n    }}];\n  }\n\n  llmUsage = result.usage;\n\n  // Parse and validate\n  let parsed;\n  try {\n    parsed = JSON.parse(result.content);\n    const err = validateResponse(parsed, todayQuests.length);\n    if (err) throw new Error(err);\n  } catch (parseErr) {\n    console.log(`[WARN] Step 4 JSON validation failed: ${parseErr.message}. Retrying with temperature: 0.1`);\n    try {\n      result = await callDeepSeek(SYSTEM_PROMPT, userPrompt, 0.1);\n      llmUsage = result.usage;\n      parsed = JSON.parse(result.content);\n      const err = validateResponse(parsed, todayQuests.length);\n      if (err) throw new Error(err);\n    } catch (retryErr) {\n      console.log(`[ERROR] Step 4 second validation failed: ${retryErr.message}`);\n      return [{ json: {\n        success: true,\n        data: { ...prevData, step_4_skipped: true, step_4_reason: 'DEEPSEEK_JSON_PARSE_ERROR', step_4_optimized: 0 },\n        error: { code: 'DEEPSEEK_JSON_PARSE_ERROR', message: retryErr.message },\n        metadata: { step: 'step_4_llm_schedule_optimization', timestamp: new Date().toISOString(), items_processed: 0, items_failed: 0, dry_run: isDryRun, llm_duration_ms: Date.now() - startTime, llm_usage: llmUsage, skipped: true }\n      }}];\n    }\n  }\n\n  llmDurationMs = Date.now() - startTime;\n  totalLlmMs += llmDurationMs;\n  const optimized = parsed.optimized_quests || [];\n  console.log(`[INFO] Step 4: DeepSeek returned ${optimized.length} optimized quest(s) in ${llmDurationMs}ms | tokens: prompt=${llmUsage.prompt_tokens || 0}, completion=${llmUsage.completion_tokens || 0}, total=${llmUsage.total_tokens || 0}`);\n\n  // Apply optimizations to Plane.so issues\n  const questMap = new Map(todayQuests.map(q => [q.id, q]));\n\n  for (const opt of optimized) {\n    const quest = questMap.get(opt.issue_id);\n    if (!quest) {\n      console.log(`[WARN] Step 4: issue_id ${opt.issue_id} not found in today's quests`);\n      continue;\n    }\n\n    // Update pulse-meta in description with new time and priority\n    const meta = extractMeta(quest.description_html);\n    if (!meta) continue;\n\n    meta.routine_time = opt.routine_time;\n    meta.routine_priority = opt.priority;\n    const newMetaBlock = `<pre><code class=\"language-pulse-meta\">${JSON.stringify(meta, null, 2)}</code></pre>`;\n    // Preserve existing description content outside pulse-meta block\n    let updatedDescription = quest.description_html || '';\n    const metaPatterns = [\n      /```pulse-meta\\n[\\s\\S]*?\\n```/,\n      /<pre><code\\s+class=\"language-pulse-meta\">[\\s\\S]*?<\\/code><\\/pre>/,\n      /<pre><code>[\\s\\S]*?\"schema_version\"[\\s\\S]*?<\\/code><\\/pre>/,\n    ];\n    let replaced = false;\n    for (const pat of metaPatterns) {\n      if (pat.test(updatedDescription)) {\n        updatedDescription = updatedDescription.replace(pat, newMetaBlock);\n        replaced = true;\n        break;\n      }\n    }\n    if (!replaced) updatedDescription = newMetaBlock + updatedDescription;\n\n    if (isDryRun) {\n      console.log(`[DRY_RUN] Would optimize \"${quest.name}\": time=${opt.routine_time}, priority=${opt.priority}`);\n      optimizedCount++;\n    } else {\n      try {\n        await apiPatch(`/projects/${config.daily_quest_project_id}/issues/${quest.id}/`, {\n          description_html: updatedDescription,\n          priority: priorityMap[opt.priority] ?? quest.priority,\n        });\n        optimizedCount++;\n      } catch (e) {\n        console.log(`[ERROR] Failed to update quest \"${quest.name}\": ${e.message}`);\n      }\n    }\n  }\n\n  return [{ json: {\n    success: true,\n    data: {\n      ...prevData,\n      step_4_skipped: false,\n      step_4_optimized: optimizedCount,\n    },\n    error: null,\n    metadata: {\n      step: 'step_4_llm_schedule_optimization',\n      timestamp: new Date().toISOString(),\n      items_processed: optimizedCount,\n      items_failed: optimized.length - optimizedCount,\n      dry_run: isDryRun,\n      llm_duration_ms: llmDurationMs,\n      llm_usage: llmUsage,\n      skipped: false,\n      llm_budget_used_ms: totalLlmMs,\n    }\n  }}];\n} catch (e) {\n  console.log(`[ERROR] Step 4 unexpected error: ${e.message}`);\n  return [{ json: {\n    success: true,\n    data: { ...prevData, step_4_skipped: true, step_4_reason: 'UNEXPECTED_ERROR', step_4_optimized: 0 },\n    error: { code: 'DEEPSEEK_API_ERROR', message: e.message },\n    metadata: { step: 'step_4_llm_schedule_optimization', timestamp: new Date().toISOString(), items_processed: 0, items_failed: 0, dry_run: isDryRun, llm_duration_ms: Date.now() - startTime, llm_usage: llmUsage, skipped: true }\n  }}];\n}"
      },
      "id": "w1-step4",
      "name": "Code: Step 4 LLM Schedule Optimization",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// W1 Step 5: LLM Deferred Quest Restoration\n// ===========================================\n// Sends deferred quest list and today's load to DeepSeek.\n// LLM evaluates each deferred quest for restoration based on\n// priority, defer_count, available time, mandatory flag.\n// Follows P-3 branching pattern.\n\nconst https = require('https');\nconst _fetch = (url, opts = {}, body) => new Promise((ok, fail) => {\n  const r = https.request(url, { method: opts.method || 'GET', headers: opts.headers, timeout: opts.timeout || 30000 }, (res) => {\n    let d = '';\n    res.on('data', c => d += c);\n    res.on('end', () => {\n      if (res.statusCode >= 400) return fail(new Error(`HTTP ${res.statusCode}: ${d.substring(0,300)}`));\n      try { ok(JSON.parse(d)); } catch { ok(d); }\n    });\n  });\n  r.on('error', fail);\n  r.on('timeout', () => { r.destroy(); fail(new Error('timeout')); });\n  if (body) r.write(typeof body === 'string' ? body : JSON.stringify(body));\n  r.end();\n});\n\n\nconst prevResult = $input.first().json;\nconst prevData = prevResult.data || {};\nconst step1Data = prevData.step_1 || {};\nconst todayStr = prevData.today_date;\n\nconst config = {\n  base_url: $env.PULSE_PLANE_BASE_URL,\n  workspace_slug: $env.PULSE_PLANE_WORKSPACE_SLUG,\n  api_key: $env.PULSE_PLANE_API_KEY,\n  daily_quest_project_id: $env.PULSE_DAILY_QUEST_PROJECT_ID,\n  states: {\n    todo: $env.PULSE_STATE_TODO_ID,\n    deferred: $env.PULSE_STATE_DEFERRED_ID,\n  },\n};\n\nconst dsConfig = {\n  api_key: $env.PULSE_DEEPSEEK_API_KEY,\n  base_url: $env.PULSE_DEEPSEEK_BASE_URL || 'https://api.deepseek.com/v1',\n  model: $env.PULSE_DEEPSEEK_MODEL || 'deepseek-chat',\n};\n\nconst basePath = `${config.base_url}/api/v1/workspaces/${config.workspace_slug}`;\nconst headers = { 'X-API-Key': config.api_key, 'Content-Type': 'application/json' };\nconst isDryRun = ($env.PULSE_DRY_RUN || 'false').toLowerCase() === 'true' || ($env.PULSE_DRY_RUN || '0') === '1';\nconst tz = $env.PULSE_USER_TIMEZONE || 'Asia/Seoul';\n\n// --- LLM budget tracking ---\nconst prevLlmMs = prevResult.metadata?.llm_budget_used_ms ?? prevResult.metadata?.llm_duration_ms ?? 0;\nconst LLM_BUDGET_MS = 180000;\nlet totalLlmMs = prevLlmMs;\n\n// --- Retry helpers ---\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst BACKOFF = [1000, 2000, 4000];\n\nconst withBackoff = async (fn, ctx) => {\n  for (let i = 0; i < 3; i++) {\n    try { return await fn(); } catch (e) {\n      console.log(`[RETRY] DeepSeek ${ctx} attempt ${i + 1}/3: ${e.message}`);\n      if (i === 2) throw e;\n      await sleep(BACKOFF[i]);\n    }\n  }\n};\n\nconst PER_STEP_TIMEOUT = 60000;\n\nconst callDeepSeek = async (systemPrompt, userPrompt, temperature = 0.7) => {\n  const r = await _fetch(`${dsConfig.base_url}/chat/completions`, { method: 'POST', headers: { 'Authorization': `Bearer ${dsConfig.api_key}`, 'Content-Type': 'application/json' }, timeout: PER_STEP_TIMEOUT }, {\n    model: dsConfig.model,\n    messages: [{ role: 'system', content: systemPrompt }, { role: 'user', content: userPrompt }],\n    temperature,\n    max_tokens: 2048,\n    response_format: { type: 'json_object' },\n  });\n  return { content: r.choices?.[0]?.message?.content, usage: r.usage || {} };\n};\n\n// --- Plane.so helpers ---\nconst apiGet = async (path) => {\n  return await _fetch(`${basePath}${path}`, { headers });\n};\nconst apiPatch = async (path, body) => {\n  return await _fetch(`${basePath}${path}`, { method: 'PATCH', headers }, body);\n};\nconst apiPost = async (path, body) => {\n  return await _fetch(`${basePath}${path}`, { method: 'POST', headers }, body);\n};\n\n// --- pulse-meta parser (inline) ---\nconst decodeEntities = (s) => s.replace(/&quot;/g, '\"').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&#39;/g, \"'\");\nconst extractMeta = (html) => {\n  if (!html) return null;\n  // Pattern 1: raw markdown ```pulse-meta\\n{...}\\n```\n  let m = html.match(/```pulse-meta\\n([\\s\\S]*?)\\n```/);\n  if (m) try { return JSON.parse(m[1].trim()); } catch(e) { /* fall through */ }\n  // Pattern 2: HTML with class=\"language-pulse-meta\"\n  m = html.match(/<pre><code\\s+class=\"language-pulse-meta\">([\\s\\S]*?)<\\/code><\\/pre>/);\n  if (m) try { return JSON.parse(decodeEntities(m[1].trim())); } catch(e) { return null; }\n  // Pattern 3: HTML with any class (e.g. language-json)\n  m = html.match(/<pre><code\\s[^>]*>([\\s\\S]*?)<\\/code><\\/pre>/);\n  if (m) { const c = decodeEntities(m[1].trim()); if (c.includes('\"schema_version\"')) try { return JSON.parse(c); } catch(e) {} }\n  // Pattern 4: HTML no class\n  m = html.match(/<pre><code>([\\s\\S]*?)<\\/code><\\/pre>/);\n  if (m) { const c = decodeEntities(m[1].trim()); if (c.includes('\"schema_version\"')) try { return JSON.parse(c); } catch(e) {} }\n  // Pattern: inline <code> (Plane editor format, <br> line breaks)\n  m = html.match(/<code[^>]*>([\\s\\S]*?)<\\/code>/);\n  if (m) { const c = decodeEntities(m[1].trim()).replace(/<br\\s*\\/?>/g, '\\n'); if (c.includes('\"schema_version\"')) try { return JSON.parse(c); } catch(e) {} }\n  return null;\n};\n\n// --- Prompt template ---\n// Prompt source: prompts/w1-deferred-restoration.md\nconst SYSTEM_PROMPT = `You are a task triage assistant that evaluates deferred quests and decides which ones should be restored to today's schedule based on priority, available capacity, and deferral history.\n\nGiven the user's deferred quest list and today's current quest load, evaluate each deferred quest for restoration. Consider:\n1. Priority: Higher priority deferred quests should be restored first.\n2. Defer count: Quests deferred many times may indicate low relevance, or urgency if mandatory.\n3. Available time: Only restore quests if there is sufficient available time in today's schedule.\n4. Mandatory flag: Mandatory quests should be prioritized for restoration.\n\nConstraints:\n- Only recommend restoration for quests that fit within available capacity.\n- Each entry must include: issue_id (string), name (string), restore (boolean), rationale (string, 1-2 sentences).\n- Do NOT restore quests that would overload the user's day.\n- Consider the total duration of today's existing quests vs available hours.\n- All output must be in English.\n\nYou MUST respond with valid JSON: { \"restorations\": [...] }\nEach entry: { \"issue_id\": \"...\", \"name\": \"...\", \"restore\": true/false, \"rationale\": \"...\" }`;\n\n// --- Validation ---\nconst validateResponse = (parsed) => {\n  if (!parsed || !Array.isArray(parsed.restorations)) return 'Missing restorations array';\n  for (const r of parsed.restorations) {\n    if (!r.issue_id || typeof r.issue_id !== 'string') return 'Invalid issue_id';\n    if (typeof r.restore !== 'boolean') return `Invalid restore value for ${r.issue_id}`;\n  }\n  return null;\n};\n\n// --- Main Logic ---\nconst startTime = Date.now();\nlet llmUsage = {};\nlet llmDurationMs = 0;\nlet restoredCount = 0;\nconst restoredQuests = [];\n\ntry {\n  // Check LLM budget\n  if (totalLlmMs >= LLM_BUDGET_MS) {\n    console.log(`[SKIP] Step 5: LLM budget exceeded (${totalLlmMs}ms / ${LLM_BUDGET_MS}ms)`);\n    return [{ json: {\n      success: true,\n      data: { ...prevData, step_5_skipped: true, step_5_reason: 'DEEPSEEK_BUDGET_EXCEEDED', step_5_restored: 0, step_5_restorations: [] },\n      error: { code: 'DEEPSEEK_BUDGET_EXCEEDED', message: `LLM budget exceeded: ${totalLlmMs}ms used of ${LLM_BUDGET_MS}ms` },\n      metadata: { step: 'step_5_llm_deferred_restoration', timestamp: new Date().toISOString(), items_processed: 0, items_failed: 0, dry_run: isDryRun, llm_duration_ms: 0, llm_usage: {}, skipped: true, llm_budget_used_ms: totalLlmMs }\n    }}];\n  }\n\n  // Check if DeepSeek is configured\n  if (!dsConfig.api_key) {\n    console.log('[SKIP] Step 5: PULSE_DEEPSEEK_API_KEY not configured');\n    return [{ json: {\n      success: true,\n      data: { ...prevData, step_5_skipped: true, step_5_reason: 'DEEPSEEK_NOT_CONFIGURED', step_5_restored: 0, step_5_restorations: [] },\n      error: null,\n      metadata: { step: 'step_5_llm_deferred_restoration', timestamp: new Date().toISOString(), items_processed: 0, items_failed: 0, dry_run: isDryRun, llm_duration_ms: 0, llm_usage: {}, skipped: true }\n    }}];\n  }\n\n  // Fetch deferred quests\n  let deferredQuests = [];\n  try {\n    const res = await apiGet(`/projects/${config.daily_quest_project_id}/issues/?per_page=100&expand=labels,state&state=${config.states.deferred}`);\n    deferredQuests = res.results || res || [];\n  } catch (e) {\n    console.log(`[ERROR] Step 5: Failed to fetch deferred quests: ${e.message}`);\n    return [{ json: {\n      success: true,\n      data: { ...prevData, step_5_skipped: true, step_5_reason: 'PLANE_API_ERROR', step_5_restored: 0, step_5_restorations: [] },\n      error: { code: 'PLANE_API_ERROR', message: e.message },\n      metadata: { step: 'step_5_llm_deferred_restoration', timestamp: new Date().toISOString(), items_processed: 0, items_failed: 0, dry_run: isDryRun, llm_duration_ms: 0, llm_usage: {}, skipped: true }\n    }}];\n  }\n\n  if (deferredQuests.length === 0) {\n    console.log('[SKIP] Step 5: No deferred quests to evaluate');\n    return [{ json: {\n      success: true,\n      data: { ...prevData, step_5_skipped: true, step_5_reason: 'NO_DEFERRED_QUESTS', step_5_restored: 0, step_5_restorations: [] },\n      error: null,\n      metadata: { step: 'step_5_llm_deferred_restoration', timestamp: new Date().toISOString(), items_processed: 0, items_failed: 0, dry_run: isDryRun, llm_duration_ms: 0, llm_usage: {}, skipped: true }\n    }}];\n  }\n\n  // Fetch today's current quest load for context\n  let todayQuests = [];\n  try {\n    const res = await apiGet(`/projects/${config.daily_quest_project_id}/issues/?per_page=100&expand=labels,state&target_date=${todayStr}&state=${config.states.todo}`);\n    todayQuests = res.results || res || [];\n  } catch (e) {\n    console.log(`[WARN] Step 5: Could not fetch today's load: ${e.message}`);\n  }\n\n  // Build deferred quest details\n  const deferredList = deferredQuests.map(q => {\n    const meta = extractMeta(q.description_html);\n    return {\n      issue_id: q.id,\n      name: q.name,\n      defer_count: meta?.defer_count || 0,\n      priority: meta?.routine_priority || 'medium',\n      mandatory: meta?.routine_mandatory || false,\n      duration_min: meta?.routine_duration_min || 30,\n    };\n  });\n\n  // Build today's load summary\n  let todayTotalMin = 0;\n  const todayList = todayQuests.map(q => {\n    const meta = extractMeta(q.description_html);\n    const dur = meta?.routine_duration_min || 30;\n    todayTotalMin += dur;\n    return { name: q.name, duration_min: dur, priority: meta?.routine_priority || 'medium' };\n  });\n\n  const userPrompt = `Today: ${todayStr}\\n\\nToday's Current Quests (${todayQuests.length} quests, ${todayTotalMin} min total):\\n${JSON.stringify(todayList, null, 2)}\\n\\nDeferred Quests to Evaluate (${deferredList.length}):\\n${JSON.stringify(deferredList, null, 2)}`;\n\n  // Call DeepSeek with P-3 pattern\n  let result;\n  try {\n    result = await withBackoff(() => callDeepSeek(SYSTEM_PROMPT, userPrompt, 0.7), 'Step 5');\n  } catch (e) {\n    const code = e.name === 'AbortError' || e.message?.includes('timeout') ? 'DEEPSEEK_TIMEOUT' : 'DEEPSEEK_API_ERROR';\n    console.log(`[ERROR] Step 5 DeepSeek call failed: ${e.message}`);\n    return [{ json: {\n      success: true,\n      data: { ...prevData, step_5_skipped: true, step_5_reason: code, step_5_restored: 0, step_5_restorations: [] },\n      error: { code, message: e.message },\n      metadata: { step: 'step_5_llm_deferred_restoration', timestamp: new Date().toISOString(), items_processed: 0, items_failed: 0, dry_run: isDryRun, llm_duration_ms: Date.now() - startTime, llm_usage: {}, skipped: true }\n    }}];\n  }\n\n  llmUsage = result.usage;\n\n  // Parse and validate\n  let parsed;\n  try {\n    parsed = JSON.parse(result.content);\n    const err = validateResponse(parsed);\n    if (err) throw new Error(err);\n  } catch (parseErr) {\n    console.log(`[WARN] Step 5 JSON validation failed: ${parseErr.message}. Retrying with temperature: 0.1`);\n    try {\n      result = await callDeepSeek(SYSTEM_PROMPT, userPrompt, 0.1);\n      llmUsage = result.usage;\n      parsed = JSON.parse(result.content);\n      const err = validateResponse(parsed);\n      if (err) throw new Error(err);\n    } catch (retryErr) {\n      console.log(`[ERROR] Step 5 second validation failed: ${retryErr.message}`);\n      return [{ json: {\n        success: true,\n        data: { ...prevData, step_5_skipped: true, step_5_reason: 'DEEPSEEK_JSON_PARSE_ERROR', step_5_restored: 0, step_5_restorations: [] },\n        error: { code: 'DEEPSEEK_JSON_PARSE_ERROR', message: retryErr.message },\n        metadata: { step: 'step_5_llm_deferred_restoration', timestamp: new Date().toISOString(), items_processed: 0, items_failed: 0, dry_run: isDryRun, llm_duration_ms: Date.now() - startTime, llm_usage: llmUsage, skipped: true }\n      }}];\n    }\n  }\n\n  llmDurationMs = Date.now() - startTime;\n  totalLlmMs += llmDurationMs;\n  const restorations = parsed.restorations || [];\n  const toRestore = restorations.filter(r => r.restore === true);\n  console.log(`[INFO] Step 5: DeepSeek evaluated ${restorations.length} deferred quest(s), recommends restoring ${toRestore.length} in ${llmDurationMs}ms | tokens: prompt=${llmUsage.prompt_tokens || 0}, completion=${llmUsage.completion_tokens || 0}, total=${llmUsage.total_tokens || 0}`);\n\n  // Apply restorations to Plane.so\n  const deferredMap = new Map(deferredQuests.map(q => [q.id, q]));\n\n  for (const restoration of toRestore) {\n    const quest = deferredMap.get(restoration.issue_id);\n    if (!quest) {\n      console.log(`[WARN] Step 5: issue_id ${restoration.issue_id} not found in deferred quests`);\n      continue;\n    }\n\n    if (isDryRun) {\n      console.log(`[DRY_RUN] Would restore deferred quest: \"${quest.name}\"`);\n      restoredQuests.push({ id: quest.id, name: quest.name, rationale: restoration.rationale, dry_run: true });\n      restoredCount++;\n    } else {\n      try {\n        // Move from Deferred to To-Do with target_date = today\n        await apiPatch(`/projects/${config.daily_quest_project_id}/issues/${quest.id}/`, {\n          state: config.states.todo,\n          target_date: todayStr,\n        });\n\n        // Add restoration comment (F-1: automated actions use [00:00])\n        await apiPost(`/projects/${config.daily_quest_project_id}/issues/${quest.id}/comments/`, {\n          comment_html: `<p>\\uD83D\\uDD04 [00:00] Restored from deferred by LLM (reason: ${restoration.rationale || 'N/A'})</p>`\n        });\n\n        restoredQuests.push({ id: quest.id, name: quest.name, rationale: restoration.rationale });\n        restoredCount++;\n      } catch (e) {\n        console.log(`[ERROR] Failed to restore quest \"${quest.name}\": ${e.message}`);\n      }\n    }\n  }\n\n  return [{ json: {\n    success: true,\n    data: {\n      ...prevData,\n      step_5_skipped: false,\n      step_5_restored: restoredCount,\n      step_5_restorations: restoredQuests,\n    },\n    error: null,\n    metadata: {\n      step: 'step_5_llm_deferred_restoration',\n      timestamp: new Date().toISOString(),\n      items_processed: restoredCount,\n      items_failed: toRestore.length - restoredCount,\n      dry_run: isDryRun,\n      llm_duration_ms: llmDurationMs,\n      llm_usage: llmUsage,\n      skipped: false,\n      llm_budget_used_ms: totalLlmMs,\n    }\n  }}];\n} catch (e) {\n  console.log(`[ERROR] Step 5 unexpected error: ${e.message}`);\n  return [{ json: {\n    success: true,\n    data: { ...prevData, step_5_skipped: true, step_5_reason: 'UNEXPECTED_ERROR', step_5_restored: 0, step_5_restorations: [] },\n    error: { code: 'DEEPSEEK_API_ERROR', message: e.message },\n    metadata: { step: 'step_5_llm_deferred_restoration', timestamp: new Date().toISOString(), items_processed: 0, items_failed: 0, dry_run: isDryRun, llm_duration_ms: Date.now() - startTime, llm_usage: llmUsage, skipped: true }\n  }}];\n}"
      },
      "id": "w1-step5",
      "name": "Code: Step 5 LLM Deferred Restoration",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        300
      ]
    }
  ],
  "connections": {
    "Cron: Daily 00:00 KST": {
      "main": [
        [
          {
            "node": "Code: Step 1 Deferred Migration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Step 1 Deferred Migration": {
      "main": [
        [
          {
            "node": "Code: Step 2 Routine Copy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Step 2 Routine Copy": {
      "main": [
        [
          {
            "node": "Code: Step 3 LLM Task Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Step 3 LLM Task Generation": {
      "main": [
        [
          {
            "node": "Code: Step 4 LLM Schedule Optimization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Step 4 LLM Schedule Optimization": {
      "main": [
        [
          {
            "node": "Code: Step 5 LLM Deferred Restoration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Step 5 LLM Deferred Restoration": {
      "main": [
        [
          {
            "node": "Code: Execution Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Execution Summary": {
      "main": [
        [
          {
            "node": "Code: Check DRY_RUN Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Check DRY_RUN Notify": {
      "main": [
        [
          {
            "node": "IF: Should Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Should Notify": {
      "main": [
        [
          {
            "node": "Push: Notify LobeHub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Log DRY_RUN Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "w5-error-handler",
    "timezone": "Asia/Seoul"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "pinData": {}
}
