workflows/w2-lobehub-command-handler.json
{
  "name": "w2-lobehub-command-handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pulse-command",
        "authentication": "headerAuth",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "id": "w2-webhook",
      "name": "Webhook: Command Entry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "pulse-command"
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// W2 Command Router\n// ===========================================\n// Validates API key, extracts action, routes to handler.\n\nconst body = $input.first().json.body || $input.first().json;\nconst action = (body.action || '').toLowerCase().trim();\nconst target = body.target || null;\nconst params = body.params || {};\n\n// Valid actions\nconst validActions = [\n  'today', 'complete', 'cancel', 'defer', 'restore', 'edit',\n  'add', 'regen', 'brief', 'stats', 'deferred', 'preview',\n  'weekly', 'help', 'ping'\n];\n\nif (!validActions.includes(action)) {\n  return [{\n    json: {\n      response_type: 'error',\n      message: `\\u274C [UNKNOWN_COMMAND] Unknown command '${action}'. Type /help for available commands.`,\n      data: { error_code: 'UNKNOWN_COMMAND' },\n      suggestions: ['Type /help for available commands'],\n      awaiting_input: false,\n      _route: 'error'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    action,\n    target,\n    params,\n    _route: action\n  }\n}];"
      },
      "id": "w2-router",
      "name": "Code: Command Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "today",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "today"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "help",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "help"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "ping",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "ping"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "error"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "complete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "complete"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "cancel",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "cancel"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "defer",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "defer"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "add",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "add"
            }
          ],
          "fallbackOutput": {
            "conditions": {},
            "outputKey": "unimplemented"
          }
        },
        "options": {}
      },
      "id": "w2-switch",
      "name": "Switch: Route Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// /today — Quest Board View\n// ===========================================\n// Queries Daily Quests project for today's issues,\n// formats response grouped by state buckets.\n\nconst config = {\n  base_url: $env.PULSE_PLANE_BASE_URL,\n  workspace_slug: $env.PULSE_PLANE_WORKSPACE_SLUG,\n  api_key: $env.PULSE_PLANE_API_KEY,\n  daily_quest_project_id: $env.PULSE_DAILY_QUEST_PROJECT_ID,\n};\n\nconst basePath = `${config.base_url}/api/v1/workspaces/${config.workspace_slug}`;\nconst headers = { 'X-API-Key': config.api_key, 'Content-Type': 'application/json' };\nconst tz = $env.PULSE_USER_TIMEZONE || 'Asia/Seoul';\n\n// --- Retry helper ---\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst MAX_RETRIES = 3;\nconst RETRY_MS = 5000;\nconst withRetry = async (fn, ctx) => {\n  for (let i = 1; i <= MAX_RETRIES; i++) {\n    try { return await fn(); } catch (e) {\n      console.log(`[RETRY] ${ctx} attempt ${i}/${MAX_RETRIES}: ${e.message}`);\n      if (i === MAX_RETRIES) throw e;\n      await sleep(RETRY_MS);\n    }\n  }\n};\n\nconst apiGet = async (path) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'GET', headers });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\n// --- Meta extractor ---\nconst decodeEntities = (s) => s.replace(/&quot;/g, '\"').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&#39;/g, \"'\").replace(/&apos;/g, \"'\");\nconst extractMeta = (html) => {\n  if (!html) return null;\n  try {\n    let m = html.match(/<pre><code\\s+class=\"language-pulse-meta\">([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (m) return JSON.parse(decodeEntities(m[1].trim()));\n    m = html.match(/<pre><code>([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (m) { const c = decodeEntities(m[1].trim()); if (c.includes('\"schema_version\"')) return JSON.parse(c); }\n    m = html.match(/```pulse-meta\\s*\\n([\\s\\S]*?)\\n\\s*```/);\n    if (m) return JSON.parse(m[1].trim());\n  } catch (e) { return null; }\n  return null;\n};\n\n// --- Priority ---\nconst PRIORITY_EMOJI = { 4: '\\uD83D\\uDD34', 3: '\\uD83D\\uDFE0', 2: '\\uD83D\\uDFE1', 1: '\\uD83D\\uDFE2', 0: '\\uD83D\\uDFE2' };\nconst PRIORITY_NAME = { 4: 'urgent', 3: 'high', 2: 'medium', 1: 'low', 0: 'none' };\nconst formatDuration = (min) => {\n  if (!min) return '';\n  if (min >= 60) { const h = Math.floor(min / 60); const m = min % 60; return m > 0 ? `${h}h${m}min` : `${h}h`; }\n  return `${min}min`;\n};\n\n// --- State config ---\nconst STATE_ORDER = ['To-Do', 'In Progress', 'Deferred', 'Done', 'Canceled'];\nconst STATE_EMOJI = { 'To-Do': '\\uD83D\\uDCCB', 'In Progress': '\\u23F3', 'Deferred': '\\u23F8\\uFE0F', 'Done': '\\u2705', 'Canceled': '\\uD83D\\uDEAB' };\n\ntry {\n  const todayStr = new Date().toLocaleDateString('en-CA', { timeZone: tz });\n  const dayName = new Date().toLocaleDateString('en-US', { timeZone: tz, weekday: 'short' });\n\n  // Fetch today's quests\n  const result = await withRetry(\n    () => apiGet(`/projects/${config.daily_quest_project_id}/issues/?per_page=100&expand=labels,state&target_date=${todayStr}`),\n    'Fetch today quests'\n  );\n  const quests = result.results || result || [];\n\n  // Group by state\n  const grouped = {};\n  for (const s of STATE_ORDER) grouped[s] = [];\n\n  for (const q of quests) {\n    const stateName = q.state_detail?.name || 'To-Do';\n    if (!grouped[stateName]) grouped[stateName] = [];\n    grouped[stateName].push(q);\n  }\n\n  // Check degraded mode from project description\n  let degradedMode = false;\n  try {\n    const projRes = await withRetry(\n      () => apiGet(`/projects/${config.daily_quest_project_id}/`),\n      'Fetch project status'\n    );\n    const projDesc = projRes.description_html || '';\n    const statusMatch = projDesc.match(/<pre><code\\s+class=\"language-pulse-status\">([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (statusMatch) {\n      const status = JSON.parse(statusMatch[1]);\n      if (status.last_run === todayStr && status.degraded_mode) {\n        degradedMode = true;\n      }\n    }\n  } catch (e) {\n    console.log(`[WARN] Could not read project status: ${e.message}`);\n  }\n\n  // Format header\n  let header = `\\uD83D\\uDCCB ${todayStr} (${dayName}) Today's Quests`;\n  if (degradedMode) {\n    header = `\\u26A0\\uFE0F [DEGRADED_MODE] AI features temporarily unavailable. Routine-based quests generated normally.\\n\\n${header}`;\n  }\n\n  // Build body\n  let body = '';\n  for (const state of STATE_ORDER) {\n    const items = grouped[state];\n    if (!items || items.length === 0) continue;\n    const emoji = STATE_EMOJI[state] || '';\n    body += `\\n${emoji} **${state}** (${items.length})\\n`;\n    for (const q of items) {\n      const pEmoji = PRIORITY_EMOJI[q.priority] || '\\uD83D\\uDFE1';\n      const meta = extractMeta(q.description_html);\n      const time = meta?.routine_time || '--:--';\n      const dur = meta?.routine_duration_min ? formatDuration(meta.routine_duration_min) : '';\n      const deferSuffix = meta?.defer_count > 0 ? ` (deferred x${meta.defer_count})` : '';\n      body += `  ${pEmoji} ${q.name} \\u2014 ${time}${dur ? ` (${dur})` : ''}${deferSuffix}\\n`;\n    }\n  }\n\n  if (quests.length === 0) {\n    body = '\\n_No quests for today. Enjoy your free day!_\\n';\n  }\n\n  return [{\n    json: {\n      response_type: 'quest_board',\n      message: `${header}\\n${body}`,\n      data: {\n        total: quests.length,\n        by_state: Object.fromEntries(STATE_ORDER.map((s) => [s, (grouped[s] || []).length])),\n      },\n      suggestions: [],\n      awaiting_input: false,\n    }\n  }];\n} catch (e) {\n  return [{\n    json: {\n      response_type: 'error',\n      message: `\\u274C [W2-TODAY] [PLANE_API_ERROR] Failed to fetch today's quests: ${e.message}. Please check Plane.so API configuration.`,\n      data: { error_code: 'PLANE_API_ERROR' },\n      suggestions: ['Check n8n execution logs', 'Verify Plane.so connectivity'],\n      awaiting_input: false,\n    }\n  }];\n}"
      },
      "id": "w2-today",
      "name": "Code: /today Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 140]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// /help — Command Reference\n// ===========================================\n\nconst helpText = `\\uD83D\\uDCDA **pulse Command Reference**\n\n**\\uD83D\\uDD0D Query Commands**\n  \\u2022 \\`/today\\` \\u2014 View today's quest board\n  \\u2022 \\`/brief\\` \\u2014 View top 5 milestone briefings\n  \\u2022 \\`/brief all\\` \\u2014 View all milestones\n  \\u2022 \\`/stats {N}\\` \\u2014 View N-day statistics (default: 7)\n  \\u2022 \\`/deferred\\` \\u2014 View all deferred quests\n  \\u2022 \\`/preview\\` \\u2014 Preview tomorrow's quests\n  \\u2022 \\`/weekly\\` \\u2014 Weekly summary report\n\n**\\u2705 Interactive Commands**\n  \\u2022 \\`/complete\\` \\u2014 Mark quests as completed\n  \\u2022 \\`/cancel\\` \\u2014 Cancel quests\n  \\u2022 \\`/defer\\` \\u2014 Defer quests to later\n  \\u2022 \\`/restore\\` \\u2014 Restore deferred quests\n  \\u2022 \\`/edit\\` \\u2014 Edit quest time or priority\n\n**\\u26A1 Action Commands**\n  \\u2022 \\`/add {name} {duration}\\` \\u2014 Add a manual quest\n  \\u2022 \\`/regen\\` \\u2014 Regenerate today's quests\n\n_Tip: Interactive commands show a numbered list. Reply with numbers to select (e.g., 1,3 or 1-3)._`;\n\nreturn [{\n  json: {\n    response_type: 'info',\n    message: helpText,\n    data: null,\n    suggestions: [],\n    awaiting_input: false,\n  }\n}];"
      },
      "id": "w2-help",
      "name": "Code: /help Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "jsCode": "// Ping handler for connectivity test\nreturn [{\n  json: {\n    response_type: 'info',\n    message: 'pong',\n    data: { status: 'ok', timestamp: new Date().toISOString() },\n    suggestions: [],\n    awaiting_input: false,\n  }\n}];"
      },
      "id": "w2-ping",
      "name": "Code: Ping Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 460]
    },
    {
      "parameters": {
        "jsCode": "// Pass through error response from router\nreturn [$input.first()];"
      },
      "id": "w2-error-pass",
      "name": "Code: Error Passthrough",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 620]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// /complete — Interactive Quest Completion\n// ===========================================\n// Phase 1 (no target): List today's To-Do/In Progress quests\n// Phase 2 (with target): Move selected quests to Done state\n\nconst config = {\n  base_url: $env.PULSE_PLANE_BASE_URL,\n  workspace_slug: $env.PULSE_PLANE_WORKSPACE_SLUG,\n  api_key: $env.PULSE_PLANE_API_KEY,\n  daily_quest_project_id: $env.PULSE_DAILY_QUEST_PROJECT_ID,\n  state_todo: $env.PULSE_STATE_TODO_ID,\n  state_in_progress: $env.PULSE_STATE_IN_PROGRESS_ID,\n  state_done: $env.PULSE_STATE_DONE_ID,\n};\n\nconst basePath = `${config.base_url}/api/v1/workspaces/${config.workspace_slug}`;\nconst headers = { 'X-API-Key': config.api_key, 'Content-Type': 'application/json' };\nconst tz = $env.PULSE_USER_TIMEZONE || 'Asia/Seoul';\n\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst MAX_RETRIES = 3;\nconst RETRY_MS = 5000;\nconst withRetry = async (fn, ctx) => {\n  for (let i = 1; i <= MAX_RETRIES; i++) {\n    try { return await fn(); } catch (e) {\n      console.log(`[RETRY] ${ctx} attempt ${i}/${MAX_RETRIES}: ${e.message}`);\n      if (i === MAX_RETRIES) throw e;\n      await sleep(RETRY_MS);\n    }\n  }\n};\n\nconst apiGet = async (path) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'GET', headers });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst apiPatch = async (path, body) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'PATCH', headers, body: JSON.stringify(body) });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst apiPost = async (path, body) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'POST', headers, body: JSON.stringify(body) });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst decodeEntities = (s) => s.replace(/&quot;/g, '\"').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&#39;/g, \"'\").replace(/&apos;/g, \"'\");\nconst extractMeta = (html) => {\n  if (!html) return null;\n  try {\n    let m = html.match(/<pre><code\\s+class=\"language-pulse-meta\">([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (m) return JSON.parse(decodeEntities(m[1].trim()));\n    m = html.match(/<pre><code>([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (m) { const c = decodeEntities(m[1].trim()); if (c.includes('\"schema_version\"')) return JSON.parse(c); }\n    m = html.match(/```pulse-meta\\s*\\n([\\s\\S]*?)\\n\\s*```/);\n    if (m) return JSON.parse(m[1].trim());\n  } catch (e) { return null; }\n  return null;\n};\n\nconst PRIORITY_EMOJI = { 4: '\\uD83D\\uDD34', 3: '\\uD83D\\uDFE0', 2: '\\uD83D\\uDFE1', 1: '\\uD83D\\uDFE2', 0: '\\uD83D\\uDFE2' };\nconst PRIORITY_NAME = { 4: 'urgent', 3: 'high', 2: 'medium', 1: 'low', 0: 'none' };\nconst formatDuration = (min) => {\n  if (!min) return '';\n  if (min >= 60) { const h = Math.floor(min / 60); const m = min % 60; return m > 0 ? `${h}h${m}min` : `${h}h`; }\n  return `${min}min`;\n};\n\nconst target = $input.first().json.target;\n\ntry {\n  const todayStr = new Date().toLocaleDateString('en-CA', { timeZone: tz });\n  const projId = config.daily_quest_project_id;\n\n  if (!target) {\n    // Phase 1: List quests available for completion\n    const result = await withRetry(\n      () => apiGet(`/projects/${projId}/issues/?per_page=100&expand=labels,state&target_date=${todayStr}`),\n      'Fetch today quests'\n    );\n    const allQuests = result.results || result || [];\n    const actionable = allQuests.filter(q => {\n      const sn = q.state_detail?.name;\n      return sn === 'To-Do' || sn === 'In Progress';\n    });\n\n    if (actionable.length === 0) {\n      return [{ json: {\n        response_type: 'info',\n        message: '\\u2139\\uFE0F No quests available to complete. All quests are already done or canceled.',\n        data: null, suggestions: ['Try /today to view your quest board'], awaiting_input: false\n      }}];\n    }\n\n    // Build numbered list\n    let list = '';\n    for (let i = 0; i < actionable.length; i++) {\n      const q = actionable[i];\n      const pEmoji = PRIORITY_EMOJI[q.priority] || '\\uD83D\\uDFE1';\n      const pName = PRIORITY_NAME[q.priority] || 'medium';\n      const meta = extractMeta(q.description_html);\n      const time = meta?.routine_time || '--:--';\n      const dur = meta?.routine_duration_min ? formatDuration(meta.routine_duration_min) : '';\n      const deferSuffix = meta?.defer_count > 0 ? ` (deferred x${meta.defer_count})` : '';\n      list += `${i + 1}. [${pEmoji} ${pName}] ${q.name} \\u2014 ${time}${dur ? ` (${dur})` : ''}${deferSuffix}\\n`;\n    }\n\n    return [{ json: {\n      response_type: 'list',\n      message: list,\n      data: { quest_ids: actionable.map(q => q.id), count: actionable.length },\n      suggestions: ['Enter number(s) (e.g., 1,3 or 1-3):'],\n      awaiting_input: true\n    }}];\n  }\n\n  // Phase 2: Complete selected quests\n  const issueIds = target.split(',').map(s => s.trim()).filter(Boolean);\n  const nowStr = new Date().toLocaleTimeString('en-GB', { timeZone: tz, hour: '2-digit', minute: '2-digit' });\n  let completed = 0;\n\n  for (const issueId of issueIds) {\n    await withRetry(\n      () => apiPatch(`/projects/${projId}/issues/${issueId}/`, { state: config.state_done }),\n      `Complete issue ${issueId}`\n    );\n    await withRetry(\n      () => apiPost(`/projects/${projId}/issues/${issueId}/comments/`, { comment_html: `<p>\\u2705 [${nowStr}] Quest completed by user</p>` }),\n      `Comment on ${issueId}`\n    );\n    completed++;\n  }\n\n  return [{ json: {\n    response_type: 'confirmation',\n    message: `\\u2705 ${completed} quest${completed !== 1 ? 's' : ''} completed!`,\n    data: { completed_count: completed, issue_ids: issueIds },\n    suggestions: ['Type /today to see updated board'],\n    awaiting_input: false\n  }}];\n} catch (e) {\n  return [{ json: {\n    response_type: 'error',\n    message: `\\u274C [W2-COMPLETE] [PLANE_API_ERROR] ${e.message}. Please check Plane.so API configuration.`,\n    data: { error_code: 'PLANE_API_ERROR' },\n    suggestions: ['Check n8n execution logs'],\n    awaiting_input: false\n  }}];\n}"
      },
      "id": "w2-complete",
      "name": "Code: /complete Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 840]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// /cancel — Interactive Quest Cancellation\n// ===========================================\n// Phase 1 (no target): List today's To-Do/In Progress quests\n// Phase 2 (with target): Move selected quests to Canceled state\n\nconst config = {\n  base_url: $env.PULSE_PLANE_BASE_URL,\n  workspace_slug: $env.PULSE_PLANE_WORKSPACE_SLUG,\n  api_key: $env.PULSE_PLANE_API_KEY,\n  daily_quest_project_id: $env.PULSE_DAILY_QUEST_PROJECT_ID,\n  state_canceled: $env.PULSE_STATE_CANCELED_ID,\n};\n\nconst basePath = `${config.base_url}/api/v1/workspaces/${config.workspace_slug}`;\nconst headers = { 'X-API-Key': config.api_key, 'Content-Type': 'application/json' };\nconst tz = $env.PULSE_USER_TIMEZONE || 'Asia/Seoul';\n\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst MAX_RETRIES = 3;\nconst RETRY_MS = 5000;\nconst withRetry = async (fn, ctx) => {\n  for (let i = 1; i <= MAX_RETRIES; i++) {\n    try { return await fn(); } catch (e) {\n      console.log(`[RETRY] ${ctx} attempt ${i}/${MAX_RETRIES}: ${e.message}`);\n      if (i === MAX_RETRIES) throw e;\n      await sleep(RETRY_MS);\n    }\n  }\n};\n\nconst apiGet = async (path) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'GET', headers });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst apiPatch = async (path, body) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'PATCH', headers, body: JSON.stringify(body) });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst apiPost = async (path, body) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'POST', headers, body: JSON.stringify(body) });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst decodeEntities = (s) => s.replace(/&quot;/g, '\"').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&#39;/g, \"'\").replace(/&apos;/g, \"'\");\nconst extractMeta = (html) => {\n  if (!html) return null;\n  try {\n    let m = html.match(/<pre><code\\s+class=\"language-pulse-meta\">([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (m) return JSON.parse(decodeEntities(m[1].trim()));\n    m = html.match(/<pre><code>([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (m) { const c = decodeEntities(m[1].trim()); if (c.includes('\"schema_version\"')) return JSON.parse(c); }\n    m = html.match(/```pulse-meta\\s*\\n([\\s\\S]*?)\\n\\s*```/);\n    if (m) return JSON.parse(m[1].trim());\n  } catch (e) { return null; }\n  return null;\n};\n\nconst PRIORITY_EMOJI = { 4: '\\uD83D\\uDD34', 3: '\\uD83D\\uDFE0', 2: '\\uD83D\\uDFE1', 1: '\\uD83D\\uDFE2', 0: '\\uD83D\\uDFE2' };\nconst PRIORITY_NAME = { 4: 'urgent', 3: 'high', 2: 'medium', 1: 'low', 0: 'none' };\nconst formatDuration = (min) => {\n  if (!min) return '';\n  if (min >= 60) { const h = Math.floor(min / 60); const m = min % 60; return m > 0 ? `${h}h${m}min` : `${h}h`; }\n  return `${min}min`;\n};\n\nconst target = $input.first().json.target;\n\ntry {\n  const todayStr = new Date().toLocaleDateString('en-CA', { timeZone: tz });\n  const projId = config.daily_quest_project_id;\n\n  if (!target) {\n    // Phase 1: List quests available for cancellation\n    const result = await withRetry(\n      () => apiGet(`/projects/${projId}/issues/?per_page=100&expand=labels,state&target_date=${todayStr}`),\n      'Fetch today quests'\n    );\n    const allQuests = result.results || result || [];\n    const actionable = allQuests.filter(q => {\n      const sn = q.state_detail?.name;\n      return sn === 'To-Do' || sn === 'In Progress';\n    });\n\n    if (actionable.length === 0) {\n      return [{ json: {\n        response_type: 'info',\n        message: '\\u2139\\uFE0F No quests available to cancel.',\n        data: null, suggestions: ['Try /today to view your quest board'], awaiting_input: false\n      }}];\n    }\n\n    let list = '';\n    for (let i = 0; i < actionable.length; i++) {\n      const q = actionable[i];\n      const pEmoji = PRIORITY_EMOJI[q.priority] || '\\uD83D\\uDFE1';\n      const pName = PRIORITY_NAME[q.priority] || 'medium';\n      const meta = extractMeta(q.description_html);\n      const time = meta?.routine_time || '--:--';\n      const dur = meta?.routine_duration_min ? formatDuration(meta.routine_duration_min) : '';\n      const deferSuffix = meta?.defer_count > 0 ? ` (deferred x${meta.defer_count})` : '';\n      list += `${i + 1}. [${pEmoji} ${pName}] ${q.name} \\u2014 ${time}${dur ? ` (${dur})` : ''}${deferSuffix}\\n`;\n    }\n\n    return [{ json: {\n      response_type: 'list',\n      message: list,\n      data: { quest_ids: actionable.map(q => q.id), count: actionable.length },\n      suggestions: ['Enter number(s) (e.g., 1,3 or 1-3):'],\n      awaiting_input: true\n    }}];\n  }\n\n  // Phase 2: Cancel selected quests\n  const issueIds = target.split(',').map(s => s.trim()).filter(Boolean);\n  const nowStr = new Date().toLocaleTimeString('en-GB', { timeZone: tz, hour: '2-digit', minute: '2-digit' });\n  let canceled = 0;\n\n  for (const issueId of issueIds) {\n    await withRetry(\n      () => apiPatch(`/projects/${projId}/issues/${issueId}/`, { state: config.state_canceled }),\n      `Cancel issue ${issueId}`\n    );\n    await withRetry(\n      () => apiPost(`/projects/${projId}/issues/${issueId}/comments/`, { comment_html: `<p>\\uD83D\\uDEAB [${nowStr}] Canceled by user</p>` }),\n      `Comment on ${issueId}`\n    );\n    canceled++;\n  }\n\n  return [{ json: {\n    response_type: 'confirmation',\n    message: `\\uD83D\\uDEAB ${canceled} quest${canceled !== 1 ? 's' : ''} canceled.`,\n    data: { canceled_count: canceled, issue_ids: issueIds },\n    suggestions: ['Type /today to see updated board'],\n    awaiting_input: false\n  }}];\n} catch (e) {\n  return [{ json: {\n    response_type: 'error',\n    message: `\\u274C [W2-CANCEL] [PLANE_API_ERROR] ${e.message}. Please check Plane.so API configuration.`,\n    data: { error_code: 'PLANE_API_ERROR' },\n    suggestions: ['Check n8n execution logs'],\n    awaiting_input: false\n  }}];\n}"
      },
      "id": "w2-cancel",
      "name": "Code: /cancel Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 1000]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// /defer — Interactive Quest Deferral with Warning\n// ===========================================\n// Phase 1 (no target): List today's To-Do/In Progress quests\n// Phase 2 (with target): Move selected quests to Deferred state,\n//   increment defer_count, warn if defer_count >= 3\n\nconst config = {\n  base_url: $env.PULSE_PLANE_BASE_URL,\n  workspace_slug: $env.PULSE_PLANE_WORKSPACE_SLUG,\n  api_key: $env.PULSE_PLANE_API_KEY,\n  daily_quest_project_id: $env.PULSE_DAILY_QUEST_PROJECT_ID,\n  state_deferred: $env.PULSE_STATE_DEFERRED_ID,\n};\n\nconst basePath = `${config.base_url}/api/v1/workspaces/${config.workspace_slug}`;\nconst headers = { 'X-API-Key': config.api_key, 'Content-Type': 'application/json' };\nconst tz = $env.PULSE_USER_TIMEZONE || 'Asia/Seoul';\n\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst MAX_RETRIES = 3;\nconst RETRY_MS = 5000;\nconst withRetry = async (fn, ctx) => {\n  for (let i = 1; i <= MAX_RETRIES; i++) {\n    try { return await fn(); } catch (e) {\n      console.log(`[RETRY] ${ctx} attempt ${i}/${MAX_RETRIES}: ${e.message}`);\n      if (i === MAX_RETRIES) throw e;\n      await sleep(RETRY_MS);\n    }\n  }\n};\n\nconst apiGet = async (path) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'GET', headers });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst apiPatch = async (path, body) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'PATCH', headers, body: JSON.stringify(body) });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst apiPost = async (path, body) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'POST', headers, body: JSON.stringify(body) });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst decodeEntities = (s) => s.replace(/&quot;/g, '\"').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&#39;/g, \"'\").replace(/&apos;/g, \"'\");\nconst extractMeta = (html) => {\n  if (!html) return null;\n  try {\n    let m = html.match(/<pre><code\\s+class=\"language-pulse-meta\">([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (m) return JSON.parse(decodeEntities(m[1].trim()));\n    m = html.match(/<pre><code>([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (m) { const c = decodeEntities(m[1].trim()); if (c.includes('\"schema_version\"')) return JSON.parse(c); }\n    m = html.match(/```pulse-meta\\s*\\n([\\s\\S]*?)\\n\\s*```/);\n    if (m) return JSON.parse(m[1].trim());\n  } catch (e) { return null; }\n  return null;\n};\n\nconst updateMetaInHtml = (html, updates) => {\n  if (!html) return html;\n  const meta = extractMeta(html);\n  if (!meta) return html;\n  const updated = { ...meta, ...updates };\n  const json = JSON.stringify(updated, null, 2);\n  // Replace existing pulse-meta block\n  let result = html.replace(/<pre><code\\s+class=\"language-pulse-meta\">[\\s\\S]*?<\\/code><\\/pre>/, `<pre><code class=\"language-pulse-meta\">${json}</code></pre>`);\n  if (result === html) {\n    result = html.replace(/<pre><code>[\\s\\S]*?<\\/code><\\/pre>/, `<pre><code class=\"language-pulse-meta\">${json}</code></pre>`);\n  }\n  return result;\n};\n\nconst PRIORITY_EMOJI = { 4: '\\uD83D\\uDD34', 3: '\\uD83D\\uDFE0', 2: '\\uD83D\\uDFE1', 1: '\\uD83D\\uDFE2', 0: '\\uD83D\\uDFE2' };\nconst PRIORITY_NAME = { 4: 'urgent', 3: 'high', 2: 'medium', 1: 'low', 0: 'none' };\nconst formatDuration = (min) => {\n  if (!min) return '';\n  if (min >= 60) { const h = Math.floor(min / 60); const m = min % 60; return m > 0 ? `${h}h${m}min` : `${h}h`; }\n  return `${min}min`;\n};\n\nconst target = $input.first().json.target;\n\ntry {\n  const todayStr = new Date().toLocaleDateString('en-CA', { timeZone: tz });\n  const projId = config.daily_quest_project_id;\n\n  if (!target) {\n    // Phase 1: List quests available for deferral\n    const result = await withRetry(\n      () => apiGet(`/projects/${projId}/issues/?per_page=100&expand=labels,state&target_date=${todayStr}`),\n      'Fetch today quests'\n    );\n    const allQuests = result.results || result || [];\n    const actionable = allQuests.filter(q => {\n      const sn = q.state_detail?.name;\n      return sn === 'To-Do' || sn === 'In Progress';\n    });\n\n    if (actionable.length === 0) {\n      return [{ json: {\n        response_type: 'info',\n        message: '\\u2139\\uFE0F No quests available to defer.',\n        data: null, suggestions: ['Try /today to view your quest board'], awaiting_input: false\n      }}];\n    }\n\n    let list = '';\n    for (let i = 0; i < actionable.length; i++) {\n      const q = actionable[i];\n      const pEmoji = PRIORITY_EMOJI[q.priority] || '\\uD83D\\uDFE1';\n      const pName = PRIORITY_NAME[q.priority] || 'medium';\n      const meta = extractMeta(q.description_html);\n      const time = meta?.routine_time || '--:--';\n      const dur = meta?.routine_duration_min ? formatDuration(meta.routine_duration_min) : '';\n      const deferCount = meta?.defer_count || 0;\n      const deferSuffix = deferCount > 0 ? ` (deferred x${deferCount})` : '';\n      list += `${i + 1}. [${pEmoji} ${pName}] ${q.name} \\u2014 ${time}${dur ? ` (${dur})` : ''}${deferSuffix}\\n`;\n    }\n\n    return [{ json: {\n      response_type: 'list',\n      message: list,\n      data: { quest_ids: actionable.map(q => q.id), count: actionable.length },\n      suggestions: ['Enter number(s) (e.g., 1,3 or 1-3):'],\n      awaiting_input: true\n    }}];\n  }\n\n  // Phase 2: Defer selected quests\n  const issueIds = target.split(',').map(s => s.trim()).filter(Boolean);\n  const nowStr = new Date().toLocaleTimeString('en-GB', { timeZone: tz, hour: '2-digit', minute: '2-digit' });\n  let deferred = 0;\n  const warnings = [];\n\n  for (const issueId of issueIds) {\n    // Fetch current issue to get description and defer_count\n    const issue = await withRetry(\n      () => apiGet(`/projects/${projId}/issues/${issueId}/?expand=labels,state`),\n      `Fetch issue ${issueId}`\n    );\n\n    const meta = extractMeta(issue.description_html);\n    const currentCount = meta?.defer_count || 0;\n    const newCount = currentCount + 1;\n\n    // Update defer_count in description\n    const updatedHtml = updateMetaInHtml(issue.description_html, { defer_count: newCount });\n\n    // Move to Deferred state and update description\n    await withRetry(\n      () => apiPatch(`/projects/${projId}/issues/${issueId}/`, {\n        state: config.state_deferred,\n        description_html: updatedHtml\n      }),\n      `Defer issue ${issueId}`\n    );\n\n    // Add comment\n    await withRetry(\n      () => apiPost(`/projects/${projId}/issues/${issueId}/comments/`, {\n        comment_html: `<p>\\u23F8\\uFE0F [${nowStr}] Deferred by user (count: ${newCount})</p>`\n      }),\n      `Comment on ${issueId}`\n    );\n\n    if (newCount >= 3) {\n      warnings.push(`\\u26A0\\uFE0F \"${issue.name}\" has been deferred ${newCount} times. Consider removing it.`);\n    }\n\n    deferred++;\n  }\n\n  let message = `\\u23F8\\uFE0F ${deferred} quest${deferred !== 1 ? 's' : ''} deferred.`;\n  if (warnings.length > 0) {\n    message += '\\n\\n' + warnings.join('\\n');\n  }\n\n  return [{ json: {\n    response_type: 'confirmation',\n    message,\n    data: { deferred_count: deferred, issue_ids: issueIds, warnings },\n    suggestions: ['Type /today to see updated board'],\n    awaiting_input: false\n  }}];\n} catch (e) {\n  return [{ json: {\n    response_type: 'error',\n    message: `\\u274C [W2-DEFER] [PLANE_API_ERROR] ${e.message}. Please check Plane.so API configuration.`,\n    data: { error_code: 'PLANE_API_ERROR' },\n    suggestions: ['Check n8n execution logs'],\n    awaiting_input: false\n  }}];\n}"
      },
      "id": "w2-defer",
      "name": "Code: /defer Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 1160]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// /add — Manual Quest Addition\n// ===========================================\n// Creates a new quest in the Daily Quests project\n// Expects params: { name, duration } or { name, duration, priority }\n\nconst config = {\n  base_url: $env.PULSE_PLANE_BASE_URL,\n  workspace_slug: $env.PULSE_PLANE_WORKSPACE_SLUG,\n  api_key: $env.PULSE_PLANE_API_KEY,\n  daily_quest_project_id: $env.PULSE_DAILY_QUEST_PROJECT_ID,\n  state_todo: $env.PULSE_STATE_TODO_ID,\n};\n\nconst basePath = `${config.base_url}/api/v1/workspaces/${config.workspace_slug}`;\nconst headers = { 'X-API-Key': config.api_key, 'Content-Type': 'application/json' };\nconst tz = $env.PULSE_USER_TIMEZONE || 'Asia/Seoul';\n\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst MAX_RETRIES = 3;\nconst RETRY_MS = 5000;\nconst withRetry = async (fn, ctx) => {\n  for (let i = 1; i <= MAX_RETRIES; i++) {\n    try { return await fn(); } catch (e) {\n      console.log(`[RETRY] ${ctx} attempt ${i}/${MAX_RETRIES}: ${e.message}`);\n      if (i === MAX_RETRIES) throw e;\n      await sleep(RETRY_MS);\n    }\n  }\n};\n\nconst apiPost = async (path, body) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'POST', headers, body: JSON.stringify(body) });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst params = $input.first().json.params || {};\n\ntry {\n  const name = params.name;\n  const durationStr = params.duration;\n\n  if (!name || !durationStr) {\n    return [{ json: {\n      response_type: 'error',\n      message: '\\u274C [INVALID_PARAMS] Usage: /add {name} {duration} (e.g., /add Code Review 1h)',\n      data: { error_code: 'INVALID_PARAMS' },\n      suggestions: ['Example: /add Code Review 1h', 'Example: /add Bug Fix 30min'],\n      awaiting_input: false\n    }}];\n  }\n\n  // Parse duration string (e.g., '1h', '30min', '1h30min', '90min')\n  let durationMin = 0;\n  const hMatch = durationStr.match(/(\\d+)h/);\n  const mMatch = durationStr.match(/(\\d+)m(?:in)?/);\n  if (hMatch) durationMin += parseInt(hMatch[1]) * 60;\n  if (mMatch) durationMin += parseInt(mMatch[1]);\n  if (durationMin === 0) {\n    // Try plain number as minutes\n    const plain = parseInt(durationStr);\n    if (!isNaN(plain) && plain > 0) durationMin = plain;\n  }\n\n  if (durationMin <= 0) {\n    return [{ json: {\n      response_type: 'error',\n      message: `\\u274C [INVALID_PARAMS] Invalid duration: '${durationStr}'. Use formats like 1h, 30min, or 1h30min.`,\n      data: { error_code: 'INVALID_PARAMS' },\n      suggestions: ['Example: 1h, 30min, 1h30min, 90'],\n      awaiting_input: false\n    }}];\n  }\n\n  const todayStr = new Date().toLocaleDateString('en-CA', { timeZone: tz });\n  const nowStr = new Date().toLocaleTimeString('en-GB', { timeZone: tz, hour: '2-digit', minute: '2-digit' });\n\n  // Priority mapping: default medium (2)\n  const priorityMap = { urgent: 4, high: 3, medium: 2, low: 1, none: 0 };\n  const priority = priorityMap[params.priority] ?? 2;\n\n  // Build pulse-meta for the manually added quest\n  const meta = {\n    schema_version: 1,\n    routine_type: 'manual',\n    routine_time: nowStr,\n    routine_duration_min: durationMin,\n    routine_priority: Object.keys(priorityMap).find(k => priorityMap[k] === priority) || 'medium',\n    source_type: 'manual',\n    quest_date: todayStr,\n    defer_count: 0\n  };\n\n  const descriptionHtml = `<pre><code class=\"language-pulse-meta\">${JSON.stringify(meta, null, 2)}</code></pre>`;\n\n  // Format duration for display\n  const formatDuration = (min) => {\n    if (min >= 60) { const h = Math.floor(min / 60); const m = min % 60; return m > 0 ? `${h}h${m}min` : `${h}h`; }\n    return `${min}min`;\n  };\n\n  const projId = config.daily_quest_project_id;\n  await withRetry(\n    () => apiPost(`/projects/${projId}/issues/`, {\n      name,\n      description_html: descriptionHtml,\n      priority,\n      state: config.state_todo,\n      target_date: todayStr,\n      start_date: todayStr\n    }),\n    'Create manual quest'\n  );\n\n  return [{ json: {\n    response_type: 'confirmation',\n    message: `\\u2705 Quest added: \"${name}\" (${formatDuration(durationMin)})`,\n    data: { name, duration_min: durationMin, priority },\n    suggestions: ['Type /today to see updated board'],\n    awaiting_input: false\n  }}];\n} catch (e) {\n  return [{ json: {\n    response_type: 'error',\n    message: `\\u274C [W2-ADD] [PLANE_API_ERROR] ${e.message}. Please check Plane.so API configuration.`,\n    data: { error_code: 'PLANE_API_ERROR' },\n    suggestions: ['Check n8n execution logs'],\n    awaiting_input: false\n  }}];\n}"
      },
      "id": "w2-add",
      "name": "Code: /add Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 1320]
    },
    {
      "parameters": {
        "jsCode": "// Unimplemented command handler\nconst action = $input.first().json.action || 'unknown';\nreturn [{\n  json: {\n    response_type: 'info',\n    message: `\\u2139\\uFE0F Command /${action} is not yet implemented. It will be available in a future update.`,\n    data: { action },\n    suggestions: ['Type /help for available commands', 'Try /today to view your quest board'],\n    awaiting_input: false,\n  }\n}];"
      },
      "id": "w2-unimplemented",
      "name": "Code: Unimplemented Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 1480]
    },
    {
      "parameters": {
        "content": "## W2 - LobeHub Command Handler\n\n**Purpose:** Handle all slash commands from LobeHub via webhook.\n\n**Trigger:** Webhook — HTTP POST with X-API-Key auth.\n\n**Implemented Commands:**\n- /today — Quest board view\n- /complete — Interactive quest completion\n- /cancel — Interactive quest cancellation\n- /defer — Interactive quest deferral with warning\n- /add — Manual quest addition\n- /help — Command reference\n- ping — Connectivity test\n\n**Pending Commands (Epic 4+):**\n- /restore, /edit, /regen\n- /brief, /stats, /deferred, /preview, /weekly\n\n**Error Workflow:** W5 (error-handler)\n\n**Response Format:** Standard JSON: response_type, message, data, suggestions, awaiting_input",
        "height": 420,
        "width": 400
      },
      "id": "w2-sticky",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 520]
    }
  ],
  "connections": {
    "Webhook: Command Entry": {
      "main": [
        [
          { "node": "Code: Command Router", "type": "main", "index": 0 }
        ]
      ]
    },
    "Code: Command Router": {
      "main": [
        [
          { "node": "Switch: Route Command", "type": "main", "index": 0 }
        ]
      ]
    },
    "Switch: Route Command": {
      "main": [
        [
          { "node": "Code: /today Handler", "type": "main", "index": 0 }
        ],
        [
          { "node": "Code: /help Handler", "type": "main", "index": 0 }
        ],
        [
          { "node": "Code: Ping Handler", "type": "main", "index": 0 }
        ],
        [
          { "node": "Code: Error Passthrough", "type": "main", "index": 0 }
        ],
        [
          { "node": "Code: /complete Handler", "type": "main", "index": 0 }
        ],
        [
          { "node": "Code: /cancel Handler", "type": "main", "index": 0 }
        ],
        [
          { "node": "Code: /defer Handler", "type": "main", "index": 0 }
        ],
        [
          { "node": "Code: /add Handler", "type": "main", "index": 0 }
        ],
        [
          { "node": "Code: Unimplemented Handler", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "w5-error-handler"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "pinData": {}
}
