workflows/w2-lobehub-command-handler.json
{
  "name": "w2-lobehub-command-handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pulse-command",
        "authentication": "headerAuth",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "id": "w2-webhook",
      "name": "Webhook: Command Entry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "pulse-command"
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// W2 Command Router\n// ===========================================\n// Extracts action from request body, routes to handler.\n// Note: API key validation is handled by the webhook node's headerAuth.\n\nconst body = $input.first().json.body || $input.first().json;\nconst action = (body.action || '').toLowerCase().trim();\nconst target = body.target || null;\nconst params = body.params || {};\n\n// Valid actions\nconst validActions = [\n  'today', 'complete', 'cancel', 'defer', 'restore', 'edit',\n  'add', 'regen', 'brief', 'stats', 'deferred', 'preview',\n  'weekly', 'help', 'ping'\n];\n\nif (!validActions.includes(action)) {\n  return [{\n    json: {\n      response_type: 'error',\n      message: `\\u274C [UNKNOWN_COMMAND] Unknown command '${action}'. Type /help for available commands.`,\n      data: { error_code: 'UNKNOWN_COMMAND' },\n      suggestions: ['Type /help for available commands'],\n      awaiting_input: false,\n      _route: 'error'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    action,\n    target,\n    params,\n    _route: action\n  }\n}];"
      },
      "id": "w2-router",
      "name": "Code: Command Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "today",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "today"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "help",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "help"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "ping",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "ping"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "error"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "complete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "complete"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "cancel",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "cancel"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "defer",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "defer"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "add",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "add"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "brief",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "brief"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "stats",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "stats"
            }
          ],
          "fallbackOutput": {
            "conditions": {},
            "outputKey": "unimplemented"
          }
        },
        "options": {}
      },
      "id": "w2-switch",
      "name": "Switch: Route Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// /today — Quest Board View\n// ===========================================\n// Queries Daily Quests project for today's issues,\n// formats response grouped by state buckets.\n\nconst config = {\n  base_url: $env.PULSE_PLANE_BASE_URL,\n  workspace_slug: $env.PULSE_PLANE_WORKSPACE_SLUG,\n  api_key: $env.PULSE_PLANE_API_KEY,\n  daily_quest_project_id: $env.PULSE_DAILY_QUEST_PROJECT_ID,\n};\n\nconst basePath = `${config.base_url}/api/v1/workspaces/${config.workspace_slug}`;\nconst headers = { 'X-API-Key': config.api_key, 'Content-Type': 'application/json' };\nconst tz = $env.PULSE_USER_TIMEZONE || 'Asia/Seoul';\nconst DRY_RUN = ($env.PULSE_DRY_RUN || 'false').toLowerCase() === 'true' || ($env.PULSE_DRY_RUN || 'false') === '1';\n\n// --- Retry helper ---\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst MAX_RETRIES = 3;\nconst RETRY_MS = 5000;\nconst withRetry = async (fn, ctx) => {\n  for (let i = 1; i <= MAX_RETRIES; i++) {\n    try { return await fn(); } catch (e) {\n      console.log(`[RETRY] ${ctx} attempt ${i}/${MAX_RETRIES}: ${e.message}`);\n      if (i === MAX_RETRIES) {\n        const isTimeout = e.code === 'ETIMEDOUT' || e.code === 'ECONNABORTED' || e.message?.includes('timeout');\n        const errorCode = isTimeout ? 'PLANE_API_TIMEOUT' : 'PLANE_API_ERROR';\n        const err = new Error(`[${errorCode}] ${ctx}: ${e.message}`);\n        err.errorCode = errorCode;\n        throw err;\n      }\n      await sleep(RETRY_MS);\n    }\n  }\n};\n\nconst apiGet = async (path) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'GET', headers });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\n// --- Meta extractor ---\nconst decodeEntities = (s) => s.replace(/&quot;/g, '\"').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&#39;/g, \"'\").replace(/&apos;/g, \"'\");\nconst extractMeta = (html) => {\n  if (!html) return null;\n  try {\n    let m = html.match(/<pre><code\\s+class=\"language-pulse-meta\">([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (m) return JSON.parse(decodeEntities(m[1].trim()));\n    m = html.match(/<pre><code>([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (m) { const c = decodeEntities(m[1].trim()); if (c.includes('\"schema_version\"')) return JSON.parse(c); }\n    m = html.match(/```pulse-meta\\s*\\n([\\s\\S]*?)\\n\\s*```/);\n    if (m) return JSON.parse(m[1].trim());\n  } catch (e) { return null; }\n  return null;\n};\n\n// --- Priority ---\nconst PRIORITY_EMOJI = { 4: '\\uD83D\\uDD34', 3: '\\uD83D\\uDFE0', 2: '\\uD83D\\uDFE1', 1: '\\uD83D\\uDFE2', 0: '\\uD83D\\uDFE2' };\nconst PRIORITY_NAME = { 4: 'urgent', 3: 'high', 2: 'medium', 1: 'low', 0: 'none' };\nconst formatDuration = (min) => {\n  if (!min) return '';\n  if (min >= 60) { const h = Math.floor(min / 60); const m = min % 60; return m > 0 ? `${h}h${m}min` : `${h}h`; }\n  return `${min}min`;\n};\n\n// --- State config ---\nconst STATE_ORDER = ['To-Do', 'In Progress', 'Deferred', 'Done', 'Canceled'];\nconst STATE_EMOJI = { 'To-Do': '\\uD83D\\uDCCB', 'In Progress': '\\u23F3', 'Deferred': '\\u23F8\\uFE0F', 'Done': '\\u2705', 'Canceled': '\\uD83D\\uDEAB' };\n\ntry {\n  const todayStr = new Date().toLocaleDateString('en-CA', { timeZone: tz });\n  const dayName = new Date().toLocaleDateString('en-US', { timeZone: tz, weekday: 'short' });\n\n  // Fetch today's quests\n  const result = await withRetry(\n    () => apiGet(`/projects/${config.daily_quest_project_id}/issues/?per_page=100&expand=labels,state&target_date=${todayStr}`),\n    'Fetch today quests'\n  );\n  const quests = result.results || result || [];\n\n  // Group by state\n  const grouped = {};\n  for (const s of STATE_ORDER) grouped[s] = [];\n\n  for (const q of quests) {\n    const stateName = q.state_detail?.name || 'To-Do';\n    if (!grouped[stateName]) grouped[stateName] = [];\n    grouped[stateName].push(q);\n  }\n\n  // Check degraded mode from project description\n  let degradedMode = false;\n  try {\n    const projRes = await withRetry(\n      () => apiGet(`/projects/${config.daily_quest_project_id}/`),\n      'Fetch project status'\n    );\n    const projDesc = projRes.description_html || '';\n    const statusMatch = projDesc.match(/<pre><code\\s+class=\"language-pulse-status\">([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (statusMatch) {\n      const status = JSON.parse(statusMatch[1]);\n      if (status.last_run === todayStr && status.degraded_mode) {\n        degradedMode = true;\n      }\n    }\n  } catch (e) {\n    console.log(`[WARN] Could not read project status: ${e.message}`);\n  }\n\n  // Format header\n  let header = `\\uD83D\\uDCCB ${todayStr} (${dayName}) Today's Quests`;\n  if (degradedMode) {\n    header = `\\u26A0\\uFE0F [DEGRADED_MODE] AI features temporarily unavailable. Routine-based quests generated normally.\\n\\n${header}`;\n  }\n\n  // Build body\n  let body = '';\n  for (const state of STATE_ORDER) {\n    const items = grouped[state];\n    if (!items || items.length === 0) continue;\n    const emoji = STATE_EMOJI[state] || '';\n    body += `\\n${emoji} **${state}** (${items.length})\\n`;\n    for (const q of items) {\n      const pEmoji = PRIORITY_EMOJI[q.priority] || '\\uD83D\\uDFE1';\n      const meta = extractMeta(q.description_html);\n      const time = meta?.routine_time || '--:--';\n      const dur = meta?.routine_duration_min ? formatDuration(meta.routine_duration_min) : '';\n      const deferSuffix = meta?.defer_count > 0 ? ` (deferred x${meta.defer_count})` : '';\n      body += `  ${pEmoji} ${q.name} \\u2014 ${time}${dur ? ` (${dur})` : ''}${deferSuffix}\\n`;\n    }\n  }\n\n  if (quests.length === 0) {\n    body = '\\n_No quests for today. Enjoy your free day!_\\n';\n  }\n\n  return [{\n    json: {\n      response_type: 'quest_board',\n      message: `${header}\\n${body}`,\n      data: {\n        total: quests.length,\n        by_state: Object.fromEntries(STATE_ORDER.map((s) => [s, (grouped[s] || []).length])),\n      },\n      suggestions: [],\n      awaiting_input: false,\n    }\n  }];\n} catch (e) {\n  const code = e.errorCode || 'PLANE_API_ERROR';\n  const recovery = code === 'PLANE_API_TIMEOUT'\n    ? 'Please check Plane.so service status and try again later.'\n    : 'Please check Plane.so API configuration.';\n  return [{ json: {\n    response_type: 'error',\n    message: `\\u274C [W2-TODAY] [${code}] ${e.message}. ${recovery}`,\n    data: { error_code: code },\n    suggestions: ['Check n8n execution logs'],\n    awaiting_input: false\n  }}];\n}"
      },
      "id": "w2-today",
      "name": "Code: /today Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// /help — Command Reference\n// ===========================================\n\nconst helpText = `\\uD83D\\uDCDA **pulse Command Reference**\n\n**\\uD83D\\uDD0D Query Commands**\n  \\u2022 \\`/today\\` \\u2014 View today's quest board\n  \\u2022 \\`/brief\\` \\u2014 View top 5 milestone briefings\n  \\u2022 \\`/brief all\\` \\u2014 View all milestones\n  \\u2022 \\`/stats {N}\\` \\u2014 View N-day statistics (default: 7)\n  \\u2022 \\`/deferred\\` \\u2014 View all deferred quests\n  \\u2022 \\`/preview\\` \\u2014 Preview tomorrow's quests\n  \\u2022 \\`/weekly\\` \\u2014 Weekly summary report\n\n**\\u2705 Interactive Commands**\n  \\u2022 \\`/complete\\` \\u2014 Mark quests as completed\n  \\u2022 \\`/cancel\\` \\u2014 Cancel quests\n  \\u2022 \\`/defer\\` \\u2014 Defer quests to later\n  \\u2022 \\`/restore\\` \\u2014 Restore deferred quests\n  \\u2022 \\`/edit\\` \\u2014 Edit quest time or priority\n\n**\\u26A1 Immediate Commands**\n  \\u2022 \\`/add {name} {duration}\\` \\u2014 Add a manual quest\n\n**\\u2757 Confirm Commands**\n  \\u2022 \\`/regen\\` \\u2014 Regenerate today's quests\n\n_Tip: Interactive commands show a numbered list. Reply with numbers to select (e.g., 1,3 or 1-3)._`;\n\nreturn [{\n  json: {\n    response_type: 'info',\n    message: helpText,\n    data: null,\n    suggestions: [],\n    awaiting_input: false,\n  }\n}];"
      },
      "id": "w2-help",
      "name": "Code: /help Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Ping handler for connectivity test\nreturn [{\n  json: {\n    response_type: 'info',\n    message: 'pong',\n    data: { status: 'ok', timestamp: new Date().toISOString() },\n    suggestions: [],\n    awaiting_input: false,\n  }\n}];"
      },
      "id": "w2-ping",
      "name": "Code: Ping Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pass through error response from router\nreturn [$input.first()];"
      },
      "id": "w2-error-pass",
      "name": "Code: Error Passthrough",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        620
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// /complete — Interactive Quest Completion\n// ===========================================\n// Phase 1 (no target): List today's To-Do/In Progress quests\n// Phase 2 (with target): Move selected quests to Done state\n\nconst config = {\n  base_url: $env.PULSE_PLANE_BASE_URL,\n  workspace_slug: $env.PULSE_PLANE_WORKSPACE_SLUG,\n  api_key: $env.PULSE_PLANE_API_KEY,\n  daily_quest_project_id: $env.PULSE_DAILY_QUEST_PROJECT_ID,\n  state_todo: $env.PULSE_STATE_TODO_ID,\n  state_in_progress: $env.PULSE_STATE_IN_PROGRESS_ID,\n  state_done: $env.PULSE_STATE_DONE_ID,\n};\n\nconst basePath = `${config.base_url}/api/v1/workspaces/${config.workspace_slug}`;\nconst headers = { 'X-API-Key': config.api_key, 'Content-Type': 'application/json' };\nconst tz = $env.PULSE_USER_TIMEZONE || 'Asia/Seoul';\nconst DRY_RUN = ($env.PULSE_DRY_RUN || 'false').toLowerCase() === 'true' || ($env.PULSE_DRY_RUN || 'false') === '1';\n\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst MAX_RETRIES = 3;\nconst RETRY_MS = 5000;\nconst withRetry = async (fn, ctx) => {\n  for (let i = 1; i <= MAX_RETRIES; i++) {\n    try { return await fn(); } catch (e) {\n      console.log(`[RETRY] ${ctx} attempt ${i}/${MAX_RETRIES}: ${e.message}`);\n      if (i === MAX_RETRIES) {\n        const isTimeout = e.code === 'ETIMEDOUT' || e.code === 'ECONNABORTED' || e.message?.includes('timeout');\n        const errorCode = isTimeout ? 'PLANE_API_TIMEOUT' : 'PLANE_API_ERROR';\n        const err = new Error(`[${errorCode}] ${ctx}: ${e.message}`);\n        err.errorCode = errorCode;\n        throw err;\n      }\n      await sleep(RETRY_MS);\n    }\n  }\n};\n\nconst apiGet = async (path) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'GET', headers });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst apiPatch = async (path, body) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'PATCH', headers, body: JSON.stringify(body) });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst apiPost = async (path, body) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'POST', headers, body: JSON.stringify(body) });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst decodeEntities = (s) => s.replace(/&quot;/g, '\"').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&#39;/g, \"'\").replace(/&apos;/g, \"'\");\nconst extractMeta = (html) => {\n  if (!html) return null;\n  try {\n    let m = html.match(/<pre><code\\s+class=\"language-pulse-meta\">([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (m) return JSON.parse(decodeEntities(m[1].trim()));\n    m = html.match(/<pre><code>([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (m) { const c = decodeEntities(m[1].trim()); if (c.includes('\"schema_version\"')) return JSON.parse(c); }\n    m = html.match(/```pulse-meta\\s*\\n([\\s\\S]*?)\\n\\s*```/);\n    if (m) return JSON.parse(m[1].trim());\n  } catch (e) { return null; }\n  return null;\n};\n\nconst PRIORITY_EMOJI = { 4: '\\uD83D\\uDD34', 3: '\\uD83D\\uDFE0', 2: '\\uD83D\\uDFE1', 1: '\\uD83D\\uDFE2', 0: '\\uD83D\\uDFE2' };\nconst PRIORITY_NAME = { 4: 'urgent', 3: 'high', 2: 'medium', 1: 'low', 0: 'none' };\nconst formatDuration = (min) => {\n  if (!min) return '';\n  if (min >= 60) { const h = Math.floor(min / 60); const m = min % 60; return m > 0 ? `${h}h${m}min` : `${h}h`; }\n  return `${min}min`;\n};\n\nconst target = $input.first().json.target;\n\ntry {\n  const todayStr = new Date().toLocaleDateString('en-CA', { timeZone: tz });\n  const projId = config.daily_quest_project_id;\n\n  if (!target) {\n    // Phase 1: List quests available for completion\n    const result = await withRetry(\n      () => apiGet(`/projects/${projId}/issues/?per_page=100&expand=labels,state&target_date=${todayStr}`),\n      'Fetch today quests'\n    );\n    const allQuests = result.results || result || [];\n    const actionable = allQuests.filter(q => {\n      const sn = q.state_detail?.name;\n      return sn === 'To-Do' || sn === 'In Progress';\n    });\n\n    if (actionable.length === 0) {\n      return [{ json: {\n        response_type: 'info',\n        message: '\\u2139\\uFE0F No quests available to complete. All quests are already done or canceled.',\n        data: null, suggestions: ['Try /today to view your quest board'], awaiting_input: false\n      }}];\n    }\n\n    // Build numbered list\n    let list = '';\n    for (let i = 0; i < actionable.length; i++) {\n      const q = actionable[i];\n      const pEmoji = PRIORITY_EMOJI[q.priority] || '\\uD83D\\uDFE1';\n      const pName = PRIORITY_NAME[q.priority] || 'medium';\n      const meta = extractMeta(q.description_html);\n      const time = meta?.routine_time || '--:--';\n      const dur = meta?.routine_duration_min ? formatDuration(meta.routine_duration_min) : '';\n      const deferSuffix = meta?.defer_count > 0 ? ` (deferred x${meta.defer_count})` : '';\n      list += `${i + 1}. [${pEmoji} ${pName}] ${q.name} \\u2014 ${time}${dur ? ` (${dur})` : ''}${deferSuffix}\\n`;\n    }\n\n    return [{ json: {\n      response_type: 'list',\n      message: list,\n      data: { quest_ids: actionable.map(q => q.id), count: actionable.length },\n      suggestions: ['Enter number(s) (e.g., 1,3 or 1-3):'],\n      awaiting_input: true\n    }}];\n  }\n\n  // Phase 2: Complete selected quests\n  const issueIds = target.split(',').map(s => s.trim()).filter(Boolean);\n  const nowStr = new Date().toLocaleTimeString('en-GB', { timeZone: tz, hour: '2-digit', minute: '2-digit' });\n\n  // Validate issue IDs belong to today's actionable quests\n  const todayResult = await withRetry(\n    () => apiGet(`/projects/${projId}/issues/?per_page=100&expand=labels,state&target_date=${todayStr}`),\n    'Fetch today quests for validation'\n  );\n  const todayQuests = todayResult.results || todayResult || [];\n  const actionableIds = new Set(\n    todayQuests.filter(q => {\n      const sn = q.state_detail?.name;\n      return sn === 'To-Do' || sn === 'In Progress';\n    }).map(q => q.id)\n  );\n\n  const invalidIds = issueIds.filter(id => !actionableIds.has(id));\n  if (invalidIds.length > 0) {\n    return [{ json: {\n      response_type: 'error',\n      message: `\\u274C [INVALID_INPUT] Issue(s) ${invalidIds.join(', ')} are not in today's actionable quests.`,\n      data: { error_code: 'INVALID_INPUT' },\n      suggestions: ['Use /complete to see available quests'],\n      awaiting_input: false\n    }}];\n  }\n\n  let completed = 0;\n\n  for (const issueId of issueIds) {\n    if (DRY_RUN) {\n      console.log(`[DRY_RUN] Would complete issue ${issueId} (state → Done)`);\n      console.log(`[DRY_RUN] Would add comment on issue ${issueId}`);\n    } else {\n      await withRetry(\n        () => apiPatch(`/projects/${projId}/issues/${issueId}/`, { state: config.state_done }),\n        `Complete issue ${issueId}`\n      );\n      await withRetry(\n        () => apiPost(`/projects/${projId}/issues/${issueId}/comments/`, { comment_html: `<p>\\u2705 [${nowStr}] Quest completed by user</p>` }),\n        `Comment on ${issueId}`\n      );\n    }\n    completed++;\n  }\n\n  const dryTag = DRY_RUN ? ' [DRY_RUN]' : '';\n  return [{ json: {\n    response_type: 'confirmation',\n    message: `\\u2705${dryTag} ${completed} quest${completed !== 1 ? 's' : ''} completed!`,\n    data: { completed_count: completed, issue_ids: issueIds, dry_run: DRY_RUN },\n    suggestions: ['Type /today to see updated board'],\n    awaiting_input: false\n  }}];\n} catch (e) {\n  const code = e.errorCode || 'PLANE_API_ERROR';\n  const recovery = code === 'PLANE_API_TIMEOUT'\n    ? 'Please check Plane.so service status and try again later.'\n    : 'Please check Plane.so API configuration.';\n  return [{ json: {\n    response_type: 'error',\n    message: `\\u274C [W2-COMPLETE] [${code}] ${e.message}. ${recovery}`,\n    data: { error_code: code },\n    suggestions: ['Check n8n execution logs'],\n    awaiting_input: false\n  }}];\n}"
      },
      "id": "w2-complete",
      "name": "Code: /complete Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        840
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// /cancel — Interactive Quest Cancellation\n// ===========================================\n// Phase 1 (no target): List today's To-Do/In Progress quests\n// Phase 2 (with target): Move selected quests to Canceled state\n\nconst config = {\n  base_url: $env.PULSE_PLANE_BASE_URL,\n  workspace_slug: $env.PULSE_PLANE_WORKSPACE_SLUG,\n  api_key: $env.PULSE_PLANE_API_KEY,\n  daily_quest_project_id: $env.PULSE_DAILY_QUEST_PROJECT_ID,\n  state_canceled: $env.PULSE_STATE_CANCELED_ID,\n};\n\nconst basePath = `${config.base_url}/api/v1/workspaces/${config.workspace_slug}`;\nconst headers = { 'X-API-Key': config.api_key, 'Content-Type': 'application/json' };\nconst tz = $env.PULSE_USER_TIMEZONE || 'Asia/Seoul';\nconst DRY_RUN = ($env.PULSE_DRY_RUN || 'false').toLowerCase() === 'true' || ($env.PULSE_DRY_RUN || 'false') === '1';\n\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst MAX_RETRIES = 3;\nconst RETRY_MS = 5000;\nconst withRetry = async (fn, ctx) => {\n  for (let i = 1; i <= MAX_RETRIES; i++) {\n    try { return await fn(); } catch (e) {\n      console.log(`[RETRY] ${ctx} attempt ${i}/${MAX_RETRIES}: ${e.message}`);\n      if (i === MAX_RETRIES) {\n        const isTimeout = e.code === 'ETIMEDOUT' || e.code === 'ECONNABORTED' || e.message?.includes('timeout');\n        const errorCode = isTimeout ? 'PLANE_API_TIMEOUT' : 'PLANE_API_ERROR';\n        const err = new Error(`[${errorCode}] ${ctx}: ${e.message}`);\n        err.errorCode = errorCode;\n        throw err;\n      }\n      await sleep(RETRY_MS);\n    }\n  }\n};\n\nconst apiGet = async (path) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'GET', headers });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst apiPatch = async (path, body) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'PATCH', headers, body: JSON.stringify(body) });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst apiPost = async (path, body) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'POST', headers, body: JSON.stringify(body) });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst decodeEntities = (s) => s.replace(/&quot;/g, '\"').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&#39;/g, \"'\").replace(/&apos;/g, \"'\");\nconst extractMeta = (html) => {\n  if (!html) return null;\n  try {\n    let m = html.match(/<pre><code\\s+class=\"language-pulse-meta\">([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (m) return JSON.parse(decodeEntities(m[1].trim()));\n    m = html.match(/<pre><code>([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (m) { const c = decodeEntities(m[1].trim()); if (c.includes('\"schema_version\"')) return JSON.parse(c); }\n    m = html.match(/```pulse-meta\\s*\\n([\\s\\S]*?)\\n\\s*```/);\n    if (m) return JSON.parse(m[1].trim());\n  } catch (e) { return null; }\n  return null;\n};\n\nconst PRIORITY_EMOJI = { 4: '\\uD83D\\uDD34', 3: '\\uD83D\\uDFE0', 2: '\\uD83D\\uDFE1', 1: '\\uD83D\\uDFE2', 0: '\\uD83D\\uDFE2' };\nconst PRIORITY_NAME = { 4: 'urgent', 3: 'high', 2: 'medium', 1: 'low', 0: 'none' };\nconst formatDuration = (min) => {\n  if (!min) return '';\n  if (min >= 60) { const h = Math.floor(min / 60); const m = min % 60; return m > 0 ? `${h}h${m}min` : `${h}h`; }\n  return `${min}min`;\n};\n\nconst target = $input.first().json.target;\n\ntry {\n  const todayStr = new Date().toLocaleDateString('en-CA', { timeZone: tz });\n  const projId = config.daily_quest_project_id;\n\n  if (!target) {\n    // Phase 1: List quests available for cancellation\n    const result = await withRetry(\n      () => apiGet(`/projects/${projId}/issues/?per_page=100&expand=labels,state&target_date=${todayStr}`),\n      'Fetch today quests'\n    );\n    const allQuests = result.results || result || [];\n    const actionable = allQuests.filter(q => {\n      const sn = q.state_detail?.name;\n      return sn === 'To-Do' || sn === 'In Progress';\n    });\n\n    if (actionable.length === 0) {\n      return [{ json: {\n        response_type: 'info',\n        message: '\\u2139\\uFE0F No quests available to cancel.',\n        data: null, suggestions: ['Try /today to view your quest board'], awaiting_input: false\n      }}];\n    }\n\n    let list = '';\n    for (let i = 0; i < actionable.length; i++) {\n      const q = actionable[i];\n      const pEmoji = PRIORITY_EMOJI[q.priority] || '\\uD83D\\uDFE1';\n      const pName = PRIORITY_NAME[q.priority] || 'medium';\n      const meta = extractMeta(q.description_html);\n      const time = meta?.routine_time || '--:--';\n      const dur = meta?.routine_duration_min ? formatDuration(meta.routine_duration_min) : '';\n      const deferSuffix = meta?.defer_count > 0 ? ` (deferred x${meta.defer_count})` : '';\n      list += `${i + 1}. [${pEmoji} ${pName}] ${q.name} \\u2014 ${time}${dur ? ` (${dur})` : ''}${deferSuffix}\\n`;\n    }\n\n    return [{ json: {\n      response_type: 'list',\n      message: list,\n      data: { quest_ids: actionable.map(q => q.id), count: actionable.length },\n      suggestions: ['Enter number(s) (e.g., 1,3 or 1-3):'],\n      awaiting_input: true\n    }}];\n  }\n\n  // Phase 2: Cancel selected quests\n  const issueIds = target.split(',').map(s => s.trim()).filter(Boolean);\n  const nowStr = new Date().toLocaleTimeString('en-GB', { timeZone: tz, hour: '2-digit', minute: '2-digit' });\n\n  // Validate issue IDs belong to today's actionable quests\n  const todayResult = await withRetry(\n    () => apiGet(`/projects/${projId}/issues/?per_page=100&expand=labels,state&target_date=${todayStr}`),\n    'Fetch today quests for validation'\n  );\n  const todayQuests = todayResult.results || todayResult || [];\n  const actionableIds = new Set(\n    todayQuests.filter(q => {\n      const sn = q.state_detail?.name;\n      return sn === 'To-Do' || sn === 'In Progress';\n    }).map(q => q.id)\n  );\n\n  const invalidIds = issueIds.filter(id => !actionableIds.has(id));\n  if (invalidIds.length > 0) {\n    return [{ json: {\n      response_type: 'error',\n      message: `\\u274C [INVALID_INPUT] Issue(s) ${invalidIds.join(', ')} are not in today's actionable quests.`,\n      data: { error_code: 'INVALID_INPUT' },\n      suggestions: ['Use /cancel to see available quests'],\n      awaiting_input: false\n    }}];\n  }\n\n  let canceled = 0;\n\n  for (const issueId of issueIds) {\n    if (DRY_RUN) {\n      console.log(`[DRY_RUN] Would cancel issue ${issueId} (state → Canceled)`);\n      console.log(`[DRY_RUN] Would add comment on issue ${issueId}`);\n    } else {\n      await withRetry(\n        () => apiPatch(`/projects/${projId}/issues/${issueId}/`, { state: config.state_canceled }),\n        `Cancel issue ${issueId}`\n      );\n      await withRetry(\n        () => apiPost(`/projects/${projId}/issues/${issueId}/comments/`, { comment_html: `<p>\\uD83D\\uDEAB [${nowStr}] Canceled by user</p>` }),\n        `Comment on ${issueId}`\n      );\n    }\n    canceled++;\n  }\n\n  const dryTag = DRY_RUN ? ' [DRY_RUN]' : '';\n  return [{ json: {\n    response_type: 'confirmation',\n    message: `\\u2705${dryTag} ${canceled} quest${canceled !== 1 ? 's' : ''} canceled.`,\n    data: { canceled_count: canceled, issue_ids: issueIds, dry_run: DRY_RUN },\n    suggestions: ['Type /today to see updated board'],\n    awaiting_input: false\n  }}];\n} catch (e) {\n  const code = e.errorCode || 'PLANE_API_ERROR';\n  const recovery = code === 'PLANE_API_TIMEOUT'\n    ? 'Please check Plane.so service status and try again later.'\n    : 'Please check Plane.so API configuration.';\n  return [{ json: {\n    response_type: 'error',\n    message: `\\u274C [W2-CANCEL] [${code}] ${e.message}. ${recovery}`,\n    data: { error_code: code },\n    suggestions: ['Check n8n execution logs'],\n    awaiting_input: false\n  }}];\n}"
      },
      "id": "w2-cancel",
      "name": "Code: /cancel Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        1000
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// /defer — Interactive Quest Deferral with Warning\n// ===========================================\n// Phase 1 (no target): List today's To-Do/In Progress quests\n// Phase 2 (with target): Move selected quests to Deferred state,\n//   increment defer_count, warn if defer_count >= threshold\n\nconst config = {\n  base_url: $env.PULSE_PLANE_BASE_URL,\n  workspace_slug: $env.PULSE_PLANE_WORKSPACE_SLUG,\n  api_key: $env.PULSE_PLANE_API_KEY,\n  daily_quest_project_id: $env.PULSE_DAILY_QUEST_PROJECT_ID,\n  state_deferred: $env.PULSE_STATE_DEFERRED_ID,\n};\n\nconst basePath = `${config.base_url}/api/v1/workspaces/${config.workspace_slug}`;\nconst headers = { 'X-API-Key': config.api_key, 'Content-Type': 'application/json' };\nconst tz = $env.PULSE_USER_TIMEZONE || 'Asia/Seoul';\nconst DRY_RUN = ($env.PULSE_DRY_RUN || 'false').toLowerCase() === 'true' || ($env.PULSE_DRY_RUN || 'false') === '1';\n\nconst DEFER_WARNING_THRESHOLD = 3;\n\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst MAX_RETRIES = 3;\nconst RETRY_MS = 5000;\nconst withRetry = async (fn, ctx) => {\n  for (let i = 1; i <= MAX_RETRIES; i++) {\n    try { return await fn(); } catch (e) {\n      console.log(`[RETRY] ${ctx} attempt ${i}/${MAX_RETRIES}: ${e.message}`);\n      if (i === MAX_RETRIES) {\n        const isTimeout = e.code === 'ETIMEDOUT' || e.code === 'ECONNABORTED' || e.message?.includes('timeout');\n        const errorCode = isTimeout ? 'PLANE_API_TIMEOUT' : 'PLANE_API_ERROR';\n        const err = new Error(`[${errorCode}] ${ctx}: ${e.message}`);\n        err.errorCode = errorCode;\n        throw err;\n      }\n      await sleep(RETRY_MS);\n    }\n  }\n};\n\nconst apiGet = async (path) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'GET', headers });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst apiPatch = async (path, body) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'PATCH', headers, body: JSON.stringify(body) });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst apiPost = async (path, body) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'POST', headers, body: JSON.stringify(body) });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst decodeEntities = (s) => s.replace(/&quot;/g, '\"').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&#39;/g, \"'\").replace(/&apos;/g, \"'\");\nconst extractMeta = (html) => {\n  if (!html) return null;\n  try {\n    let m = html.match(/<pre><code\\s+class=\"language-pulse-meta\">([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (m) return JSON.parse(decodeEntities(m[1].trim()));\n    m = html.match(/<pre><code>([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (m) { const c = decodeEntities(m[1].trim()); if (c.includes('\"schema_version\"')) return JSON.parse(c); }\n    m = html.match(/```pulse-meta\\s*\\n([\\s\\S]*?)\\n\\s*```/);\n    if (m) return JSON.parse(m[1].trim());\n  } catch (e) { return null; }\n  return null;\n};\n\nconst updateMetaInHtml = (html, updates) => {\n  if (!html) return html;\n  const meta = extractMeta(html);\n  if (!meta) return html;\n  const updated = { ...meta, ...updates };\n  const json = JSON.stringify(updated, null, 2);\n\n  // Pattern 2: HTML with class attribute\n  let result = html.replace(/<pre><code\\s+class=\"language-pulse-meta\">[\\s\\S]*?<\\/code><\\/pre>/, `<pre><code class=\"language-pulse-meta\">${json}</code></pre>`);\n  if (result !== html) return result;\n\n  // Pattern 3: HTML without class (fallback)\n  result = html.replace(/<pre><code>[\\s\\S]*?<\\/code><\\/pre>/, `<pre><code class=\"language-pulse-meta\">${json}</code></pre>`);\n  if (result !== html) return result;\n\n  // Pattern 1: Markdown fenced code block\n  result = html.replace(/```pulse-meta\\s*\\n[\\s\\S]*?\\n\\s*```/, `\\`\\`\\`pulse-meta\\n${json}\\n\\`\\`\\``);\n  if (result !== html) return result;\n\n  return html;\n};\n\nconst PRIORITY_EMOJI = { 4: '\\uD83D\\uDD34', 3: '\\uD83D\\uDFE0', 2: '\\uD83D\\uDFE1', 1: '\\uD83D\\uDFE2', 0: '\\uD83D\\uDFE2' };\nconst PRIORITY_NAME = { 4: 'urgent', 3: 'high', 2: 'medium', 1: 'low', 0: 'none' };\nconst formatDuration = (min) => {\n  if (!min) return '';\n  if (min >= 60) { const h = Math.floor(min / 60); const m = min % 60; return m > 0 ? `${h}h${m}min` : `${h}h`; }\n  return `${min}min`;\n};\n\nconst target = $input.first().json.target;\n\ntry {\n  const todayStr = new Date().toLocaleDateString('en-CA', { timeZone: tz });\n  const projId = config.daily_quest_project_id;\n\n  if (!target) {\n    // Phase 1: List quests available for deferral\n    const result = await withRetry(\n      () => apiGet(`/projects/${projId}/issues/?per_page=100&expand=labels,state&target_date=${todayStr}`),\n      'Fetch today quests'\n    );\n    const allQuests = result.results || result || [];\n    const actionable = allQuests.filter(q => {\n      const sn = q.state_detail?.name;\n      return sn === 'To-Do' || sn === 'In Progress';\n    });\n\n    if (actionable.length === 0) {\n      return [{ json: {\n        response_type: 'info',\n        message: '\\u2139\\uFE0F No quests available to defer.',\n        data: null, suggestions: ['Try /today to view your quest board'], awaiting_input: false\n      }}];\n    }\n\n    let list = '';\n    for (let i = 0; i < actionable.length; i++) {\n      const q = actionable[i];\n      const pEmoji = PRIORITY_EMOJI[q.priority] || '\\uD83D\\uDFE1';\n      const pName = PRIORITY_NAME[q.priority] || 'medium';\n      const meta = extractMeta(q.description_html);\n      const time = meta?.routine_time || '--:--';\n      const dur = meta?.routine_duration_min ? formatDuration(meta.routine_duration_min) : '';\n      const deferCount = meta?.defer_count || 0;\n      const deferSuffix = deferCount > 0 ? ` (deferred x${deferCount})` : '';\n      list += `${i + 1}. [${pEmoji} ${pName}] ${q.name} \\u2014 ${time}${dur ? ` (${dur})` : ''}${deferSuffix}\\n`;\n    }\n\n    return [{ json: {\n      response_type: 'list',\n      message: list,\n      data: { quest_ids: actionable.map(q => q.id), count: actionable.length },\n      suggestions: ['Enter number(s) (e.g., 1,3 or 1-3):'],\n      awaiting_input: true\n    }}];\n  }\n\n  // Phase 2: Defer selected quests\n  const issueIds = target.split(',').map(s => s.trim()).filter(Boolean);\n  const nowStr = new Date().toLocaleTimeString('en-GB', { timeZone: tz, hour: '2-digit', minute: '2-digit' });\n\n  // Validate issue IDs belong to today's actionable quests\n  const todayResult = await withRetry(\n    () => apiGet(`/projects/${projId}/issues/?per_page=100&expand=labels,state&target_date=${todayStr}`),\n    'Fetch today quests for validation'\n  );\n  const todayQuests = todayResult.results || todayResult || [];\n  const actionableIds = new Set(\n    todayQuests.filter(q => {\n      const sn = q.state_detail?.name;\n      return sn === 'To-Do' || sn === 'In Progress';\n    }).map(q => q.id)\n  );\n\n  const invalidIds = issueIds.filter(id => !actionableIds.has(id));\n  if (invalidIds.length > 0) {\n    return [{ json: {\n      response_type: 'error',\n      message: `\\u274C [INVALID_INPUT] Issue(s) ${invalidIds.join(', ')} are not in today's actionable quests.`,\n      data: { error_code: 'INVALID_INPUT' },\n      suggestions: ['Use /defer to see available quests'],\n      awaiting_input: false\n    }}];\n  }\n\n  let deferred = 0;\n  const warnings = [];\n\n  for (const issueId of issueIds) {\n    // Fetch current issue to get description and defer_count\n    const issue = await withRetry(\n      () => apiGet(`/projects/${projId}/issues/${issueId}/?expand=labels,state`),\n      `Fetch issue ${issueId}`\n    );\n\n    const meta = extractMeta(issue.description_html);\n    const currentCount = meta?.defer_count || 0;\n    const newCount = currentCount + 1;\n\n    // Update defer_count in description\n    const updatedHtml = updateMetaInHtml(issue.description_html, { defer_count: newCount });\n\n    if (DRY_RUN) {\n      console.log(`[DRY_RUN] Would defer issue ${issueId} (state → Deferred, defer_count: ${newCount})`);\n      console.log(`[DRY_RUN] Would add comment on issue ${issueId}`);\n    } else {\n      // Move to Deferred state and update description\n      await withRetry(\n        () => apiPatch(`/projects/${projId}/issues/${issueId}/`, {\n          state: config.state_deferred,\n          description_html: updatedHtml\n        }),\n        `Defer issue ${issueId}`\n      );\n\n      // Add comment\n      await withRetry(\n        () => apiPost(`/projects/${projId}/issues/${issueId}/comments/`, {\n          comment_html: `<p>\\u23F8\\uFE0F [${nowStr}] Deferred by user (count: ${newCount})</p>`\n        }),\n        `Comment on ${issueId}`\n      );\n    }\n\n    if (newCount >= DEFER_WARNING_THRESHOLD) {\n      warnings.push(`\\u26A0\\uFE0F \"${issue.name}\" has been deferred ${newCount} times. Consider removing it.`);\n    }\n\n    deferred++;\n  }\n\n  const dryTag = DRY_RUN ? ' [DRY_RUN]' : '';\n  let message = `\\u23F8\\uFE0F${dryTag} ${deferred} quest${deferred !== 1 ? 's' : ''} deferred.`;\n  if (warnings.length > 0) {\n    message += '\\n\\n' + warnings.join('\\n');\n  }\n\n  return [{ json: {\n    response_type: 'confirmation',\n    message,\n    data: { deferred_count: deferred, issue_ids: issueIds, warnings, dry_run: DRY_RUN },\n    suggestions: ['Type /today to see updated board'],\n    awaiting_input: false\n  }}];\n} catch (e) {\n  const code = e.errorCode || 'PLANE_API_ERROR';\n  const recovery = code === 'PLANE_API_TIMEOUT'\n    ? 'Please check Plane.so service status and try again later.'\n    : 'Please check Plane.so API configuration.';\n  return [{ json: {\n    response_type: 'error',\n    message: `\\u274C [W2-DEFER] [${code}] ${e.message}. ${recovery}`,\n    data: { error_code: code },\n    suggestions: ['Check n8n execution logs'],\n    awaiting_input: false\n  }}];\n}"
      },
      "id": "w2-defer",
      "name": "Code: /defer Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        1160
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// /add — Manual Quest Addition\n// ===========================================\n// Creates a new quest in the Daily Quests project\n// Expects params: { name, duration } or { name, duration, priority }\n\nconst config = {\n  base_url: $env.PULSE_PLANE_BASE_URL,\n  workspace_slug: $env.PULSE_PLANE_WORKSPACE_SLUG,\n  api_key: $env.PULSE_PLANE_API_KEY,\n  daily_quest_project_id: $env.PULSE_DAILY_QUEST_PROJECT_ID,\n  state_todo: $env.PULSE_STATE_TODO_ID,\n};\n\nconst basePath = `${config.base_url}/api/v1/workspaces/${config.workspace_slug}`;\nconst headers = { 'X-API-Key': config.api_key, 'Content-Type': 'application/json' };\nconst tz = $env.PULSE_USER_TIMEZONE || 'Asia/Seoul';\nconst DRY_RUN = ($env.PULSE_DRY_RUN || 'false').toLowerCase() === 'true' || ($env.PULSE_DRY_RUN || 'false') === '1';\n\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst MAX_RETRIES = 3;\nconst RETRY_MS = 5000;\nconst withRetry = async (fn, ctx) => {\n  for (let i = 1; i <= MAX_RETRIES; i++) {\n    try { return await fn(); } catch (e) {\n      console.log(`[RETRY] ${ctx} attempt ${i}/${MAX_RETRIES}: ${e.message}`);\n      if (i === MAX_RETRIES) {\n        const isTimeout = e.code === 'ETIMEDOUT' || e.code === 'ECONNABORTED' || e.message?.includes('timeout');\n        const errorCode = isTimeout ? 'PLANE_API_TIMEOUT' : 'PLANE_API_ERROR';\n        const err = new Error(`[${errorCode}] ${ctx}: ${e.message}`);\n        err.errorCode = errorCode;\n        throw err;\n      }\n      await sleep(RETRY_MS);\n    }\n  }\n};\n\nconst apiPost = async (path, body) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'POST', headers, body: JSON.stringify(body) });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst formatDuration = (min) => {\n  if (min >= 60) { const h = Math.floor(min / 60); const m = min % 60; return m > 0 ? `${h}h${m}min` : `${h}h`; }\n  return `${min}min`;\n};\n\nconst params = $input.first().json.params || {};\n\ntry {\n  const name = params.name;\n  const durationStr = params.duration;\n\n  if (!name || !durationStr) {\n    return [{ json: {\n      response_type: 'error',\n      message: '\\u274C [INVALID_INPUT] Usage: /add {name} {duration} (e.g., /add Code Review 1h). Please check input format and try again.',\n      data: { error_code: 'INVALID_INPUT' },\n      suggestions: ['Example: /add Code Review 1h', 'Example: /add Bug Fix 30min'],\n      awaiting_input: false\n    }}];\n  }\n\n  // Parse duration string (e.g., '1h', '30min', '1h30min', '90min')\n  let durationMin = 0;\n  const hMatch = durationStr.match(/(\\d+)h/);\n  const mMatch = durationStr.match(/(\\d+)m(?:in)?/);\n  if (hMatch) durationMin += parseInt(hMatch[1]) * 60;\n  if (mMatch) durationMin += parseInt(mMatch[1]);\n  if (durationMin === 0) {\n    // Try plain number as minutes\n    const plain = parseInt(durationStr);\n    if (!isNaN(plain) && plain > 0) durationMin = plain;\n  }\n\n  if (durationMin <= 0) {\n    return [{ json: {\n      response_type: 'error',\n      message: `\\u274C [INVALID_INPUT] Invalid duration: '${durationStr}'. Use formats like 1h, 30min, or 1h30min. Please check input format and try again.`,\n      data: { error_code: 'INVALID_INPUT' },\n      suggestions: ['Example: 1h, 30min, 1h30min, 90'],\n      awaiting_input: false\n    }}];\n  }\n\n  const todayStr = new Date().toLocaleDateString('en-CA', { timeZone: tz });\n  const nowStr = new Date().toLocaleTimeString('en-GB', { timeZone: tz, hour: '2-digit', minute: '2-digit' });\n\n  // Priority mapping: default medium (2)\n  const priorityMap = { urgent: 4, high: 3, medium: 2, low: 1, none: 0 };\n  const priority = priorityMap[params.priority] ?? 2;\n  const priorityName = Object.keys(priorityMap).find(k => priorityMap[k] === priority) || 'medium';\n\n  // Build pulse-meta for the manually added quest (manual type with all schema fields)\n  const meta = {\n    schema_version: 1,\n    routine_type: 'manual',\n    routine_days: [new Date().toLocaleDateString('en-US', { timeZone: tz, weekday: 'short' }).toLowerCase().slice(0, 3)],\n    routine_time: nowStr,\n    routine_duration_min: durationMin,\n    routine_priority: priorityName,\n    routine_mandatory: false,\n    routine_active_from: todayStr,\n    routine_active_until: todayStr,\n    routine_cooldown_days: 0,\n    source_project_id: config.daily_quest_project_id,\n    source_issue_id: 'manual',\n    source_type: 'manual',\n    quest_date: todayStr,\n    defer_count: 0\n  };\n\n  const descriptionHtml = `<pre><code class=\"language-pulse-meta\">${JSON.stringify(meta, null, 2)}</code></pre>`;\n\n  const projId = config.daily_quest_project_id;\n\n  if (DRY_RUN) {\n    console.log(`[DRY_RUN] Would create manual quest: \"${name}\" (${formatDuration(durationMin)})`);\n  } else {\n    await withRetry(\n      () => apiPost(`/projects/${projId}/issues/`, {\n        name,\n        description_html: descriptionHtml,\n        priority,\n        state: config.state_todo,\n        target_date: todayStr,\n        start_date: todayStr\n      }),\n      'Create manual quest'\n    );\n  }\n\n  const dryTag = DRY_RUN ? ' [DRY_RUN]' : '';\n  return [{ json: {\n    response_type: 'confirmation',\n    message: `\\u2705${dryTag} Quest added: \"${name}\" (${formatDuration(durationMin)})`,\n    data: { name, duration_min: durationMin, priority, dry_run: DRY_RUN },\n    suggestions: ['Type /today to see updated board'],\n    awaiting_input: false\n  }}];\n} catch (e) {\n  const code = e.errorCode || 'PLANE_API_ERROR';\n  const recovery = code === 'PLANE_API_TIMEOUT'\n    ? 'Please check Plane.so service status and try again later.'\n    : 'Please check Plane.so API configuration.';\n  return [{ json: {\n    response_type: 'error',\n    message: `\\u274C [W2-ADD] [${code}] ${e.message}. ${recovery}`,\n    data: { error_code: code },\n    suggestions: ['Check n8n execution logs'],\n    awaiting_input: false\n  }}];\n}"
      },
      "id": "w2-add",
      "name": "Code: /add Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        1320
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// /brief — Milestone Briefing\n// ===========================================\n// /brief: Top 5 milestones sorted by D-Day (closest deadline first)\n// /brief all: All milestones grouped by project\n\nconst config = {\n  base_url: $env.PULSE_PLANE_BASE_URL,\n  workspace_slug: $env.PULSE_PLANE_WORKSPACE_SLUG,\n  api_key: $env.PULSE_PLANE_API_KEY,\n};\n\nconst basePath = `${config.base_url}/api/v1/workspaces/${config.workspace_slug}`;\nconst headers = { 'X-API-Key': config.api_key, 'Content-Type': 'application/json' };\nconst tz = $env.PULSE_USER_TIMEZONE || 'Asia/Seoul';\n\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst MAX_RETRIES = 3;\nconst RETRY_MS = 5000;\nconst withRetry = async (fn, ctx) => {\n  for (let i = 1; i <= MAX_RETRIES; i++) {\n    try { return await fn(); } catch (e) {\n      console.log(`[RETRY] ${ctx} attempt ${i}/${MAX_RETRIES}: ${e.message}`);\n      if (i === MAX_RETRIES) {\n        const isTimeout = e.code === 'ETIMEDOUT' || e.code === 'ECONNABORTED' || e.message?.includes('timeout');\n        const errorCode = isTimeout ? 'PLANE_API_TIMEOUT' : 'PLANE_API_ERROR';\n        const err = new Error(`[${errorCode}] ${ctx}: ${e.message}`);\n        err.errorCode = errorCode;\n        throw err;\n      }\n      await sleep(RETRY_MS);\n    }\n  }\n};\n\nconst apiGet = async (path) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'GET', headers });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst target = $input.first().json.target;\nconst showAll = target === 'all';\n\ntry {\n  const todayStr = new Date().toLocaleDateString('en-CA', { timeZone: tz });\n\n  // Fetch all projects\n  const projectsRes = await withRetry(() => apiGet('/projects/'), 'List projects');\n  const projects = projectsRes.results || projectsRes || [];\n\n  const allMilestones = [];\n\n  for (const project of projects) {\n    // Fetch modules (milestones) for each project\n    const modulesRes = await withRetry(\n      () => apiGet(`/projects/${project.id}/modules/?per_page=100`),\n      `List modules for ${project.name}`\n    );\n    const modules = modulesRes.results || modulesRes || [];\n\n    for (const mod of modules) {\n      if (!mod.target_date) continue;\n\n      // Calculate D-Day\n      const targetMs = new Date(mod.target_date + 'T00:00:00').getTime();\n      const todayMs = new Date(todayStr + 'T00:00:00').getTime();\n      const dDays = Math.ceil((targetMs - todayMs) / (24 * 60 * 60 * 1000));\n\n      // Fetch module issues for progress calculation\n      let progress = 0;\n      try {\n        const issuesRes = await withRetry(\n          () => apiGet(`/projects/${project.id}/modules/${mod.id}/module-issues/?per_page=100&expand=state`),\n          `Module issues for ${mod.name}`\n        );\n        const issues = issuesRes.results || issuesRes || [];\n        const total = issues.length;\n        if (total > 0) {\n          const completed = issues.filter(i => {\n            const issue = i.issue_detail || i;\n            const stateName = issue.state_detail?.name || issue.state_name || '';\n            return stateName === 'Done' || stateName === 'Canceled';\n          }).length;\n          progress = Math.round((completed / total) * 100);\n        }\n      } catch (e) {\n        console.log(`[WARN] Could not fetch issues for module ${mod.name}: ${e.message}`);\n      }\n\n      allMilestones.push({\n        project_name: project.name,\n        milestone_name: mod.name,\n        progress,\n        d_days: dDays,\n        target_date: mod.target_date,\n        status: mod.status || 'unknown',\n      });\n    }\n  }\n\n  // Sort by D-Day (closest first)\n  allMilestones.sort((a, b) => a.d_days - b.d_days);\n\n  if (allMilestones.length === 0) {\n    return [{ json: {\n      response_type: 'info',\n      message: '\\u2139\\uFE0F No milestones with due dates found across your projects.',\n      data: null,\n      suggestions: ['Create milestones (modules) in Plane.so with target dates'],\n      awaiting_input: false\n    }}];\n  }\n\n  let message = '';\n\n  if (showAll) {\n    // Group by project\n    const grouped = {};\n    for (const m of allMilestones) {\n      if (!grouped[m.project_name]) grouped[m.project_name] = [];\n      grouped[m.project_name].push(m);\n    }\n\n    message = '\\uD83C\\uDFAF **All Milestones**\\n';\n    for (const [projName, milestones] of Object.entries(grouped)) {\n      message += `\\n**${projName}**\\n`;\n      for (const m of milestones) {\n        const dLabel = m.d_days >= 0 ? `D-${m.d_days}` : `D+${Math.abs(m.d_days)} (overdue)`;\n        message += `  \\uD83C\\uDFAF ${m.milestone_name}: ${m.progress}% (${dLabel})\\n`;\n      }\n    }\n  } else {\n    // Top 5\n    const top5 = allMilestones.slice(0, 5);\n    message = '\\uD83C\\uDFAF **Top 5 Milestones**\\n\\n';\n    for (const m of top5) {\n      const dLabel = m.d_days >= 0 ? `D-${m.d_days}` : `D+${Math.abs(m.d_days)} (overdue)`;\n      message += `\\uD83C\\uDFAF ${m.project_name} \\u2014 ${m.milestone_name}: ${m.progress}% (${dLabel})\\n`;\n    }\n  }\n\n  return [{ json: {\n    response_type: 'info',\n    message,\n    data: { milestones: showAll ? allMilestones : allMilestones.slice(0, 5), total: allMilestones.length },\n    suggestions: showAll ? [] : ['Use /brief all to see all milestones'],\n    awaiting_input: false\n  }}];\n} catch (e) {\n  const code = e.errorCode || 'PLANE_API_ERROR';\n  const recovery = code === 'PLANE_API_TIMEOUT'\n    ? 'Please check Plane.so service status and try again later.'\n    : 'Please check Plane.so API configuration.';\n  return [{ json: {\n    response_type: 'error',\n    message: `\\u274C [W2-BRIEF] [${code}] ${e.message}. ${recovery}`,\n    data: { error_code: code },\n    suggestions: ['Check n8n execution logs'],\n    awaiting_input: false\n  }}];\n}"
      },
      "id": "w2-brief",
      "name": "Code: /brief Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        1640
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// /stats — N-Day Statistics\n// ===========================================\n// Shows quest completion statistics for past N days.\n// Default N=7 if not specified.\n\nconst config = {\n  base_url: $env.PULSE_PLANE_BASE_URL,\n  workspace_slug: $env.PULSE_PLANE_WORKSPACE_SLUG,\n  api_key: $env.PULSE_PLANE_API_KEY,\n  daily_quest_project_id: $env.PULSE_DAILY_QUEST_PROJECT_ID,\n};\n\nconst basePath = `${config.base_url}/api/v1/workspaces/${config.workspace_slug}`;\nconst headers = { 'X-API-Key': config.api_key, 'Content-Type': 'application/json' };\nconst tz = $env.PULSE_USER_TIMEZONE || 'Asia/Seoul';\n\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst MAX_RETRIES = 3;\nconst RETRY_MS = 5000;\nconst withRetry = async (fn, ctx) => {\n  for (let i = 1; i <= MAX_RETRIES; i++) {\n    try { return await fn(); } catch (e) {\n      console.log(`[RETRY] ${ctx} attempt ${i}/${MAX_RETRIES}: ${e.message}`);\n      if (i === MAX_RETRIES) {\n        const isTimeout = e.code === 'ETIMEDOUT' || e.code === 'ECONNABORTED' || e.message?.includes('timeout');\n        const errorCode = isTimeout ? 'PLANE_API_TIMEOUT' : 'PLANE_API_ERROR';\n        const err = new Error(`[${errorCode}] ${ctx}: ${e.message}`);\n        err.errorCode = errorCode;\n        throw err;\n      }\n      await sleep(RETRY_MS);\n    }\n  }\n};\n\nconst apiGet = async (path) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'GET', headers });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst params = $input.first().json.params || {};\n\ntry {\n  const days = parseInt(params.days) || 7;\n  if (days < 1 || days > 90) {\n    return [{ json: {\n      response_type: 'error',\n      message: '\\u274C [INVALID_INPUT] Days must be between 1 and 90. Please check input format and try again.',\n      data: { error_code: 'INVALID_INPUT' },\n      suggestions: ['Example: /stats 7, /stats 30'],\n      awaiting_input: false\n    }}];\n  }\n\n  const todayStr = new Date().toLocaleDateString('en-CA', { timeZone: tz });\n  const projId = config.daily_quest_project_id;\n\n  // Calculate date range\n  const dates = [];\n  for (let i = days - 1; i >= 0; i--) {\n    const d = new Date();\n    d.setDate(d.getDate() - i);\n    dates.push(d.toLocaleDateString('en-CA', { timeZone: tz }));\n  }\n\n  // Fetch all issues in daily quest project\n  const allRes = await withRetry(\n    () => apiGet(`/projects/${projId}/issues/?per_page=100&expand=labels,state`),\n    'Fetch all quests'\n  );\n  const allIssues = allRes.results || allRes || [];\n\n  // Build daily breakdown\n  const dailyStats = {};\n  for (const date of dates) {\n    dailyStats[date] = { total: 0, completed: 0, deferred: 0, canceled: 0 };\n  }\n\n  for (const issue of allIssues) {\n    const td = issue.target_date;\n    if (!td || !dailyStats[td]) continue;\n    dailyStats[td].total++;\n    const state = issue.state_detail?.name || '';\n    if (state === 'Done') dailyStats[td].completed++;\n    else if (state === 'Deferred') dailyStats[td].deferred++;\n    else if (state === 'Canceled') dailyStats[td].canceled++;\n  }\n\n  // Calculate totals\n  let totalQuests = 0, totalCompleted = 0, totalDeferred = 0, totalCanceled = 0;\n  let bestDay = null, bestRate = -1, worstDay = null, worstRate = 101;\n\n  for (const date of dates) {\n    const s = dailyStats[date];\n    totalQuests += s.total;\n    totalCompleted += s.completed;\n    totalDeferred += s.deferred;\n    totalCanceled += s.canceled;\n\n    if (s.total > 0) {\n      const rate = Math.round((s.completed / s.total) * 100);\n      if (rate > bestRate) { bestRate = rate; bestDay = date; }\n      if (rate < worstRate) { worstRate = rate; worstDay = date; }\n    }\n  }\n\n  const completionRate = totalQuests > 0 ? Math.round((totalCompleted / totalQuests) * 100) : 0;\n  const deferralRate = totalQuests > 0 ? Math.round((totalDeferred / totalQuests) * 100) : 0;\n\n  // Format message\n  let message = `\\uD83D\\uDCCA **${days}-Day Statistics**\\n\\n`;\n  message += `**Summary**\\n`;\n  message += `  Total quests: ${totalQuests}\\n`;\n  message += `  Completed: ${totalCompleted} (${completionRate}%)\\n`;\n  message += `  Deferred: ${totalDeferred} (${deferralRate}%)\\n`;\n  message += `  Canceled: ${totalCanceled}\\n\\n`;\n\n  if (bestDay) {\n    const bDayName = new Date(bestDay + 'T12:00:00').toLocaleDateString('en-US', { weekday: 'short' });\n    message += `  \\uD83C\\uDFC6 Best: ${bestDay} (${bDayName}) \\u2014 ${bestRate}%\\n`;\n  }\n  if (worstDay && worstDay !== bestDay) {\n    const wDayName = new Date(worstDay + 'T12:00:00').toLocaleDateString('en-US', { weekday: 'short' });\n    message += `  \\uD83D\\uDCC9 Worst: ${worstDay} (${wDayName}) \\u2014 ${worstRate}%\\n`;\n  }\n\n  message += `\\n**Daily Breakdown**\\n`;\n  for (const date of dates) {\n    const s = dailyStats[date];\n    const dayName = new Date(date + 'T12:00:00').toLocaleDateString('en-US', { weekday: 'short' });\n    const rate = s.total > 0 ? Math.round((s.completed / s.total) * 100) : 0;\n    const bar = s.total > 0 ? ('\\u2588'.repeat(Math.round(rate / 10)) + '\\u2591'.repeat(10 - Math.round(rate / 10))) : '\\u2591'.repeat(10);\n    message += `  ${date} (${dayName}) ${bar} ${s.completed}/${s.total} (${rate}%)\\n`;\n  }\n\n  return [{ json: {\n    response_type: 'info',\n    message,\n    data: { days, total_quests: totalQuests, completed: totalCompleted, deferred: totalDeferred, canceled: totalCanceled, completion_rate: completionRate, daily: dailyStats },\n    suggestions: [],\n    awaiting_input: false\n  }}];\n} catch (e) {\n  const code = e.errorCode || 'PLANE_API_ERROR';\n  const recovery = code === 'PLANE_API_TIMEOUT'\n    ? 'Please check Plane.so service status and try again later.'\n    : 'Please check Plane.so API configuration.';\n  return [{ json: {\n    response_type: 'error',\n    message: `\\u274C [W2-STATS] [${code}] ${e.message}. ${recovery}`,\n    data: { error_code: code },\n    suggestions: ['Check n8n execution logs'],\n    awaiting_input: false\n  }}];\n}"
      },
      "id": "w2-stats",
      "name": "Code: /stats Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        1800
      ]
    },
    {
      "parameters": {
        "jsCode": "// Unimplemented command handler\nconst action = $input.first().json.action || 'unknown';\nreturn [{\n  json: {\n    response_type: 'info',\n    message: `\\u2139\\uFE0F Command /${action} is not yet implemented. It will be available in a future update.`,\n    data: { action },\n    suggestions: ['Type /help for available commands', 'Try /today to view your quest board'],\n    awaiting_input: false,\n  }\n}];"
      },
      "id": "w2-unimplemented",
      "name": "Code: Unimplemented Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        2600
      ]
    },
    {
      "parameters": {
        "content": "## W2 - LobeHub Command Handler\n\n**Purpose:** Handle all slash commands from LobeHub via webhook.\n\n**Trigger:** Webhook — HTTP POST with X-API-Key auth.\n\n**Implemented Commands:**\n- /today — Quest board view\n- /complete — Interactive quest completion\n- /cancel — Interactive quest cancellation\n- /defer — Interactive quest deferral with warning\n- /add — Manual quest addition\n- /help — Command reference\n- ping — Connectivity test\n\n**Pending Commands (Epic 4+):**\n- /restore, /edit, /regen\n- /brief, /stats, /deferred, /preview, /weekly\n\n**Error Workflow:** W5 (error-handler)\n\n**Response Format:** Standard JSON: response_type, message, data, suggestions, awaiting_input",
        "height": 420,
        "width": 400
      },
      "id": "w2-sticky",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        200,
        520
      ]
    }
  ],
  "connections": {
    "Webhook: Command Entry": {
      "main": [
        [
          {
            "node": "Code: Command Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Command Router": {
      "main": [
        [
          {
            "node": "Switch: Route Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Route Command": {
      "main": [
        [
          {
            "node": "Code: /today Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: /help Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Ping Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Error Passthrough",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: /complete Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: /cancel Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: /defer Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: /add Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: /brief Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: /stats Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Unimplemented Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "w5-error-handler"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "pinData": {}
}
