workflows/w2-lobehub-command-handler.json
{
  "name": "w2-lobehub-command-handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pulse-command",
        "authentication": "headerAuth",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "id": "w2-webhook",
      "name": "Webhook: Command Entry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "pulse-command"
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// W2 Command Router\n// ===========================================\n// Extracts action from request body, routes to handler.\n// Note: API key validation is handled by the webhook node's headerAuth.\n\nconst body = $input.first().json.body || $input.first().json;\nconst action = (body.action || '').toLowerCase().trim();\nconst target = body.target || null;\nconst params = body.params || {};\n\n// Valid actions\nconst validActions = [\n  'today', 'complete', 'cancel', 'defer', 'restore', 'edit',\n  'add', 'regen', 'brief', 'stats', 'deferred', 'preview',\n  'weekly', 'help', 'ping', 'classify', 'create_routine'\n];\n\nif (!validActions.includes(action)) {\n  return [{\n    json: {\n      response_type: 'error',\n      message: `\\u274C [UNKNOWN_COMMAND] Unknown command '${action}'. Type /help for available commands.`,\n      data: { error_code: 'UNKNOWN_COMMAND' },\n      suggestions: ['Type /help for available commands'],\n      awaiting_input: false,\n      _route: 'error'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    action,\n    target,\n    params,\n    _route: action\n  }\n}];"
      },
      "id": "w2-router",
      "name": "Code: Command Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "today",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "today"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "help",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "help"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "ping",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "ping"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "error"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "complete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "complete"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "cancel",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "cancel"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "defer",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "defer"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "add",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "add"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "restore",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "restore"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "edit",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "edit"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "regen",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "regen"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "brief",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "brief"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "stats",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "stats"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "deferred",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "deferred"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "preview",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "preview"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "weekly",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "weekly"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "classify",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "classify"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "create_routine",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "create_routine"
            }
          ],
          "fallbackOutput": {
            "conditions": {},
            "outputKey": "unimplemented"
          }
        },
        "options": {}
      },
      "id": "w2-switch",
      "name": "Switch: Route Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// /today — Quest Board View\n// ===========================================\n// Queries Daily Quests project for today's issues,\n// formats response grouped by state buckets.\n\nconst config = {\n  base_url: $env.PULSE_PLANE_BASE_URL,\n  workspace_slug: $env.PULSE_PLANE_WORKSPACE_SLUG,\n  api_key: $env.PULSE_PLANE_API_KEY,\n  daily_quest_project_id: $env.PULSE_DAILY_QUEST_PROJECT_ID,\n};\n\nconst basePath = `${config.base_url}/api/v1/workspaces/${config.workspace_slug}`;\nconst headers = { 'X-API-Key': config.api_key, 'Content-Type': 'application/json' };\nconst tz = $env.PULSE_USER_TIMEZONE || 'Asia/Seoul';\nconst DRY_RUN = ($env.PULSE_DRY_RUN || 'false').toLowerCase() === 'true' || ($env.PULSE_DRY_RUN || 'false') === '1';\n\n// --- Retry helper ---\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst MAX_RETRIES = 3;\nconst RETRY_MS = 5000;\nconst withRetry = async (fn, ctx) => {\n  for (let i = 1; i <= MAX_RETRIES; i++) {\n    try { return await fn(); } catch (e) {\n      console.log(`[RETRY] ${ctx} attempt ${i}/${MAX_RETRIES}: ${e.message}`);\n      if (i === MAX_RETRIES) {\n        const isTimeout = e.code === 'ETIMEDOUT' || e.code === 'ECONNABORTED' || e.message?.includes('timeout');\n        const errorCode = isTimeout ? 'PLANE_API_TIMEOUT' : 'PLANE_API_ERROR';\n        const err = new Error(`[${errorCode}] ${ctx}: ${e.message}`);\n        err.errorCode = errorCode;\n        throw err;\n      }\n      await sleep(RETRY_MS);\n    }\n  }\n};\n\nconst apiGet = async (path) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'GET', headers });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\n// --- Meta extractor ---\nconst decodeEntities = (s) => s.replace(/&quot;/g, '\"').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&#39;/g, \"'\").replace(/&apos;/g, \"'\");\nconst extractMeta = (html) => {\n  if (!html) return null;\n  try {\n    let m = html.match(/<pre><code\\s+class=\"language-pulse-meta\">([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (m) return JSON.parse(decodeEntities(m[1].trim()));\n    m = html.match(/<pre><code>([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (m) { const c = decodeEntities(m[1].trim()); if (c.includes('\"schema_version\"')) return JSON.parse(c); }\n    m = html.match(/```pulse-meta\\s*\\n([\\s\\S]*?)\\n\\s*```/);\n    if (m) return JSON.parse(m[1].trim());\n  } catch (e) { return null; }\n  return null;\n};\n\n// --- Priority ---\nconst PRIORITY_EMOJI = { 4: '\\uD83D\\uDD34', 3: '\\uD83D\\uDFE0', 2: '\\uD83D\\uDFE1', 1: '\\uD83D\\uDFE2', 0: '\\uD83D\\uDFE2' };\nconst PRIORITY_NAME = { 4: 'urgent', 3: 'high', 2: 'medium', 1: 'low', 0: 'none' };\nconst formatDuration = (min) => {\n  if (!min) return '';\n  if (min >= 60) { const h = Math.floor(min / 60); const m = min % 60; return m > 0 ? `${h}h${m}min` : `${h}h`; }\n  return `${min}min`;\n};\n\n// --- State config ---\nconst STATE_ORDER = ['To-Do', 'In Progress', 'Deferred', 'Done', 'Canceled'];\nconst STATE_EMOJI = { 'To-Do': '\\uD83D\\uDCCB', 'In Progress': '\\u23F3', 'Deferred': '\\u23F8\\uFE0F', 'Done': '\\u2705', 'Canceled': '\\uD83D\\uDEAB' };\n\ntry {\n  const todayStr = new Date().toLocaleDateString('en-CA', { timeZone: tz });\n  const dayName = new Date().toLocaleDateString('en-US', { timeZone: tz, weekday: 'short' });\n\n  // Fetch today's quests\n  const result = await withRetry(\n    () => apiGet(`/projects/${config.daily_quest_project_id}/issues/?per_page=100&expand=labels,state&target_date=${todayStr}`),\n    'Fetch today quests'\n  );\n  const quests = result.results || result || [];\n\n  // Group by state\n  const grouped = {};\n  for (const s of STATE_ORDER) grouped[s] = [];\n\n  for (const q of quests) {\n    const stateName = q.state_detail?.name || 'To-Do';\n    if (!grouped[stateName]) grouped[stateName] = [];\n    grouped[stateName].push(q);\n  }\n\n  // Check degraded mode from project description\n  let degradedMode = false;\n  try {\n    const projRes = await withRetry(\n      () => apiGet(`/projects/${config.daily_quest_project_id}/`),\n      'Fetch project status'\n    );\n    const projDesc = projRes.description_html || '';\n    const statusMatch = projDesc.match(/<pre><code\\s+class=\"language-pulse-status\">([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (statusMatch) {\n      const status = JSON.parse(statusMatch[1]);\n      if (status.last_run === todayStr && status.degraded_mode) {\n        degradedMode = true;\n      }\n    }\n  } catch (e) {\n    console.log(`[WARN] Could not read project status: ${e.message}`);\n  }\n\n  // Format header\n  let header = `\\uD83D\\uDCCB ${todayStr} (${dayName}) Today's Quests`;\n  if (degradedMode) {\n    header = `\\u26A0\\uFE0F [DEGRADED_MODE] AI features temporarily unavailable. Routine-based quests generated normally.\\n\\n${header}`;\n  }\n\n  // Build body\n  let body = '';\n  for (const state of STATE_ORDER) {\n    const items = grouped[state];\n    if (!items || items.length === 0) continue;\n    const emoji = STATE_EMOJI[state] || '';\n    body += `\\n${emoji} **${state}** (${items.length})\\n`;\n    for (const q of items) {\n      const pEmoji = PRIORITY_EMOJI[q.priority] || '\\uD83D\\uDFE1';\n      const meta = extractMeta(q.description_html);\n      const time = meta?.routine_time || '--:--';\n      const dur = meta?.routine_duration_min ? formatDuration(meta.routine_duration_min) : '';\n      const deferSuffix = meta?.defer_count > 0 ? ` (deferred x${meta.defer_count})` : '';\n      body += `  ${pEmoji} ${q.name} \\u2014 ${time}${dur ? ` (${dur})` : ''}${deferSuffix}\\n`;\n    }\n  }\n\n  if (quests.length === 0) {\n    body = '\\n_No quests for today. Enjoy your free day!_\\n';\n  }\n\n  return [{\n    json: {\n      response_type: 'quest_board',\n      message: `${header}\\n${body}`,\n      data: {\n        total: quests.length,\n        by_state: Object.fromEntries(STATE_ORDER.map((s) => [s, (grouped[s] || []).length])),\n      },\n      suggestions: [],\n      awaiting_input: false,\n    }\n  }];\n} catch (e) {\n  const code = e.errorCode || 'PLANE_API_ERROR';\n  const recovery = code === 'PLANE_API_TIMEOUT'\n    ? 'Please check Plane.so service status and try again later.'\n    : 'Please check Plane.so API configuration.';\n  return [{ json: {\n    response_type: 'error',\n    message: `\\u274C [${code}] ${e.message}. ${recovery}`,\n    data: { error_code: code },\n    suggestions: ['Check n8n execution logs'],\n    awaiting_input: false\n  }}];\n}"
      },
      "id": "w2-today",
      "name": "Code: /today Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// /help — Command Reference\n// ===========================================\n\nconst helpText = `\\uD83D\\uDCDA **pulse Command Reference**\n\n**\\uD83D\\uDD0D Query Commands**\n  \\u2022 \\`/today\\` \\u2014 View today's quest board\n  \\u2022 \\`/brief\\` \\u2014 View top 5 milestone briefings\n  \\u2022 \\`/brief all\\` \\u2014 View all milestones\n  \\u2022 \\`/stats {N}\\` \\u2014 View N-day statistics (default: 7)\n  \\u2022 \\`/deferred\\` \\u2014 View all deferred quests\n  \\u2022 \\`/preview\\` \\u2014 Preview tomorrow's quests\n  \\u2022 \\`/weekly\\` \\u2014 Weekly summary report\n\n**\\u2705 Interactive Commands**\n  \\u2022 \\`/complete\\` \\u2014 Mark quests as completed\n  \\u2022 \\`/cancel\\` \\u2014 Cancel quests\n  \\u2022 \\`/defer\\` \\u2014 Defer quests to later\n  \\u2022 \\`/restore\\` \\u2014 Restore deferred quests\n  \\u2022 \\`/edit\\` \\u2014 Edit quest time or priority\n\n**\\u26A1 Immediate Commands**\n  \\u2022 \\`/add {name} {duration}\\` \\u2014 Add a manual quest\n\n**\\u2757 Confirm Commands**\n  \\u2022 \\`/regen\\` \\u2014 Regenerate today's quests\n\n_Tip: Interactive commands show a numbered list. Reply with numbers to select (e.g., 1,3 or 1-3)._`;\n\nreturn [{\n  json: {\n    response_type: 'info',\n    message: helpText,\n    data: null,\n    suggestions: [],\n    awaiting_input: false,\n  }\n}];"
      },
      "id": "w2-help",
      "name": "Code: /help Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Ping handler for connectivity test\nreturn [{\n  json: {\n    response_type: 'info',\n    message: 'pong',\n    data: { status: 'ok', timestamp: new Date().toISOString() },\n    suggestions: [],\n    awaiting_input: false,\n  }\n}];"
      },
      "id": "w2-ping",
      "name": "Code: Ping Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pass through error response from router\nreturn [$input.first()];"
      },
      "id": "w2-error-pass",
      "name": "Code: Error Passthrough",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        620
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// /complete — Interactive Quest Completion\n// ===========================================\n// Phase 1 (no target): List today's To-Do/In Progress quests\n// Phase 2 (with target): Move selected quests to Done state\n\nconst config = {\n  base_url: $env.PULSE_PLANE_BASE_URL,\n  workspace_slug: $env.PULSE_PLANE_WORKSPACE_SLUG,\n  api_key: $env.PULSE_PLANE_API_KEY,\n  daily_quest_project_id: $env.PULSE_DAILY_QUEST_PROJECT_ID,\n  state_todo: $env.PULSE_STATE_TODO_ID,\n  state_in_progress: $env.PULSE_STATE_IN_PROGRESS_ID,\n  state_done: $env.PULSE_STATE_DONE_ID,\n};\n\nconst basePath = `${config.base_url}/api/v1/workspaces/${config.workspace_slug}`;\nconst headers = { 'X-API-Key': config.api_key, 'Content-Type': 'application/json' };\nconst tz = $env.PULSE_USER_TIMEZONE || 'Asia/Seoul';\nconst DRY_RUN = ($env.PULSE_DRY_RUN || 'false').toLowerCase() === 'true' || ($env.PULSE_DRY_RUN || 'false') === '1';\n\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst MAX_RETRIES = 3;\nconst RETRY_MS = 5000;\nconst withRetry = async (fn, ctx) => {\n  for (let i = 1; i <= MAX_RETRIES; i++) {\n    try { return await fn(); } catch (e) {\n      console.log(`[RETRY] ${ctx} attempt ${i}/${MAX_RETRIES}: ${e.message}`);\n      if (i === MAX_RETRIES) {\n        const isTimeout = e.code === 'ETIMEDOUT' || e.code === 'ECONNABORTED' || e.message?.includes('timeout');\n        const errorCode = isTimeout ? 'PLANE_API_TIMEOUT' : 'PLANE_API_ERROR';\n        const err = new Error(`[${errorCode}] ${ctx}: ${e.message}`);\n        err.errorCode = errorCode;\n        throw err;\n      }\n      await sleep(RETRY_MS);\n    }\n  }\n};\n\nconst apiGet = async (path) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'GET', headers });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst apiPatch = async (path, body) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'PATCH', headers, body: JSON.stringify(body) });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst apiPost = async (path, body) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'POST', headers, body: JSON.stringify(body) });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst decodeEntities = (s) => s.replace(/&quot;/g, '\"').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&#39;/g, \"'\").replace(/&apos;/g, \"'\");\nconst extractMeta = (html) => {\n  if (!html) return null;\n  try {\n    let m = html.match(/<pre><code\\s+class=\"language-pulse-meta\">([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (m) return JSON.parse(decodeEntities(m[1].trim()));\n    m = html.match(/<pre><code>([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (m) { const c = decodeEntities(m[1].trim()); if (c.includes('\"schema_version\"')) return JSON.parse(c); }\n    m = html.match(/```pulse-meta\\s*\\n([\\s\\S]*?)\\n\\s*```/);\n    if (m) return JSON.parse(m[1].trim());\n  } catch (e) { return null; }\n  return null;\n};\n\nconst PRIORITY_EMOJI = { 4: '\\uD83D\\uDD34', 3: '\\uD83D\\uDFE0', 2: '\\uD83D\\uDFE1', 1: '\\uD83D\\uDFE2', 0: '\\uD83D\\uDFE2' };\nconst PRIORITY_NAME = { 4: 'urgent', 3: 'high', 2: 'medium', 1: 'low', 0: 'none' };\nconst formatDuration = (min) => {\n  if (!min) return '';\n  if (min >= 60) { const h = Math.floor(min / 60); const m = min % 60; return m > 0 ? `${h}h${m}min` : `${h}h`; }\n  return `${min}min`;\n};\n\nconst target = $input.first().json.target;\n\ntry {\n  const todayStr = new Date().toLocaleDateString('en-CA', { timeZone: tz });\n  const projId = config.daily_quest_project_id;\n\n  if (!target) {\n    // Phase 1: List quests available for completion\n    const result = await withRetry(\n      () => apiGet(`/projects/${projId}/issues/?per_page=100&expand=labels,state&target_date=${todayStr}`),\n      'Fetch today quests'\n    );\n    const allQuests = result.results || result || [];\n    const actionable = allQuests.filter(q => {\n      const sn = q.state_detail?.name;\n      return sn === 'To-Do' || sn === 'In Progress';\n    });\n\n    if (actionable.length === 0) {\n      return [{ json: {\n        response_type: 'info',\n        message: '\\u2139\\uFE0F No quests available to complete. All quests are already done or canceled.',\n        data: null, suggestions: ['Try /today to view your quest board'], awaiting_input: false\n      }}];\n    }\n\n    // Build numbered list\n    let list = '';\n    for (let i = 0; i < actionable.length; i++) {\n      const q = actionable[i];\n      const pEmoji = PRIORITY_EMOJI[q.priority] || '\\uD83D\\uDFE1';\n      const pName = PRIORITY_NAME[q.priority] || 'medium';\n      const meta = extractMeta(q.description_html);\n      const time = meta?.routine_time || '--:--';\n      const dur = meta?.routine_duration_min ? formatDuration(meta.routine_duration_min) : '';\n      const deferSuffix = meta?.defer_count > 0 ? ` (deferred x${meta.defer_count})` : '';\n      list += `${i + 1}. [${pEmoji} ${pName}] ${q.name} \\u2014 ${time}${dur ? ` (${dur})` : ''}${deferSuffix}\\n`;\n    }\n\n    return [{ json: {\n      response_type: 'list',\n      message: list,\n      data: { quest_ids: actionable.map(q => q.id), count: actionable.length },\n      suggestions: ['Enter number(s) (e.g., 1,3 or 1-3):'],\n      awaiting_input: true\n    }}];\n  }\n\n  // Phase 2: Complete selected quests\n  const issueIds = target.split(',').map(s => s.trim()).filter(Boolean);\n  const nowStr = new Date().toLocaleTimeString('en-GB', { timeZone: tz, hour: '2-digit', minute: '2-digit' });\n\n  // Validate issue IDs belong to today's actionable quests\n  const todayResult = await withRetry(\n    () => apiGet(`/projects/${projId}/issues/?per_page=100&expand=labels,state&target_date=${todayStr}`),\n    'Fetch today quests for validation'\n  );\n  const todayQuests = todayResult.results || todayResult || [];\n  const actionableIds = new Set(\n    todayQuests.filter(q => {\n      const sn = q.state_detail?.name;\n      return sn === 'To-Do' || sn === 'In Progress';\n    }).map(q => q.id)\n  );\n\n  const invalidIds = issueIds.filter(id => !actionableIds.has(id));\n  if (invalidIds.length > 0) {\n    return [{ json: {\n      response_type: 'error',\n      message: `\\u274C [INVALID_INPUT] Issue(s) ${invalidIds.join(', ')} are not in today's actionable quests.`,\n      data: { error_code: 'INVALID_INPUT' },\n      suggestions: ['Use /complete to see available quests'],\n      awaiting_input: false\n    }}];\n  }\n\n  let completed = 0;\n\n  for (const issueId of issueIds) {\n    if (DRY_RUN) {\n      console.log(`[DRY_RUN] Would complete issue ${issueId} (state → Done)`);\n      console.log(`[DRY_RUN] Would add comment on issue ${issueId}`);\n    } else {\n      await withRetry(\n        () => apiPatch(`/projects/${projId}/issues/${issueId}/`, { state: config.state_done }),\n        `Complete issue ${issueId}`\n      );\n      await withRetry(\n        () => apiPost(`/projects/${projId}/issues/${issueId}/comments/`, { comment_html: `<p>\\u2705 [${nowStr}] Quest completed by user</p>` }),\n        `Comment on ${issueId}`\n      );\n    }\n    completed++;\n  }\n\n  const dryTag = DRY_RUN ? ' [DRY_RUN]' : '';\n  return [{ json: {\n    response_type: 'confirmation',\n    message: `\\u2705${dryTag} ${completed} quest${completed !== 1 ? 's' : ''} completed!`,\n    data: { completed_count: completed, issue_ids: issueIds, dry_run: DRY_RUN },\n    suggestions: ['Type /today to see updated board'],\n    awaiting_input: false\n  }}];\n} catch (e) {\n  const code = e.errorCode || 'PLANE_API_ERROR';\n  const recovery = code === 'PLANE_API_TIMEOUT'\n    ? 'Please check Plane.so service status and try again later.'\n    : 'Please check Plane.so API configuration.';\n  return [{ json: {\n    response_type: 'error',\n    message: `\\u274C [${code}] ${e.message}. ${recovery}`,\n    data: { error_code: code },\n    suggestions: ['Check n8n execution logs'],\n    awaiting_input: false\n  }}];\n}"
      },
      "id": "w2-complete",
      "name": "Code: /complete Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        840
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// /cancel — Interactive Quest Cancellation\n// ===========================================\n// Phase 1 (no target): List today's To-Do/In Progress quests\n// Phase 2 (with target): Move selected quests to Canceled state\n\nconst config = {\n  base_url: $env.PULSE_PLANE_BASE_URL,\n  workspace_slug: $env.PULSE_PLANE_WORKSPACE_SLUG,\n  api_key: $env.PULSE_PLANE_API_KEY,\n  daily_quest_project_id: $env.PULSE_DAILY_QUEST_PROJECT_ID,\n  state_canceled: $env.PULSE_STATE_CANCELED_ID,\n};\n\nconst basePath = `${config.base_url}/api/v1/workspaces/${config.workspace_slug}`;\nconst headers = { 'X-API-Key': config.api_key, 'Content-Type': 'application/json' };\nconst tz = $env.PULSE_USER_TIMEZONE || 'Asia/Seoul';\nconst DRY_RUN = ($env.PULSE_DRY_RUN || 'false').toLowerCase() === 'true' || ($env.PULSE_DRY_RUN || 'false') === '1';\n\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst MAX_RETRIES = 3;\nconst RETRY_MS = 5000;\nconst withRetry = async (fn, ctx) => {\n  for (let i = 1; i <= MAX_RETRIES; i++) {\n    try { return await fn(); } catch (e) {\n      console.log(`[RETRY] ${ctx} attempt ${i}/${MAX_RETRIES}: ${e.message}`);\n      if (i === MAX_RETRIES) {\n        const isTimeout = e.code === 'ETIMEDOUT' || e.code === 'ECONNABORTED' || e.message?.includes('timeout');\n        const errorCode = isTimeout ? 'PLANE_API_TIMEOUT' : 'PLANE_API_ERROR';\n        const err = new Error(`[${errorCode}] ${ctx}: ${e.message}`);\n        err.errorCode = errorCode;\n        throw err;\n      }\n      await sleep(RETRY_MS);\n    }\n  }\n};\n\nconst apiGet = async (path) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'GET', headers });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst apiPatch = async (path, body) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'PATCH', headers, body: JSON.stringify(body) });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst apiPost = async (path, body) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'POST', headers, body: JSON.stringify(body) });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst decodeEntities = (s) => s.replace(/&quot;/g, '\"').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&#39;/g, \"'\").replace(/&apos;/g, \"'\");\nconst extractMeta = (html) => {\n  if (!html) return null;\n  try {\n    let m = html.match(/<pre><code\\s+class=\"language-pulse-meta\">([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (m) return JSON.parse(decodeEntities(m[1].trim()));\n    m = html.match(/<pre><code>([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (m) { const c = decodeEntities(m[1].trim()); if (c.includes('\"schema_version\"')) return JSON.parse(c); }\n    m = html.match(/```pulse-meta\\s*\\n([\\s\\S]*?)\\n\\s*```/);\n    if (m) return JSON.parse(m[1].trim());\n  } catch (e) { return null; }\n  return null;\n};\n\nconst PRIORITY_EMOJI = { 4: '\\uD83D\\uDD34', 3: '\\uD83D\\uDFE0', 2: '\\uD83D\\uDFE1', 1: '\\uD83D\\uDFE2', 0: '\\uD83D\\uDFE2' };\nconst PRIORITY_NAME = { 4: 'urgent', 3: 'high', 2: 'medium', 1: 'low', 0: 'none' };\nconst formatDuration = (min) => {\n  if (!min) return '';\n  if (min >= 60) { const h = Math.floor(min / 60); const m = min % 60; return m > 0 ? `${h}h${m}min` : `${h}h`; }\n  return `${min}min`;\n};\n\nconst target = $input.first().json.target;\n\ntry {\n  const todayStr = new Date().toLocaleDateString('en-CA', { timeZone: tz });\n  const projId = config.daily_quest_project_id;\n\n  if (!target) {\n    // Phase 1: List quests available for cancellation\n    const result = await withRetry(\n      () => apiGet(`/projects/${projId}/issues/?per_page=100&expand=labels,state&target_date=${todayStr}`),\n      'Fetch today quests'\n    );\n    const allQuests = result.results || result || [];\n    const actionable = allQuests.filter(q => {\n      const sn = q.state_detail?.name;\n      return sn === 'To-Do' || sn === 'In Progress';\n    });\n\n    if (actionable.length === 0) {\n      return [{ json: {\n        response_type: 'info',\n        message: '\\u2139\\uFE0F No quests available to cancel.',\n        data: null, suggestions: ['Try /today to view your quest board'], awaiting_input: false\n      }}];\n    }\n\n    let list = '';\n    for (let i = 0; i < actionable.length; i++) {\n      const q = actionable[i];\n      const pEmoji = PRIORITY_EMOJI[q.priority] || '\\uD83D\\uDFE1';\n      const pName = PRIORITY_NAME[q.priority] || 'medium';\n      const meta = extractMeta(q.description_html);\n      const time = meta?.routine_time || '--:--';\n      const dur = meta?.routine_duration_min ? formatDuration(meta.routine_duration_min) : '';\n      const deferSuffix = meta?.defer_count > 0 ? ` (deferred x${meta.defer_count})` : '';\n      list += `${i + 1}. [${pEmoji} ${pName}] ${q.name} \\u2014 ${time}${dur ? ` (${dur})` : ''}${deferSuffix}\\n`;\n    }\n\n    return [{ json: {\n      response_type: 'list',\n      message: list,\n      data: { quest_ids: actionable.map(q => q.id), count: actionable.length },\n      suggestions: ['Enter number(s) (e.g., 1,3 or 1-3):'],\n      awaiting_input: true\n    }}];\n  }\n\n  // Phase 2: Cancel selected quests\n  const issueIds = target.split(',').map(s => s.trim()).filter(Boolean);\n  const nowStr = new Date().toLocaleTimeString('en-GB', { timeZone: tz, hour: '2-digit', minute: '2-digit' });\n\n  // Validate issue IDs belong to today's actionable quests\n  const todayResult = await withRetry(\n    () => apiGet(`/projects/${projId}/issues/?per_page=100&expand=labels,state&target_date=${todayStr}`),\n    'Fetch today quests for validation'\n  );\n  const todayQuests = todayResult.results || todayResult || [];\n  const actionableIds = new Set(\n    todayQuests.filter(q => {\n      const sn = q.state_detail?.name;\n      return sn === 'To-Do' || sn === 'In Progress';\n    }).map(q => q.id)\n  );\n\n  const invalidIds = issueIds.filter(id => !actionableIds.has(id));\n  if (invalidIds.length > 0) {\n    return [{ json: {\n      response_type: 'error',\n      message: `\\u274C [INVALID_INPUT] Issue(s) ${invalidIds.join(', ')} are not in today's actionable quests.`,\n      data: { error_code: 'INVALID_INPUT' },\n      suggestions: ['Use /cancel to see available quests'],\n      awaiting_input: false\n    }}];\n  }\n\n  let canceled = 0;\n\n  for (const issueId of issueIds) {\n    if (DRY_RUN) {\n      console.log(`[DRY_RUN] Would cancel issue ${issueId} (state → Canceled)`);\n      console.log(`[DRY_RUN] Would add comment on issue ${issueId}`);\n    } else {\n      await withRetry(\n        () => apiPatch(`/projects/${projId}/issues/${issueId}/`, { state: config.state_canceled }),\n        `Cancel issue ${issueId}`\n      );\n      await withRetry(\n        () => apiPost(`/projects/${projId}/issues/${issueId}/comments/`, { comment_html: `<p>\\uD83D\\uDEAB [${nowStr}] Canceled by user</p>` }),\n        `Comment on ${issueId}`\n      );\n    }\n    canceled++;\n  }\n\n  const dryTag = DRY_RUN ? ' [DRY_RUN]' : '';\n  return [{ json: {\n    response_type: 'confirmation',\n    message: `\\u2705${dryTag} ${canceled} quest${canceled !== 1 ? 's' : ''} canceled.`,\n    data: { canceled_count: canceled, issue_ids: issueIds, dry_run: DRY_RUN },\n    suggestions: ['Type /today to see updated board'],\n    awaiting_input: false\n  }}];\n} catch (e) {\n  const code = e.errorCode || 'PLANE_API_ERROR';\n  const recovery = code === 'PLANE_API_TIMEOUT'\n    ? 'Please check Plane.so service status and try again later.'\n    : 'Please check Plane.so API configuration.';\n  return [{ json: {\n    response_type: 'error',\n    message: `\\u274C [${code}] ${e.message}. ${recovery}`,\n    data: { error_code: code },\n    suggestions: ['Check n8n execution logs'],\n    awaiting_input: false\n  }}];\n}"
      },
      "id": "w2-cancel",
      "name": "Code: /cancel Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        1000
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// /defer — Interactive Quest Deferral with Warning\n// ===========================================\n// Phase 1 (no target): List today's To-Do/In Progress quests\n// Phase 2 (with target): Move selected quests to Deferred state,\n//   increment defer_count, warn if defer_count >= threshold\n\nconst config = {\n  base_url: $env.PULSE_PLANE_BASE_URL,\n  workspace_slug: $env.PULSE_PLANE_WORKSPACE_SLUG,\n  api_key: $env.PULSE_PLANE_API_KEY,\n  daily_quest_project_id: $env.PULSE_DAILY_QUEST_PROJECT_ID,\n  state_deferred: $env.PULSE_STATE_DEFERRED_ID,\n};\n\nconst basePath = `${config.base_url}/api/v1/workspaces/${config.workspace_slug}`;\nconst headers = { 'X-API-Key': config.api_key, 'Content-Type': 'application/json' };\nconst tz = $env.PULSE_USER_TIMEZONE || 'Asia/Seoul';\nconst DRY_RUN = ($env.PULSE_DRY_RUN || 'false').toLowerCase() === 'true' || ($env.PULSE_DRY_RUN || 'false') === '1';\n\nconst DEFER_WARNING_THRESHOLD = 3;\n\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst MAX_RETRIES = 3;\nconst RETRY_MS = 5000;\nconst withRetry = async (fn, ctx) => {\n  for (let i = 1; i <= MAX_RETRIES; i++) {\n    try { return await fn(); } catch (e) {\n      console.log(`[RETRY] ${ctx} attempt ${i}/${MAX_RETRIES}: ${e.message}`);\n      if (i === MAX_RETRIES) {\n        const isTimeout = e.code === 'ETIMEDOUT' || e.code === 'ECONNABORTED' || e.message?.includes('timeout');\n        const errorCode = isTimeout ? 'PLANE_API_TIMEOUT' : 'PLANE_API_ERROR';\n        const err = new Error(`[${errorCode}] ${ctx}: ${e.message}`);\n        err.errorCode = errorCode;\n        throw err;\n      }\n      await sleep(RETRY_MS);\n    }\n  }\n};\n\nconst apiGet = async (path) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'GET', headers });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst apiPatch = async (path, body) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'PATCH', headers, body: JSON.stringify(body) });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst apiPost = async (path, body) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'POST', headers, body: JSON.stringify(body) });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst decodeEntities = (s) => s.replace(/&quot;/g, '\"').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&#39;/g, \"'\").replace(/&apos;/g, \"'\");\nconst extractMeta = (html) => {\n  if (!html) return null;\n  try {\n    let m = html.match(/<pre><code\\s+class=\"language-pulse-meta\">([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (m) return JSON.parse(decodeEntities(m[1].trim()));\n    m = html.match(/<pre><code>([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (m) { const c = decodeEntities(m[1].trim()); if (c.includes('\"schema_version\"')) return JSON.parse(c); }\n    m = html.match(/```pulse-meta\\s*\\n([\\s\\S]*?)\\n\\s*```/);\n    if (m) return JSON.parse(m[1].trim());\n  } catch (e) { return null; }\n  return null;\n};\n\nconst updateMetaInHtml = (html, updates) => {\n  if (!html) return html;\n  const meta = extractMeta(html);\n  if (!meta) return html;\n  const updated = { ...meta, ...updates };\n  const json = JSON.stringify(updated, null, 2);\n\n  // Pattern 2: HTML with class attribute\n  let result = html.replace(/<pre><code\\s+class=\"language-pulse-meta\">[\\s\\S]*?<\\/code><\\/pre>/, `<pre><code class=\"language-pulse-meta\">${json}</code></pre>`);\n  if (result !== html) return result;\n\n  // Pattern 3: HTML without class (fallback)\n  result = html.replace(/<pre><code>[\\s\\S]*?<\\/code><\\/pre>/, `<pre><code class=\"language-pulse-meta\">${json}</code></pre>`);\n  if (result !== html) return result;\n\n  // Pattern 1: Markdown fenced code block\n  result = html.replace(/```pulse-meta\\s*\\n[\\s\\S]*?\\n\\s*```/, `\\`\\`\\`pulse-meta\\n${json}\\n\\`\\`\\``);\n  if (result !== html) return result;\n\n  return html;\n};\n\nconst PRIORITY_EMOJI = { 4: '\\uD83D\\uDD34', 3: '\\uD83D\\uDFE0', 2: '\\uD83D\\uDFE1', 1: '\\uD83D\\uDFE2', 0: '\\uD83D\\uDFE2' };\nconst PRIORITY_NAME = { 4: 'urgent', 3: 'high', 2: 'medium', 1: 'low', 0: 'none' };\nconst formatDuration = (min) => {\n  if (!min) return '';\n  if (min >= 60) { const h = Math.floor(min / 60); const m = min % 60; return m > 0 ? `${h}h${m}min` : `${h}h`; }\n  return `${min}min`;\n};\n\nconst target = $input.first().json.target;\n\ntry {\n  const todayStr = new Date().toLocaleDateString('en-CA', { timeZone: tz });\n  const projId = config.daily_quest_project_id;\n\n  if (!target) {\n    // Phase 1: List quests available for deferral\n    const result = await withRetry(\n      () => apiGet(`/projects/${projId}/issues/?per_page=100&expand=labels,state&target_date=${todayStr}`),\n      'Fetch today quests'\n    );\n    const allQuests = result.results || result || [];\n    const actionable = allQuests.filter(q => {\n      const sn = q.state_detail?.name;\n      return sn === 'To-Do' || sn === 'In Progress';\n    });\n\n    if (actionable.length === 0) {\n      return [{ json: {\n        response_type: 'info',\n        message: '\\u2139\\uFE0F No quests available to defer.',\n        data: null, suggestions: ['Try /today to view your quest board'], awaiting_input: false\n      }}];\n    }\n\n    let list = '';\n    for (let i = 0; i < actionable.length; i++) {\n      const q = actionable[i];\n      const pEmoji = PRIORITY_EMOJI[q.priority] || '\\uD83D\\uDFE1';\n      const pName = PRIORITY_NAME[q.priority] || 'medium';\n      const meta = extractMeta(q.description_html);\n      const time = meta?.routine_time || '--:--';\n      const dur = meta?.routine_duration_min ? formatDuration(meta.routine_duration_min) : '';\n      const deferCount = meta?.defer_count || 0;\n      const deferSuffix = deferCount > 0 ? ` (deferred x${deferCount})` : '';\n      list += `${i + 1}. [${pEmoji} ${pName}] ${q.name} \\u2014 ${time}${dur ? ` (${dur})` : ''}${deferSuffix}\\n`;\n    }\n\n    return [{ json: {\n      response_type: 'list',\n      message: list,\n      data: { quest_ids: actionable.map(q => q.id), count: actionable.length },\n      suggestions: ['Enter number(s) (e.g., 1,3 or 1-3):'],\n      awaiting_input: true\n    }}];\n  }\n\n  // Phase 2: Defer selected quests\n  const issueIds = target.split(',').map(s => s.trim()).filter(Boolean);\n  const nowStr = new Date().toLocaleTimeString('en-GB', { timeZone: tz, hour: '2-digit', minute: '2-digit' });\n\n  // Validate issue IDs belong to today's actionable quests\n  const todayResult = await withRetry(\n    () => apiGet(`/projects/${projId}/issues/?per_page=100&expand=labels,state&target_date=${todayStr}`),\n    'Fetch today quests for validation'\n  );\n  const todayQuests = todayResult.results || todayResult || [];\n  const actionableIds = new Set(\n    todayQuests.filter(q => {\n      const sn = q.state_detail?.name;\n      return sn === 'To-Do' || sn === 'In Progress';\n    }).map(q => q.id)\n  );\n\n  const invalidIds = issueIds.filter(id => !actionableIds.has(id));\n  if (invalidIds.length > 0) {\n    return [{ json: {\n      response_type: 'error',\n      message: `\\u274C [INVALID_INPUT] Issue(s) ${invalidIds.join(', ')} are not in today's actionable quests.`,\n      data: { error_code: 'INVALID_INPUT' },\n      suggestions: ['Use /defer to see available quests'],\n      awaiting_input: false\n    }}];\n  }\n\n  let deferred = 0;\n  const warnings = [];\n\n  for (const issueId of issueIds) {\n    // Fetch current issue to get description and defer_count\n    const issue = await withRetry(\n      () => apiGet(`/projects/${projId}/issues/${issueId}/?expand=labels,state`),\n      `Fetch issue ${issueId}`\n    );\n\n    const meta = extractMeta(issue.description_html);\n    const currentCount = meta?.defer_count || 0;\n    const newCount = currentCount + 1;\n\n    // Update defer_count in description\n    const updatedHtml = updateMetaInHtml(issue.description_html, { defer_count: newCount });\n\n    if (DRY_RUN) {\n      console.log(`[DRY_RUN] Would defer issue ${issueId} (state → Deferred, defer_count: ${newCount})`);\n      console.log(`[DRY_RUN] Would add comment on issue ${issueId}`);\n    } else {\n      // Move to Deferred state and update description\n      await withRetry(\n        () => apiPatch(`/projects/${projId}/issues/${issueId}/`, {\n          state: config.state_deferred,\n          description_html: updatedHtml\n        }),\n        `Defer issue ${issueId}`\n      );\n\n      // Add comment\n      await withRetry(\n        () => apiPost(`/projects/${projId}/issues/${issueId}/comments/`, {\n          comment_html: `<p>\\u23F8\\uFE0F [${nowStr}] Deferred by user (count: ${newCount})</p>`\n        }),\n        `Comment on ${issueId}`\n      );\n    }\n\n    if (newCount >= DEFER_WARNING_THRESHOLD) {\n      warnings.push(`\\u26A0\\uFE0F \"${issue.name}\" has been deferred ${newCount} times. Consider removing it.`);\n    }\n\n    deferred++;\n  }\n\n  const dryTag = DRY_RUN ? ' [DRY_RUN]' : '';\n  let message = `\\u23F8\\uFE0F${dryTag} ${deferred} quest${deferred !== 1 ? 's' : ''} deferred.`;\n  if (warnings.length > 0) {\n    message += '\\n\\n' + warnings.join('\\n');\n  }\n\n  return [{ json: {\n    response_type: 'confirmation',\n    message,\n    data: { deferred_count: deferred, issue_ids: issueIds, warnings, dry_run: DRY_RUN },\n    suggestions: ['Type /today to see updated board'],\n    awaiting_input: false\n  }}];\n} catch (e) {\n  const code = e.errorCode || 'PLANE_API_ERROR';\n  const recovery = code === 'PLANE_API_TIMEOUT'\n    ? 'Please check Plane.so service status and try again later.'\n    : 'Please check Plane.so API configuration.';\n  return [{ json: {\n    response_type: 'error',\n    message: `\\u274C [${code}] ${e.message}. ${recovery}`,\n    data: { error_code: code },\n    suggestions: ['Check n8n execution logs'],\n    awaiting_input: false\n  }}];\n}"
      },
      "id": "w2-defer",
      "name": "Code: /defer Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        1160
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// /add — Manual Quest Addition\n// ===========================================\n// Creates a new quest in the Daily Quests project\n// Expects params: { name, duration } or { name, duration, priority }\n\nconst config = {\n  base_url: $env.PULSE_PLANE_BASE_URL,\n  workspace_slug: $env.PULSE_PLANE_WORKSPACE_SLUG,\n  api_key: $env.PULSE_PLANE_API_KEY,\n  daily_quest_project_id: $env.PULSE_DAILY_QUEST_PROJECT_ID,\n  state_todo: $env.PULSE_STATE_TODO_ID,\n};\n\nconst basePath = `${config.base_url}/api/v1/workspaces/${config.workspace_slug}`;\nconst headers = { 'X-API-Key': config.api_key, 'Content-Type': 'application/json' };\nconst tz = $env.PULSE_USER_TIMEZONE || 'Asia/Seoul';\nconst DRY_RUN = ($env.PULSE_DRY_RUN || 'false').toLowerCase() === 'true' || ($env.PULSE_DRY_RUN || 'false') === '1';\n\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst MAX_RETRIES = 3;\nconst RETRY_MS = 5000;\nconst withRetry = async (fn, ctx) => {\n  for (let i = 1; i <= MAX_RETRIES; i++) {\n    try { return await fn(); } catch (e) {\n      console.log(`[RETRY] ${ctx} attempt ${i}/${MAX_RETRIES}: ${e.message}`);\n      if (i === MAX_RETRIES) {\n        const isTimeout = e.code === 'ETIMEDOUT' || e.code === 'ECONNABORTED' || e.message?.includes('timeout');\n        const errorCode = isTimeout ? 'PLANE_API_TIMEOUT' : 'PLANE_API_ERROR';\n        const err = new Error(`[${errorCode}] ${ctx}: ${e.message}`);\n        err.errorCode = errorCode;\n        throw err;\n      }\n      await sleep(RETRY_MS);\n    }\n  }\n};\n\nconst apiPost = async (path, body) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'POST', headers, body: JSON.stringify(body) });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst formatDuration = (min) => {\n  if (min >= 60) { const h = Math.floor(min / 60); const m = min % 60; return m > 0 ? `${h}h${m}min` : `${h}h`; }\n  return `${min}min`;\n};\n\nconst params = $input.first().json.params || {};\n\ntry {\n  const name = params.name;\n  const durationStr = params.duration;\n\n  if (!name || !durationStr) {\n    return [{ json: {\n      response_type: 'error',\n      message: '\\u274C [INVALID_INPUT] Usage: /add {name} {duration} (e.g., /add Code Review 1h). Please check input format and try again.',\n      data: { error_code: 'INVALID_INPUT' },\n      suggestions: ['Example: /add Code Review 1h', 'Example: /add Bug Fix 30min'],\n      awaiting_input: false\n    }}];\n  }\n\n  // Parse duration string (e.g., '1h', '30min', '1h30min', '90min')\n  let durationMin = 0;\n  const hMatch = durationStr.match(/(\\d+)h/);\n  const mMatch = durationStr.match(/(\\d+)m(?:in)?/);\n  if (hMatch) durationMin += parseInt(hMatch[1]) * 60;\n  if (mMatch) durationMin += parseInt(mMatch[1]);\n  if (durationMin === 0) {\n    // Try plain number as minutes\n    const plain = parseInt(durationStr);\n    if (!isNaN(plain) && plain > 0) durationMin = plain;\n  }\n\n  if (durationMin <= 0) {\n    return [{ json: {\n      response_type: 'error',\n      message: `\\u274C [INVALID_INPUT] Invalid duration: '${durationStr}'. Use formats like 1h, 30min, or 1h30min. Please check input format and try again.`,\n      data: { error_code: 'INVALID_INPUT' },\n      suggestions: ['Example: 1h, 30min, 1h30min, 90'],\n      awaiting_input: false\n    }}];\n  }\n\n  const todayStr = new Date().toLocaleDateString('en-CA', { timeZone: tz });\n  const nowStr = new Date().toLocaleTimeString('en-GB', { timeZone: tz, hour: '2-digit', minute: '2-digit' });\n\n  // Priority mapping: default medium (2)\n  const priorityMap = { urgent: 4, high: 3, medium: 2, low: 1, none: 0 };\n  const priority = priorityMap[params.priority] ?? 2;\n  const priorityName = Object.keys(priorityMap).find(k => priorityMap[k] === priority) || 'medium';\n\n  // Build pulse-meta for the manually added quest (manual type with all schema fields)\n  const meta = {\n    schema_version: 1,\n    routine_type: 'manual',\n    routine_days: [new Date().toLocaleDateString('en-US', { timeZone: tz, weekday: 'short' }).toLowerCase().slice(0, 3)],\n    routine_time: nowStr,\n    routine_duration_min: durationMin,\n    routine_priority: priorityName,\n    routine_mandatory: false,\n    routine_active_from: todayStr,\n    routine_active_until: todayStr,\n    routine_cooldown_days: 0,\n    source_project_id: config.daily_quest_project_id,\n    source_issue_id: 'manual',\n    source_type: 'manual',\n    quest_date: todayStr,\n    defer_count: 0\n  };\n\n  const descriptionHtml = `<pre><code class=\"language-pulse-meta\">${JSON.stringify(meta, null, 2)}</code></pre>`;\n\n  const projId = config.daily_quest_project_id;\n\n  if (DRY_RUN) {\n    console.log(`[DRY_RUN] Would create manual quest: \"${name}\" (${formatDuration(durationMin)})`);\n  } else {\n    await withRetry(\n      () => apiPost(`/projects/${projId}/issues/`, {\n        name,\n        description_html: descriptionHtml,\n        priority,\n        state: config.state_todo,\n        target_date: todayStr,\n        start_date: todayStr\n      }),\n      'Create manual quest'\n    );\n  }\n\n  const dryTag = DRY_RUN ? ' [DRY_RUN]' : '';\n  return [{ json: {\n    response_type: 'confirmation',\n    message: `\\u2705${dryTag} Quest added: \"${name}\" (${formatDuration(durationMin)})`,\n    data: { name, duration_min: durationMin, priority, dry_run: DRY_RUN },\n    suggestions: ['Type /today to see updated board'],\n    awaiting_input: false\n  }}];\n} catch (e) {\n  const code = e.errorCode || 'PLANE_API_ERROR';\n  const recovery = code === 'PLANE_API_TIMEOUT'\n    ? 'Please check Plane.so service status and try again later.'\n    : 'Please check Plane.so API configuration.';\n  return [{ json: {\n    response_type: 'error',\n    message: `\\u274C [${code}] ${e.message}. ${recovery}`,\n    data: { error_code: code },\n    suggestions: ['Check n8n execution logs'],\n    awaiting_input: false\n  }}];\n}"
      },
      "id": "w2-add",
      "name": "Code: /add Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        1320
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// /brief — Milestone Briefing\n// ===========================================\n// /brief: Top 5 milestones sorted by D-Day (closest deadline first)\n// /brief all: All milestones grouped by project\n\nconst config = {\n  base_url: $env.PULSE_PLANE_BASE_URL,\n  workspace_slug: $env.PULSE_PLANE_WORKSPACE_SLUG,\n  api_key: $env.PULSE_PLANE_API_KEY,\n};\n\nconst basePath = `${config.base_url}/api/v1/workspaces/${config.workspace_slug}`;\nconst headers = { 'X-API-Key': config.api_key, 'Content-Type': 'application/json' };\nconst tz = $env.PULSE_USER_TIMEZONE || 'Asia/Seoul';\n\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst MAX_RETRIES = 3;\nconst RETRY_MS = 5000;\nconst withRetry = async (fn, ctx) => {\n  for (let i = 1; i <= MAX_RETRIES; i++) {\n    try { return await fn(); } catch (e) {\n      console.log(`[RETRY] ${ctx} attempt ${i}/${MAX_RETRIES}: ${e.message}`);\n      if (i === MAX_RETRIES) {\n        const isTimeout = e.code === 'ETIMEDOUT' || e.code === 'ECONNABORTED' || e.message?.includes('timeout');\n        const errorCode = isTimeout ? 'PLANE_API_TIMEOUT' : 'PLANE_API_ERROR';\n        const err = new Error(`[${errorCode}] ${ctx}: ${e.message}`);\n        err.errorCode = errorCode;\n        throw err;\n      }\n      await sleep(RETRY_MS);\n    }\n  }\n};\n\nconst apiGet = async (path) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'GET', headers });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst target = $input.first().json.target;\nconst showAll = target === 'all';\n\ntry {\n  const todayStr = new Date().toLocaleDateString('en-CA', { timeZone: tz });\n\n  // Fetch all projects\n  const projectsRes = await withRetry(() => apiGet('/projects/'), 'List projects');\n  const projects = projectsRes.results || projectsRes || [];\n\n  const allMilestones = [];\n\n  for (const project of projects) {\n    // Fetch modules (milestones) for each project\n    const modulesRes = await withRetry(\n      () => apiGet(`/projects/${project.id}/modules/?per_page=100`),\n      `List modules for ${project.name}`\n    );\n    const modules = modulesRes.results || modulesRes || [];\n\n    for (const mod of modules) {\n      if (!mod.target_date) continue;\n\n      // Calculate D-Day\n      const targetMs = new Date(mod.target_date + 'T00:00:00').getTime();\n      const todayMs = new Date(todayStr + 'T00:00:00').getTime();\n      const dDays = Math.ceil((targetMs - todayMs) / (24 * 60 * 60 * 1000));\n\n      // Fetch module issues for progress calculation\n      let progress = 0;\n      try {\n        const issuesRes = await withRetry(\n          () => apiGet(`/projects/${project.id}/modules/${mod.id}/module-issues/?per_page=100&expand=state`),\n          `Module issues for ${mod.name}`\n        );\n        const issues = issuesRes.results || issuesRes || [];\n        const total = issues.length;\n        if (total > 0) {\n          const completed = issues.filter(i => {\n            const issue = i.issue_detail || i;\n            const stateName = issue.state_detail?.name || issue.state_name || '';\n            return stateName === 'Done';\n          }).length;\n          progress = Math.round((completed / total) * 100);\n        }\n      } catch (e) {\n        console.log(`[WARN] Could not fetch issues for module ${mod.name}: ${e.message}`);\n      }\n\n      allMilestones.push({\n        project_name: project.name,\n        milestone_name: mod.name,\n        progress,\n        d_days: dDays,\n        target_date: mod.target_date,\n        status: mod.status || 'unknown',\n      });\n    }\n  }\n\n  // Sort by D-Day (closest first)\n  allMilestones.sort((a, b) => a.d_days - b.d_days);\n\n  if (allMilestones.length === 0) {\n    return [{ json: {\n      response_type: 'info',\n      message: '\\u2139\\uFE0F No milestones with due dates found across your projects.',\n      data: null,\n      suggestions: ['Create milestones (modules) in Plane.so with target dates'],\n      awaiting_input: false\n    }}];\n  }\n\n  let message = '';\n\n  if (showAll) {\n    // Group by project\n    const grouped = {};\n    for (const m of allMilestones) {\n      if (!grouped[m.project_name]) grouped[m.project_name] = [];\n      grouped[m.project_name].push(m);\n    }\n\n    message = '\\uD83C\\uDFAF **All Milestones**\\n';\n    for (const [projName, milestones] of Object.entries(grouped)) {\n      message += `\\n**${projName}**\\n`;\n      for (const m of milestones) {\n        const dLabel = m.d_days >= 0 ? `D-${m.d_days}` : `D+${Math.abs(m.d_days)} (overdue)`;\n        message += `  \\uD83C\\uDFAF ${m.milestone_name}: ${m.progress}% (${dLabel})\\n`;\n      }\n    }\n  } else {\n    // Top 5\n    const top5 = allMilestones.slice(0, 5);\n    message = '\\uD83C\\uDFAF **Top 5 Milestones**\\n\\n';\n    for (const m of top5) {\n      const dLabel = m.d_days >= 0 ? `D-${m.d_days}` : `D+${Math.abs(m.d_days)} (overdue)`;\n      message += `\\uD83C\\uDFAF ${m.project_name} \\u2014 ${m.milestone_name}: ${m.progress}% (${dLabel})\\n`;\n    }\n  }\n\n  return [{ json: {\n    response_type: 'info',\n    message,\n    data: { milestones: showAll ? allMilestones : allMilestones.slice(0, 5), total: allMilestones.length },\n    suggestions: showAll ? [] : ['Use /brief all to see all milestones'],\n    awaiting_input: false\n  }}];\n} catch (e) {\n  const code = e.errorCode || 'PLANE_API_ERROR';\n  const recovery = code === 'PLANE_API_TIMEOUT'\n    ? 'Please check Plane.so service status and try again later.'\n    : 'Please check Plane.so API configuration.';\n  return [{ json: {\n    response_type: 'error',\n    message: `\\u274C [${code}] ${e.message}. ${recovery}`,\n    data: { error_code: code },\n    suggestions: ['Check n8n execution logs'],\n    awaiting_input: false\n  }}];\n}"
      },
      "id": "w2-brief",
      "name": "Code: /brief Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        1800
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// /stats — N-Day Statistics\n// ===========================================\n// Shows quest completion statistics for past N days.\n// Default N=7 if not specified.\n\nconst config = {\n  base_url: $env.PULSE_PLANE_BASE_URL,\n  workspace_slug: $env.PULSE_PLANE_WORKSPACE_SLUG,\n  api_key: $env.PULSE_PLANE_API_KEY,\n  daily_quest_project_id: $env.PULSE_DAILY_QUEST_PROJECT_ID,\n};\n\nconst basePath = `${config.base_url}/api/v1/workspaces/${config.workspace_slug}`;\nconst headers = { 'X-API-Key': config.api_key, 'Content-Type': 'application/json' };\nconst tz = $env.PULSE_USER_TIMEZONE || 'Asia/Seoul';\n\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst MAX_RETRIES = 3;\nconst RETRY_MS = 5000;\nconst withRetry = async (fn, ctx) => {\n  for (let i = 1; i <= MAX_RETRIES; i++) {\n    try { return await fn(); } catch (e) {\n      console.log(`[RETRY] ${ctx} attempt ${i}/${MAX_RETRIES}: ${e.message}`);\n      if (i === MAX_RETRIES) {\n        const isTimeout = e.code === 'ETIMEDOUT' || e.code === 'ECONNABORTED' || e.message?.includes('timeout');\n        const errorCode = isTimeout ? 'PLANE_API_TIMEOUT' : 'PLANE_API_ERROR';\n        const err = new Error(`[${errorCode}] ${ctx}: ${e.message}`);\n        err.errorCode = errorCode;\n        throw err;\n      }\n      await sleep(RETRY_MS);\n    }\n  }\n};\n\nconst apiGet = async (path) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'GET', headers });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\n\nconst fetchAllIssues = async (path) => {\n  let allItems = [];\n  let cursor = undefined;\n  let hasMore = true;\n  while (hasMore) {\n    const url = cursor ? `${path}&cursor=${cursor}` : path;\n    const res = await withRetry(() => apiGet(url), 'Fetch issues page');\n    const data = res.results || res || [];\n    allItems = allItems.concat(Array.isArray(data) ? data : []);\n    hasMore = res.next_page_results === true;\n    cursor = res.next_cursor || undefined;\n    if (!hasMore || !cursor) break;\n  }\n  return allItems;\n};\n\nconst params = $input.first().json.params || {};\n\ntry {\n  const days = parseInt(params.days) || 7;\n  if (days < 1 || days > 90) {\n    return [{ json: {\n      response_type: 'error',\n      message: '\\u274C [INVALID_INPUT] Days must be between 1 and 90. Please check input format and try again.',\n      data: { error_code: 'INVALID_INPUT' },\n      suggestions: ['Example: /stats 7, /stats 30'],\n      awaiting_input: false\n    }}];\n  }\n\n  const todayStr = new Date().toLocaleDateString('en-CA', { timeZone: tz });\n  const projId = config.daily_quest_project_id;\n\n  // Calculate date range\n  const dates = [];\n  for (let i = days - 1; i >= 0; i--) {\n    const d = new Date();\n    d.setDate(d.getDate() - i);\n    dates.push(d.toLocaleDateString('en-CA', { timeZone: tz }));\n  }\n\n  // Fetch all issues in daily quest project (paginated)\n  const allIssues = await fetchAllIssues(`/projects/${projId}/issues/?per_page=100&expand=labels,state`);\n\n  // Build daily breakdown\n  const dailyStats = {};\n  for (const date of dates) {\n    dailyStats[date] = { total: 0, completed: 0, deferred: 0, canceled: 0 };\n  }\n\n  for (const issue of allIssues) {\n    const td = issue.target_date;\n    if (!td || !dailyStats[td]) continue;\n    dailyStats[td].total++;\n    const state = issue.state_detail?.name || '';\n    if (state === 'Done') dailyStats[td].completed++;\n    else if (state === 'Deferred') dailyStats[td].deferred++;\n    else if (state === 'Canceled') dailyStats[td].canceled++;\n  }\n\n  // Calculate totals\n  let totalQuests = 0, totalCompleted = 0, totalDeferred = 0, totalCanceled = 0;\n  let bestDay = null, bestRate = -1, worstDay = null, worstRate = 101;\n\n  for (const date of dates) {\n    const s = dailyStats[date];\n    totalQuests += s.total;\n    totalCompleted += s.completed;\n    totalDeferred += s.deferred;\n    totalCanceled += s.canceled;\n\n    if (s.total > 0) {\n      const rate = Math.round((s.completed / s.total) * 100);\n      if (rate > bestRate) { bestRate = rate; bestDay = date; }\n      if (rate < worstRate) { worstRate = rate; worstDay = date; }\n    }\n  }\n\n  const completionRate = totalQuests > 0 ? Math.round((totalCompleted / totalQuests) * 100) : 0;\n  const deferralRate = totalQuests > 0 ? Math.round((totalDeferred / totalQuests) * 100) : 0;\n\n  // Format message\n  let message = `\\uD83D\\uDCCA **${days}-Day Statistics**\\n\\n`;\n  message += `**Summary**\\n`;\n  message += `  Total quests: ${totalQuests}\\n`;\n  message += `  Completed: ${totalCompleted} (${completionRate}%)\\n`;\n  message += `  Deferred: ${totalDeferred} (${deferralRate}%)\\n`;\n  message += `  Canceled: ${totalCanceled}\\n\\n`;\n\n  if (bestDay) {\n    const bDayName = new Date(bestDay + 'T12:00:00').toLocaleDateString('en-US', { weekday: 'short' });\n    message += `  \\uD83C\\uDFC6 Best: ${bestDay} (${bDayName}) \\u2014 ${bestRate}%\\n`;\n  }\n  if (worstDay && worstDay !== bestDay) {\n    const wDayName = new Date(worstDay + 'T12:00:00').toLocaleDateString('en-US', { weekday: 'short' });\n    message += `  \\uD83D\\uDCC9 Worst: ${worstDay} (${wDayName}) \\u2014 ${worstRate}%\\n`;\n  }\n\n  message += `\\n**Daily Breakdown**\\n`;\n  for (const date of dates) {\n    const s = dailyStats[date];\n    const dayName = new Date(date + 'T12:00:00').toLocaleDateString('en-US', { weekday: 'short' });\n    const rate = s.total > 0 ? Math.round((s.completed / s.total) * 100) : 0;\n    const bar = s.total > 0 ? ('\\u2588'.repeat(Math.round(rate / 10)) + '\\u2591'.repeat(10 - Math.round(rate / 10))) : '\\u2591'.repeat(10);\n    message += `  ${date} (${dayName}) ${bar} ${s.completed}/${s.total} (${rate}%)\\n`;\n  }\n\n  return [{ json: {\n    response_type: 'info',\n    message,\n    data: { days, total_quests: totalQuests, completed: totalCompleted, deferred: totalDeferred, canceled: totalCanceled, completion_rate: completionRate, daily: dailyStats },\n    suggestions: [],\n    awaiting_input: false\n  }}];\n} catch (e) {\n  const code = e.errorCode || 'PLANE_API_ERROR';\n  const recovery = code === 'PLANE_API_TIMEOUT'\n    ? 'Please check Plane.so service status and try again later.'\n    : 'Please check Plane.so API configuration.';\n  return [{ json: {\n    response_type: 'error',\n    message: `\\u274C [${code}] ${e.message}. ${recovery}`,\n    data: { error_code: code },\n    suggestions: ['Check n8n execution logs'],\n    awaiting_input: false\n  }}];\n}"
      },
      "id": "w2-stats",
      "name": "Code: /stats Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        1960
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// /deferred — View Deferred Quests\n// ===========================================\n// Lists all quests currently in Deferred state with defer counts.\n// Highlights quests with defer_count >= 5.\n\nconst config = {\n  base_url: $env.PULSE_PLANE_BASE_URL,\n  workspace_slug: $env.PULSE_PLANE_WORKSPACE_SLUG,\n  api_key: $env.PULSE_PLANE_API_KEY,\n  daily_quest_project_id: $env.PULSE_DAILY_QUEST_PROJECT_ID,\n  state_deferred: $env.PULSE_STATE_DEFERRED_ID,\n};\n\nconst basePath = `${config.base_url}/api/v1/workspaces/${config.workspace_slug}`;\nconst headers = { 'X-API-Key': config.api_key, 'Content-Type': 'application/json' };\nconst tz = $env.PULSE_USER_TIMEZONE || 'Asia/Seoul';\n\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst MAX_RETRIES = 3;\nconst RETRY_MS = 5000;\nconst withRetry = async (fn, ctx) => {\n  for (let i = 1; i <= MAX_RETRIES; i++) {\n    try { return await fn(); } catch (e) {\n      console.log(`[RETRY] ${ctx} attempt ${i}/${MAX_RETRIES}: ${e.message}`);\n      if (i === MAX_RETRIES) {\n        const isTimeout = e.code === 'ETIMEDOUT' || e.code === 'ECONNABORTED' || e.message?.includes('timeout');\n        const errorCode = isTimeout ? 'PLANE_API_TIMEOUT' : 'PLANE_API_ERROR';\n        const err = new Error(`[${errorCode}] ${ctx}: ${e.message}`);\n        err.errorCode = errorCode;\n        throw err;\n      }\n      await sleep(RETRY_MS);\n    }\n  }\n};\n\nconst apiGet = async (path) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'GET', headers });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst decodeEntities = (s) => s.replace(/&quot;/g, '\"').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&#39;/g, \"'\").replace(/&apos;/g, \"'\");\nconst extractMeta = (html) => {\n  if (!html) return null;\n  try {\n    let m = html.match(/<pre><code\\s+class=\"language-pulse-meta\">([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (m) return JSON.parse(decodeEntities(m[1].trim()));\n    m = html.match(/<pre><code>([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (m) { const c = decodeEntities(m[1].trim()); if (c.includes('\"schema_version\"')) return JSON.parse(c); }\n    m = html.match(/```pulse-meta\\s*\\n([\\s\\S]*?)\\n\\s*```/);\n    if (m) return JSON.parse(m[1].trim());\n  } catch (e) { return null; }\n  return null;\n};\n\ntry {\n  const projId = config.daily_quest_project_id;\n\n  // Fetch all deferred issues\n  const result = await withRetry(\n    () => apiGet(`/projects/${projId}/issues/?per_page=100&expand=labels,state&state=${config.state_deferred}`),\n    'Fetch deferred quests'\n  );\n  const deferred = result.results || result || [];\n\n  if (deferred.length === 0) {\n    return [{ json: {\n      response_type: 'info',\n      message: '\\u2139\\uFE0F No deferred quests found. All clear!',\n      data: null,\n      suggestions: ['Try /today to view your quest board'],\n      awaiting_input: false\n    }}];\n  }\n\n  // Resolve source_project_id -> project name (cached)\n  const projectNameCache = {};\n  const resolveProjectName = async (projectId) => {\n    if (!projectId || projectId === 'unknown') return 'unknown';\n    if (projectNameCache[projectId]) return projectNameCache[projectId];\n    try {\n      const proj = await withRetry(() => apiGet(`/projects/${projectId}/`), `Resolve project ${projectId}`);\n      projectNameCache[projectId] = proj.name || projectId;\n    } catch (e) {\n      console.log(`[WARN] Could not resolve project ${projectId}: ${e.message}`);\n      projectNameCache[projectId] = projectId;\n    }\n    return projectNameCache[projectId];\n  };\n\n  let message = `\\u23F8\\uFE0F **Deferred Quests** (${deferred.length})\\n\\n`;\n\n  for (const issue of deferred) {\n    const meta = extractMeta(issue.description_html);\n    const deferCount = meta?.defer_count || 0;\n    const sourceProjectId = meta?.source_project_id || 'unknown';\n    const sourceProjectName = await resolveProjectName(sourceProjectId);\n    const originalDate = issue.target_date || 'unknown';\n\n    let line = `  \\u23F8\\uFE0F ${issue.name}`;\n    if (sourceProjectName !== 'unknown') line += ` [${sourceProjectName}]`;\n    if (originalDate !== 'unknown') line += ` (${originalDate})`;\n    line += ` \\u2014 deferred x${deferCount}`;\n\n    if (deferCount >= 5) {\n      line += `\\n    \\u26A0\\uFE0F (deferred x${deferCount} \\u2014 consider removing)`;\n    }\n\n    message += line + '\\n';\n  }\n\n  message += '\\n_Use /restore to bring quests back, or /cancel to remove them._';\n\n  return [{ json: {\n    response_type: 'info',\n    message,\n    data: { count: deferred.length, quests: deferred.map(d => ({ id: d.id, name: d.name, defer_count: extractMeta(d.description_html)?.defer_count || 0 })) },\n    suggestions: ['/restore', '/cancel'],\n    awaiting_input: false\n  }}];\n} catch (e) {\n  const code = e.errorCode || 'PLANE_API_ERROR';\n  const recovery = code === 'PLANE_API_TIMEOUT'\n    ? 'Please check Plane.so service status and try again later.'\n    : 'Please check Plane.so API configuration.';\n  return [{ json: {\n    response_type: 'error',\n    message: `\\u274C [${code}] ${e.message}. ${recovery}`,\n    data: { error_code: code },\n    suggestions: ['Check n8n execution logs'],\n    awaiting_input: false\n  }}];\n}"
      },
      "id": "w2-deferred",
      "name": "Code: /deferred Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        2120
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// /preview — Next-Day Quest Dry-Run\n// ===========================================\n// Runs W1 Step 2 logic in DRY_RUN mode for tomorrow's date.\n// Shows which routines would generate quests, with warnings.\n// NOTE: This handler re-implements W1 Step 2 routine scan logic.\n// If W1 Step 2 logic changes, this handler must be updated in sync.\n// Shared module extraction is not feasible in n8n Code Node environment.\n\nconst config = {\n  base_url: $env.PULSE_PLANE_BASE_URL,\n  workspace_slug: $env.PULSE_PLANE_WORKSPACE_SLUG,\n  api_key: $env.PULSE_PLANE_API_KEY,\n  daily_quest_project_id: $env.PULSE_DAILY_QUEST_PROJECT_ID,\n  label_daily_routine: $env.PULSE_LABEL_DAILY_ROUTINE_ID,\n};\n\nconst basePath = `${config.base_url}/api/v1/workspaces/${config.workspace_slug}`;\nconst headers = { 'X-API-Key': config.api_key, 'Content-Type': 'application/json' };\nconst tz = $env.PULSE_USER_TIMEZONE || 'Asia/Seoul';\n\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst MAX_RETRIES = 3;\nconst RETRY_MS = 5000;\nconst withRetry = async (fn, ctx) => {\n  for (let i = 1; i <= MAX_RETRIES; i++) {\n    try { return await fn(); } catch (e) {\n      console.log(`[RETRY] ${ctx} attempt ${i}/${MAX_RETRIES}: ${e.message}`);\n      if (i === MAX_RETRIES) {\n        const isTimeout = e.code === 'ETIMEDOUT' || e.code === 'ECONNABORTED' || e.message?.includes('timeout');\n        const errorCode = isTimeout ? 'PLANE_API_TIMEOUT' : 'PLANE_API_ERROR';\n        const err = new Error(`[${errorCode}] ${ctx}: ${e.message}`);\n        err.errorCode = errorCode;\n        throw err;\n      }\n      await sleep(RETRY_MS);\n    }\n  }\n};\n\nconst apiGet = async (path) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'GET', headers });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst decodeEntities = (s) => s.replace(/&quot;/g, '\"').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&#39;/g, \"'\").replace(/&apos;/g, \"'\");\nconst extractMeta = (html) => {\n  if (!html) return null;\n  try {\n    let m = html.match(/<pre><code\\s+class=\"language-pulse-meta\">([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (m) return JSON.parse(decodeEntities(m[1].trim()));\n    m = html.match(/<pre><code>([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (m) { const c = decodeEntities(m[1].trim()); if (c.includes('\"schema_version\"')) return JSON.parse(c); }\n    m = html.match(/```pulse-meta\\s*\\n([\\s\\S]*?)\\n\\s*```/);\n    if (m) return JSON.parse(m[1].trim());\n  } catch (e) { return null; }\n  return null;\n};\n\nconst PRIORITY_EMOJI = { urgent: '\\uD83D\\uDD34', high: '\\uD83D\\uDFE0', medium: '\\uD83D\\uDFE1', low: '\\uD83D\\uDFE2' };\nconst validRoutineTypes = ['daily', 'weekly', 'custom'];\nconst validPriorities = ['urgent', 'high', 'medium', 'low'];\n\ntry {\n  // Calculate tomorrow's date and day-of-week\n  const tomorrow = new Date();\n  tomorrow.setDate(tomorrow.getDate() + 1);\n  const tomorrowStr = tomorrow.toLocaleDateString('en-CA', { timeZone: tz });\n  const dayNames = ['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat'];\n  const tomorrowDay = dayNames[new Date(tomorrow.toLocaleString('en-US', { timeZone: tz })).getDay()];\n  const tomorrowDayFull = tomorrow.toLocaleDateString('en-US', { timeZone: tz, weekday: 'long' });\n\n  // Fetch recent quests for cooldown check\n  const recentRes = await withRetry(\n    () => apiGet(`/projects/${config.daily_quest_project_id}/issues/?per_page=100&expand=labels,state`),\n    'Fetch recent quests for cooldown'\n  );\n  const recentIssues = recentRes.results || recentRes || [];\n  const lastQuestDateBySource = new Map();\n  for (const ri of recentIssues) {\n    if (!ri.target_date) continue;\n    const srcMatch = (ri.description_html || '').match(/\"source_issue_id\"\\s*:\\s*\"([^\"]+)\"/);\n    if (srcMatch) {\n      const existing = lastQuestDateBySource.get(srcMatch[1]);\n      if (!existing || ri.target_date > existing) {\n        lastQuestDateBySource.set(srcMatch[1], ri.target_date);\n      }\n    }\n  }\n\n  // Fetch all projects\n  const projectsRes = await withRetry(() => apiGet('/projects/'), 'List projects');\n  const projects = projectsRes.results || projectsRes || [];\n\n  const expectedQuests = [];\n  const warnings = [];\n\n  for (const project of projects) {\n    if (project.id === config.daily_quest_project_id) continue;\n\n    const issuesRes = await withRetry(\n      () => apiGet(`/projects/${project.id}/issues/?per_page=100&expand=labels,state`),\n      `Fetch issues for ${project.identifier || project.name}`\n    );\n    const issues = issuesRes.results || issuesRes || [];\n\n    for (const issue of issues) {\n      const labels = issue.label_detail || issue.labels || [];\n      const labelNames = labels.map((l) => (typeof l === 'string' ? l : l.name || ''));\n\n      const hasExactLabel = labelNames.includes('daily-routine');\n      const hasNearMatch = !hasExactLabel && labelNames.some((n) =>\n        n.toLowerCase().includes('daily') && n.toLowerCase().includes('routine')\n      );\n\n      if (hasNearMatch) {\n        const nearLabel = labelNames.find((n) => n.toLowerCase().includes('daily') && n.toLowerCase().includes('routine'));\n        warnings.push(`\\u26A0\\uFE0F [LABEL_MISMATCH] Issue '${issue.name}' has label '${nearLabel}' \\u2014 did you mean 'daily-routine'?`);\n      }\n\n      if (!hasExactLabel) continue;\n\n      // Parse pulse-meta\n      const meta = extractMeta(issue.description_html);\n      if (!meta) {\n        warnings.push(`\\u26A0\\uFE0F [INVALID_ROUTINE_META] Routine '${issue.name}' \\u2014 no pulse-meta block`);\n        continue;\n      }\n\n      // Validate\n      const metaErrors = [];\n      if (meta.schema_version !== 1) metaErrors.push('invalid schema_version');\n      if (!meta.routine_days || !Array.isArray(meta.routine_days) || meta.routine_days.length === 0) metaErrors.push('missing/invalid routine_days');\n      if (!meta.routine_time) metaErrors.push('missing routine_time');\n      if (meta.routine_type && !validRoutineTypes.includes(meta.routine_type)) metaErrors.push(`invalid routine_type: ${meta.routine_type}`);\n      if (meta.routine_priority && !validPriorities.includes(meta.routine_priority)) metaErrors.push(`invalid routine_priority: ${meta.routine_priority}`);\n      if (metaErrors.length > 0) {\n        warnings.push(`\\u26A0\\uFE0F [INVALID_ROUTINE_META] Routine '${issue.name}' \\u2014 ${metaErrors.join(', ')}`);\n        continue;\n      }\n\n      // Check schedule for tomorrow\n      if (!meta.routine_days.includes(tomorrowDay)) continue;\n      if (meta.routine_active_from && meta.routine_active_from > tomorrowStr) continue;\n      if (meta.routine_active_until && meta.routine_active_until < tomorrowStr) continue;\n\n      // Check cooldown_days\n      if (meta.routine_cooldown_days && meta.routine_cooldown_days > 0) {\n        const lastDate = lastQuestDateBySource.get(issue.id);\n        if (lastDate) {\n          const lastMs = new Date(lastDate + 'T00:00:00').getTime();\n          const tmrMs = new Date(tomorrowStr + 'T00:00:00').getTime();\n          const daysSince = Math.floor((tmrMs - lastMs) / (24 * 60 * 60 * 1000));\n          if (daysSince < meta.routine_cooldown_days) continue;\n        }\n      }\n\n      const pEmoji = PRIORITY_EMOJI[meta.routine_priority] || '\\uD83D\\uDFE1';\n      expectedQuests.push({\n        name: issue.name,\n        project: project.name,\n        time: meta.routine_time,\n        duration_min: meta.routine_duration_min,\n        priority: meta.routine_priority || 'medium',\n        priority_emoji: pEmoji,\n      });\n    }\n  }\n\n  // Sort by time\n  expectedQuests.sort((a, b) => (a.time || '').localeCompare(b.time || ''));\n\n  const formatDuration = (min) => {\n    if (!min) return '';\n    if (min >= 60) { const h = Math.floor(min / 60); const m = min % 60; return m > 0 ? `${h}h${m}min` : `${h}h`; }\n    return `${min}min`;\n  };\n\n  let message = `\\uD83D\\uDCCB ${tomorrowStr} (${tomorrowDayFull}) Preview \\u2014 Expected Quests\\n\\n`;\n\n  if (expectedQuests.length === 0) {\n    message += '_No routines scheduled for tomorrow._\\n';\n  } else {\n    for (const q of expectedQuests) {\n      const dur = q.duration_min ? ` (${formatDuration(q.duration_min)})` : '';\n      message += `  ${q.priority_emoji} ${q.name} \\u2014 ${q.time}${dur} [${q.project}]\\n`;\n    }\n    message += `\\n_Total: ${expectedQuests.length} quest(s) expected_\\n`;\n  }\n\n  if (warnings.length > 0) {\n    message += '\\n**Warnings**\\n';\n    for (const w of warnings) {\n      message += `${w}\\n`;\n    }\n  }\n\n  return [{ json: {\n    response_type: 'info',\n    message,\n    data: { date: tomorrowStr, day: tomorrowDayFull, quests: expectedQuests, warnings },\n    suggestions: [],\n    awaiting_input: false\n  }}];\n} catch (e) {\n  const code = e.errorCode || 'PLANE_API_ERROR';\n  const recovery = code === 'PLANE_API_TIMEOUT'\n    ? 'Please check Plane.so service status and try again later.'\n    : 'Please check Plane.so API configuration.';\n  return [{ json: {\n    response_type: 'error',\n    message: `\\u274C [${code}] ${e.message}. ${recovery}`,\n    data: { error_code: code },\n    suggestions: ['Check n8n execution logs'],\n    awaiting_input: false\n  }}];\n}"
      },
      "id": "w2-preview",
      "name": "Code: /preview Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        2280
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// /weekly — Weekly Summary Report\n// ===========================================\n// Shows day-by-day breakdown of quest activity for the current week\n// (Monday through today or Sunday).\n\nconst config = {\n  base_url: $env.PULSE_PLANE_BASE_URL,\n  workspace_slug: $env.PULSE_PLANE_WORKSPACE_SLUG,\n  api_key: $env.PULSE_PLANE_API_KEY,\n  daily_quest_project_id: $env.PULSE_DAILY_QUEST_PROJECT_ID,\n};\n\nconst basePath = `${config.base_url}/api/v1/workspaces/${config.workspace_slug}`;\nconst headers = { 'X-API-Key': config.api_key, 'Content-Type': 'application/json' };\nconst tz = $env.PULSE_USER_TIMEZONE || 'Asia/Seoul';\n\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst MAX_RETRIES = 3;\nconst RETRY_MS = 5000;\nconst withRetry = async (fn, ctx) => {\n  for (let i = 1; i <= MAX_RETRIES; i++) {\n    try { return await fn(); } catch (e) {\n      console.log(`[RETRY] ${ctx} attempt ${i}/${MAX_RETRIES}: ${e.message}`);\n      if (i === MAX_RETRIES) {\n        const isTimeout = e.code === 'ETIMEDOUT' || e.code === 'ECONNABORTED' || e.message?.includes('timeout');\n        const errorCode = isTimeout ? 'PLANE_API_TIMEOUT' : 'PLANE_API_ERROR';\n        const err = new Error(`[${errorCode}] ${ctx}: ${e.message}`);\n        err.errorCode = errorCode;\n        throw err;\n      }\n      await sleep(RETRY_MS);\n    }\n  }\n};\n\nconst apiGet = async (path) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'GET', headers });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst fetchAllIssues = async (path) => {\n  let allItems = [];\n  let cursor = undefined;\n  let hasMore = true;\n  while (hasMore) {\n    const url = cursor ? `${path}&cursor=${cursor}` : path;\n    const res = await withRetry(() => apiGet(url), 'Fetch issues page');\n    const data = res.results || res || [];\n    allItems = allItems.concat(Array.isArray(data) ? data : []);\n    hasMore = res.next_page_results === true;\n    cursor = res.next_cursor || undefined;\n    if (!hasMore || !cursor) break;\n  }\n  return allItems;\n};\n\ntry {\n  const now = new Date();\n  const todayStr = now.toLocaleDateString('en-CA', { timeZone: tz });\n  const projId = config.daily_quest_project_id;\n\n  // Calculate Monday of current week\n  const todayLocal = new Date(now.toLocaleString('en-US', { timeZone: tz }));\n  const dayOfWeek = todayLocal.getDay(); // 0=Sun, 1=Mon, ...\n  const diffToMonday = dayOfWeek === 0 ? 6 : dayOfWeek - 1;\n  const monday = new Date(todayLocal);\n  monday.setDate(monday.getDate() - diffToMonday);\n\n  // Build date range (Monday through today)\n  const daysSoFar = dayOfWeek === 0 ? 6 : dayOfWeek - 1; // Mon=0 .. Sun=6\n  const weekDates = [];\n  for (let i = 0; i <= daysSoFar; i++) {\n    const d = new Date(monday);\n    d.setDate(d.getDate() + i);\n    weekDates.push(d.toLocaleDateString('en-CA', { timeZone: tz }));\n  }\n\n  // Fetch all issues (paginated)\n  const allIssues = await fetchAllIssues(`/projects/${projId}/issues/?per_page=100&expand=labels,state`);\n\n  // Build daily stats\n  const dailyStats = {};\n  for (const date of weekDates) {\n    dailyStats[date] = { total: 0, completed: 0, deferred: 0, canceled: 0 };\n  }\n\n  for (const issue of allIssues) {\n    const td = issue.target_date;\n    if (!td || !dailyStats[td]) continue;\n    dailyStats[td].total++;\n    const state = issue.state_detail?.name || '';\n    if (state === 'Done') dailyStats[td].completed++;\n    else if (state === 'Deferred') dailyStats[td].deferred++;\n    else if (state === 'Canceled') dailyStats[td].canceled++;\n  }\n\n  // Calculate totals\n  let totalQuests = 0, totalCompleted = 0, totalDeferred = 0, totalCanceled = 0;\n  let bestDay = null, bestRate = -1, worstDay = null, worstRate = 101;\n\n  for (const date of weekDates) {\n    const s = dailyStats[date];\n    totalQuests += s.total;\n    totalCompleted += s.completed;\n    totalDeferred += s.deferred;\n    totalCanceled += s.canceled;\n\n    if (s.total > 0) {\n      const rate = Math.round((s.completed / s.total) * 100);\n      if (rate > bestRate) { bestRate = rate; bestDay = date; }\n      if (rate < worstRate) { worstRate = rate; worstDay = date; }\n    }\n  }\n\n  const avgRate = totalQuests > 0 ? Math.round((totalCompleted / totalQuests) * 100) : 0;\n  const avgDaily = weekDates.length > 0 ? Math.round(totalQuests / weekDates.length * 10) / 10 : 0;\n\n  const mondayStr = weekDates[0];\n  const endStr = weekDates[weekDates.length - 1];\n\n  let message = `\\uD83D\\uDCCA **Weekly Summary** (${mondayStr} \\u2014 ${endStr})\\n\\n`;\n\n  message += `**Totals**\\n`;\n  message += `  Total quests: ${totalQuests} (avg ${avgDaily}/day)\\n`;\n  message += `  Completed: ${totalCompleted} (${avgRate}%)\\n`;\n  message += `  Deferred: ${totalDeferred}\\n`;\n  message += `  Canceled: ${totalCanceled}\\n\\n`;\n\n  if (bestDay) {\n    const bName = new Date(bestDay + 'T12:00:00').toLocaleDateString('en-US', { weekday: 'short' });\n    message += `  \\uD83C\\uDFC6 Most productive: ${bestDay} (${bName}) \\u2014 ${bestRate}%\\n`;\n  }\n  if (worstDay && worstDay !== bestDay) {\n    const wName = new Date(worstDay + 'T12:00:00').toLocaleDateString('en-US', { weekday: 'short' });\n    message += `  \\uD83D\\uDCC9 Least productive: ${worstDay} (${wName}) \\u2014 ${worstRate}%\\n`;\n  }\n\n  message += `\\n**Day-by-Day**\\n`;\n  for (const date of weekDates) {\n    const s = dailyStats[date];\n    const dayName = new Date(date + 'T12:00:00').toLocaleDateString('en-US', { weekday: 'short' });\n    const rate = s.total > 0 ? Math.round((s.completed / s.total) * 100) : 0;\n    const bar = s.total > 0 ? ('\\u2588'.repeat(Math.round(rate / 10)) + '\\u2591'.repeat(10 - Math.round(rate / 10))) : '\\u2591'.repeat(10);\n    message += `  ${date} (${dayName}) ${bar} ${s.completed}/${s.total} (${rate}%)\\n`;\n  }\n\n  return [{ json: {\n    response_type: 'info',\n    message,\n    data: { week_start: mondayStr, week_end: endStr, total_quests: totalQuests, completed: totalCompleted, deferred: totalDeferred, canceled: totalCanceled, avg_rate: avgRate, daily: dailyStats },\n    suggestions: [],\n    awaiting_input: false\n  }}];\n} catch (e) {\n  const code = e.errorCode || 'PLANE_API_ERROR';\n  const recovery = code === 'PLANE_API_TIMEOUT'\n    ? 'Please check Plane.so service status and try again later.'\n    : 'Please check Plane.so API configuration.';\n  return [{ json: {\n    response_type: 'error',\n    message: `\\u274C [${code}] ${e.message}. ${recovery}`,\n    data: { error_code: code },\n    suggestions: ['Check n8n execution logs'],\n    awaiting_input: false\n  }}];\n}"
      },
      "id": "w2-weekly",
      "name": "Code: /weekly Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        2440
      ]
    },
    {
      "parameters": {
        "jsCode": "// Unimplemented command handler\nconst action = $input.first().json.action || 'unknown';\nreturn [{\n  json: {\n    response_type: 'info',\n    message: `\\u2139\\uFE0F Command /${action} is not yet implemented. It will be available in a future update.`,\n    data: { action },\n    suggestions: ['Type /help for available commands', 'Try /today to view your quest board'],\n    awaiting_input: false,\n  }\n}];"
      },
      "id": "w2-unimplemented",
      "name": "Code: Unimplemented Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        2760
      ]
    },
    {
      "parameters": {
        "content": "## W2 - LobeHub Command Handler\n\n**Purpose:** Handle all slash commands from LobeHub via webhook.\n\n**Trigger:** Webhook — HTTP POST with X-API-Key auth.\n\n**Implemented Commands (Epic 3):**\n- /today — Quest board view\n- /complete — Interactive quest completion\n- /cancel — Interactive quest cancellation\n- /defer — Interactive quest deferral with warning\n- /add — Manual quest addition\n- /help — Command reference\n- ping — Connectivity test\n\n**Implemented Commands (Epic 4):**\n- /brief — Milestone briefing (top 5 or all)\n- /stats — N-day statistics\n- /deferred — View deferred quests\n- /preview — Next-day quest dry-run\n- /weekly — Weekly summary report\n\n**Pending Commands (Epic 7):**\n- /restore, /edit, /regen\n\n**Error Workflow:** W5 (error-handler)\n\n**Response Format:** Standard JSON: response_type, message, data, suggestions, awaiting_input",
        "height": 420,
        "width": 400
      },
      "id": "w2-sticky",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        200,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// /classify — Natural Language Intent Classification\n// ===========================================\n// Uses DeepSeek to classify a natural language message into a quest command.\n// Falls back to DEGRADED_MODE when LLM is unavailable.\n\nconst config = {\n  deepseek_api_key: $env.PULSE_DEEPSEEK_API_KEY,\n  deepseek_base_url: $env.PULSE_DEEPSEEK_BASE_URL || 'https://api.deepseek.com/v1',\n  deepseek_model: $env.PULSE_DEEPSEEK_MODEL || 'deepseek-chat',\n};\n\nconst params = $input.first().json.params || {};\nconst message = params.message || '';\nconst activeSession = params.active_session || false;\nconst sessionAction = params.session_action || null;\n\nif (!message) {\n  return [{ json: {\n    response_type: 'error',\n    message: '\\u274C [INVALID_INPUT] No message provided for classification. Please check input format and try again.',\n    data: { error_code: 'INVALID_INPUT' },\n    suggestions: ['Provide a natural language message to classify'],\n    awaiting_input: false\n  }}];\n}\n\n// Check if DeepSeek is available\nif (!config.deepseek_api_key) {\n  return [{ json: {\n    response_type: 'error',\n    message: '\\u26A0\\uFE0F [DEGRADED_MODE] Natural language processing unavailable. Please use slash commands (type /help for list).',\n    data: { error_code: 'DEGRADED_MODE', fallback: 'slash_commands' },\n    suggestions: ['Type /help for available commands'],\n    awaiting_input: false\n  }}];\n}\n\nconst SYSTEM_PROMPT = `# W2 Intent Classification — DeepSeek Disambiguation\n\n## Role\nYou are a command intent classifier for the pulse quest management system. Analyze the user's natural language input and determine which quest command they intend to execute.\n\n## Available Commands\n| Action | Description |\n|--------|-------------|\n| today | View today's quest board |\n| complete | Mark quests as done |\n| cancel | Cancel quests |\n| defer | Defer quests to later |\n| restore | Restore deferred quests |\n| edit | Edit quest time or priority |\n| add | Add a new manual quest |\n| regen | Regenerate today's quests |\n| brief | View milestone briefings |\n| stats | View N-day statistics |\n| deferred | View deferred quests |\n| preview | Preview tomorrow's quests |\n| weekly | Weekly summary report |\n| help | Show command reference |\n| create_routine | Create a new routine |\n\n## Constraints\n- If the intent is clear, set confidence to \"high\".\n- If ambiguous (2-3 possible commands), set confidence to \"low\" and provide alternatives.\n- If completely unrelated, set action to \"unknown\".\n- Ambiguous words like \"done\", \"skip\", \"next\" — check active_session context.\n- Extract any parameters: quest numbers (target), duration, time, name, priority.\n\n## Output Format\nRespond with valid JSON:\n{\n  \"action\": \"string\",\n  \"confidence\": \"high|low\",\n  \"target\": \"string|null\",\n  \"params\": {},\n  \"alternatives\": [{\"action\": \"string\", \"reasoning\": \"string\"}],\n  \"reasoning\": \"string\"\n}`;\n\nconst userPrompt = JSON.stringify({\n  user_message: message,\n  active_session: activeSession,\n  session_action: sessionAction,\n});\n\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst BACKOFF = [1000, 2000, 4000];\nconst MAX_RETRIES = 3;\nconst TIMEOUT_MS = 15000;\n\ntry {\n  let result = null;\n\n  for (let attempt = 0; attempt < MAX_RETRIES; attempt++) {\n    try {\n      const controller = new AbortController();\n      const tid = setTimeout(() => controller.abort(), TIMEOUT_MS);\n\n      const response = await fetch(`${config.deepseek_base_url}/chat/completions`, {\n        method: 'POST',\n        headers: {\n          'Authorization': `Bearer ${config.deepseek_api_key}`,\n          'Content-Type': 'application/json',\n        },\n        body: JSON.stringify({\n          model: config.deepseek_model,\n          messages: [\n            { role: 'system', content: SYSTEM_PROMPT },\n            { role: 'user', content: userPrompt },\n          ],\n          temperature: 0.3,\n          max_tokens: 512,\n          response_format: { type: 'json_object' },\n        }),\n        signal: controller.signal,\n      });\n\n      clearTimeout(tid);\n\n      if (!response.ok) throw new Error(`HTTP ${response.status}`);\n\n      const data = await response.json();\n      result = data.choices?.[0]?.message?.content;\n      break;\n    } catch (e) {\n      console.log(`[RETRY] classify attempt ${attempt + 1}/${MAX_RETRIES}: ${e.message}`);\n      if (attempt === MAX_RETRIES - 1) throw e;\n      await sleep(BACKOFF[attempt]);\n    }\n  }\n\n  const parsed = JSON.parse(result);\n\n  // Validate required fields\n  if (!parsed.action || !parsed.confidence) {\n    throw new Error('Missing required fields: action, confidence');\n  }\n\n  // High confidence: return classified intent directly\n  if (parsed.confidence === 'high') {\n    return [{ json: {\n      response_type: 'classification',\n      message: `Intent classified: /${parsed.action}`,\n      data: {\n        action: parsed.action,\n        confidence: parsed.confidence,\n        target: parsed.target || null,\n        params: parsed.params || {},\n        reasoning: parsed.reasoning || '',\n      },\n      suggestions: [],\n      awaiting_input: false,\n    }}];\n  }\n\n  // Low confidence: return options for clarification\n  const options = [\n    `/${parsed.action} — ${parsed.reasoning}`,\n    ...(parsed.alternatives || []).map(a => `/${a.action} — ${a.reasoning}`)\n  ];\n\n  return [{ json: {\n    response_type: 'classification',\n    message: `I'm not sure what you mean. Did you want to:\\n${options.map((o, i) => `${i + 1}. ${o}`).join('\\n')}`,\n    data: {\n      action: parsed.action,\n      confidence: parsed.confidence,\n      target: parsed.target || null,\n      params: parsed.params || {},\n      alternatives: parsed.alternatives || [],\n      reasoning: parsed.reasoning || '',\n    },\n    suggestions: ['Please choose an option or rephrase your request'],\n    awaiting_input: true,\n  }}];\n\n} catch (e) {\n  console.log(`[ERROR] classify failed: ${e.message}`);\n  return [{ json: {\n    response_type: 'error',\n    message: '\\u26A0\\uFE0F [DEGRADED_MODE] Natural language processing unavailable. Please use slash commands (type /help for list).',\n    data: { error_code: 'DEGRADED_MODE', fallback: 'slash_commands' },\n    suggestions: ['Type /help for available commands'],\n    awaiting_input: false\n  }}];\n}"
      },
      "id": "w2-classify",
      "name": "Code: /classify Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        2880
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// /create_routine — Natural Language Routine Creation\n// ===========================================\n// Creates a new routine in a Plane.so project from extracted NL fields.\n// Uses DeepSeek to parse natural language into routine metadata.\n// Follows confirmation flow: extract → confirm → create.\n\nconst planeConfig = {\n  base_url: $env.PULSE_PLANE_BASE_URL,\n  workspace_slug: $env.PULSE_PLANE_WORKSPACE_SLUG,\n  api_key: $env.PULSE_PLANE_API_KEY,\n  daily_quest_project_id: $env.PULSE_DAILY_QUEST_PROJECT_ID,\n  state_todo: $env.PULSE_STATE_TODO_ID,\n  label_daily_routine: $env.PULSE_LABEL_DAILY_ROUTINE_ID,\n};\n\nconst deepseekConfig = {\n  api_key: $env.PULSE_DEEPSEEK_API_KEY,\n  base_url: $env.PULSE_DEEPSEEK_BASE_URL || 'https://api.deepseek.com/v1',\n  model: $env.PULSE_DEEPSEEK_MODEL || 'deepseek-chat',\n};\n\nconst basePath = `${planeConfig.base_url}/api/v1/workspaces/${planeConfig.workspace_slug}`;\nconst headers = { 'X-API-Key': planeConfig.api_key, 'Content-Type': 'application/json' };\nconst tz = $env.PULSE_USER_TIMEZONE || 'Asia/Seoul';\nconst DRY_RUN = ($env.PULSE_DRY_RUN || 'false').toLowerCase() === 'true' || ($env.PULSE_DRY_RUN || 'false') === '1';\n\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst MAX_RETRIES = 3;\nconst RETRY_MS = 5000;\nconst withRetry = async (fn, ctx) => {\n  for (let i = 1; i <= MAX_RETRIES; i++) {\n    try { return await fn(); } catch (e) {\n      console.log(`[RETRY] ${ctx} attempt ${i}/${MAX_RETRIES}: ${e.message}`);\n      if (i === MAX_RETRIES) { const err = new Error(`[PLANE_API_ERROR] ${ctx}: ${e.message}`); err.errorCode = 'PLANE_API_ERROR'; throw err; }\n      await sleep(RETRY_MS);\n    }\n  }\n};\n\nconst apiPost = async (path, body) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'POST', headers, body: JSON.stringify(body) });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst formatDuration = (min) => {\n  if (min >= 60) { const h = Math.floor(min / 60); const m = min % 60; return m > 0 ? `${h}h${m}min` : `${h}h`; }\n  return `${min}min`;\n};\n\nconst params = $input.first().json.params || {};\nconst target = $input.first().json.target || null;\n\n// --- Phase Detection ---\n// Phase 1: Extract fields from NL (or receive pre-extracted fields)\n// Phase 2: User confirmed → create the routine\n// Phase 3 (optional): User confirms immediate quest addition\n\ntry {\n  // Phase 2: User confirmed routine creation\n  if (target === 'confirm') {\n    const name = params.routine_name;\n    const time = params.routine_time;\n    const durationMin = parseInt(params.routine_duration_min);\n    const priority = params.routine_priority || 'medium';\n    const days = params.routine_days || ['mon', 'tue', 'wed', 'thu', 'fri'];\n    const mandatory = params.routine_mandatory === true || params.routine_mandatory === 'true';\n    const projectId = params.target_project_id || planeConfig.daily_quest_project_id;\n    const addToday = params.add_today === true || params.add_today === 'true';\n\n    if (!name || !time || !durationMin) {\n      return [{ json: {\n        response_type: 'error',\n        message: '\\u274C [INVALID_INPUT] Missing required fields: routine_name, routine_time, routine_duration_min. Please check input format and try again.',\n        data: { error_code: 'INVALID_INPUT' },\n        suggestions: ['Provide all required fields and try again'],\n        awaiting_input: false\n      }}];\n    }\n\n    const todayStr = new Date().toLocaleDateString('en-CA', { timeZone: tz });\n    const priorityMap = { urgent: 4, high: 3, medium: 2, low: 1, none: 0 };\n    const priorityNum = priorityMap[priority] ?? 2;\n\n    const meta = {\n      schema_version: 1,\n      routine_type: 'daily',\n      routine_days: days,\n      routine_time: time,\n      routine_duration_min: durationMin,\n      routine_priority: priority,\n      routine_mandatory: mandatory,\n      routine_active_from: todayStr,\n      routine_active_until: null,\n      routine_cooldown_days: 0,\n    };\n\n    const descriptionHtml = `<pre><code class=\"language-pulse-meta\">${JSON.stringify(meta, null, 2)}</code></pre>`;\n\n    if (DRY_RUN) {\n      console.log(`[DRY_RUN] Would create routine: \"${name}\" (${formatDuration(durationMin)} at ${time})`);\n      return [{ json: {\n        response_type: 'confirmation',\n        message: `\\u2705 [DRY_RUN] Would create routine: \"${name}\" — ${time} (${formatDuration(durationMin)}) [${priority}] on ${days.join(', ')}`,\n        data: { dry_run: true },\n        suggestions: [],\n        awaiting_input: false\n      }}];\n    }\n\n    // Create the routine issue in the target project\n    const issue = await withRetry(\n      () => apiPost(`/projects/${projectId}/issues/`, {\n        name,\n        description_html: descriptionHtml,\n        priority: priorityNum,\n        labels: planeConfig.label_daily_routine ? [planeConfig.label_daily_routine] : [],\n      }),\n      'Create routine'\n    );\n\n    let response = `\\u2705 Routine created: \"${name}\" — ${time} (${formatDuration(durationMin)}) [${priority}] on ${days.join(', ')}`;\n\n    // If user wants to add to today's quests immediately\n    if (addToday) {\n      const dayOfWeek = new Date().toLocaleDateString('en-US', { timeZone: tz, weekday: 'short' }).toLowerCase().slice(0, 3);\n      if (days.includes(dayOfWeek)) {\n        const questMeta = {\n          ...meta,\n          source_project_id: projectId,\n          source_issue_id: issue.id,\n          source_type: 'routine',\n          quest_date: todayStr,\n          defer_count: 0,\n        };\n        const questDescHtml = `<pre><code class=\"language-pulse-meta\">${JSON.stringify(questMeta, null, 2)}</code></pre>`;\n\n        await withRetry(\n          () => apiPost(`/projects/${planeConfig.daily_quest_project_id}/issues/`, {\n            name,\n            description_html: questDescHtml,\n            priority: priorityNum,\n            state: planeConfig.state_todo,\n            target_date: todayStr,\n            start_date: todayStr,\n          }),\n          'Create today quest from routine'\n        );\n        response += '\\nAlso added to today\\'s quest board!';\n      } else {\n        response += `\\nNote: Today is not in the routine schedule (${days.join(', ')}), so it was not added to today's board.`;\n      }\n    }\n\n    return [{ json: {\n      response_type: 'confirmation',\n      message: response,\n      data: { routine_id: issue.id },\n      suggestions: addToday ? ['/today to see updated board'] : ['Would you like to add this to today\\'s quests as well?'],\n      awaiting_input: !addToday\n    }}];\n  }\n\n  // Phase 1: Extract routine fields from natural language\n  const message = params.message || '';\n\n  if (!message) {\n    return [{ json: {\n      response_type: 'error',\n      message: '\\u274C [INVALID_INPUT] Please describe the routine you want to create (e.g., \"daily coding routine at 8pm for 1 hour, high priority, weekdays only\"). Please check input format and try again.',\n      data: { error_code: 'INVALID_INPUT' },\n      suggestions: ['Example: \"daily coding at 8pm for 1h, high priority, weekdays\"'],\n      awaiting_input: false\n    }}];\n  }\n\n  // Check DeepSeek availability\n  if (!deepseekConfig.api_key) {\n    return [{ json: {\n      response_type: 'error',\n      message: '\\u26A0\\uFE0F [DEGRADED_MODE] Natural language routine creation requires AI. Please use Plane.so directly to create routines.',\n      data: { error_code: 'DEGRADED_MODE' },\n      suggestions: ['Create routines directly in Plane.so with the daily-routine label'],\n      awaiting_input: false\n    }}];\n  }\n\n  const SYSTEM_PROMPT = `# Routine Creation Parser\n\n## Role\nExtract routine details from the user's natural language description.\n\n## Fields to Extract\n- routine_name (string, required): Name/title of the routine\n- routine_time (string \"HH:MM\" 24h, required): Scheduled time\n- routine_duration_min (integer 1-480, required): Duration in minutes\n- routine_priority (string: \"urgent\"|\"high\"|\"medium\"|\"low\", default \"medium\")\n- routine_days (array of: \"mon\"|\"tue\"|\"wed\"|\"thu\"|\"fri\"|\"sat\"|\"sun\", default weekdays)\n- routine_mandatory (boolean, default false)\n- target_project_id (string, optional — use default if not specified)\n\n## Constraints\n- If a field is missing or ambiguous, set it to null and add a question to the \"missing\" array.\n- Time must be in 24-hour format (convert \"8pm\" to \"20:00\").\n- \"Weekdays\" = [\"mon\",\"tue\",\"wed\",\"thu\",\"fri\"], \"everyday\" = all 7 days, \"weekends\" = [\"sat\",\"sun\"].\n- All output in English.\n\n## Output Format\n{\n  \"routine_name\": \"string|null\",\n  \"routine_time\": \"HH:MM|null\",\n  \"routine_duration_min\": number|null,\n  \"routine_priority\": \"string\",\n  \"routine_days\": [\"mon\",...],\n  \"routine_mandatory\": false,\n  \"missing\": [\"What time should this routine be scheduled?\"],\n  \"complete\": true|false\n}`;\n\n  const TIMEOUT_MS = 15000;\n  const BACKOFF = [1000, 2000, 4000];\n  let result = null;\n\n  for (let attempt = 0; attempt < MAX_RETRIES; attempt++) {\n    try {\n      const controller = new AbortController();\n      const tid = setTimeout(() => controller.abort(), TIMEOUT_MS);\n\n      const response = await fetch(`${deepseekConfig.base_url}/chat/completions`, {\n        method: 'POST',\n        headers: {\n          'Authorization': `Bearer ${deepseekConfig.api_key}`,\n          'Content-Type': 'application/json',\n        },\n        body: JSON.stringify({\n          model: deepseekConfig.model,\n          messages: [\n            { role: 'system', content: SYSTEM_PROMPT },\n            { role: 'user', content: message },\n          ],\n          temperature: 0.3,\n          max_tokens: 512,\n          response_format: { type: 'json_object' },\n        }),\n        signal: controller.signal,\n      });\n\n      clearTimeout(tid);\n      if (!response.ok) throw new Error(`HTTP ${response.status}`);\n      const data = await response.json();\n      result = data.choices?.[0]?.message?.content;\n      break;\n    } catch (e) {\n      console.log(`[RETRY] create_routine parse attempt ${attempt + 1}/${MAX_RETRIES}: ${e.message}`);\n      if (attempt === MAX_RETRIES - 1) throw e;\n      await sleep(BACKOFF[attempt]);\n    }\n  }\n\n  const parsed = JSON.parse(result);\n\n  // If any required field is missing, ask clarifying questions\n  if (!parsed.complete || (parsed.missing && parsed.missing.length > 0)) {\n    const question = parsed.missing?.[0] || 'Could you provide more details about this routine?';\n    return [{ json: {\n      response_type: 'info',\n      message: `I need a bit more information to create this routine:\\n\\n${question}`,\n      data: {\n        partial_routine: {\n          routine_name: parsed.routine_name,\n          routine_time: parsed.routine_time,\n          routine_duration_min: parsed.routine_duration_min,\n          routine_priority: parsed.routine_priority || 'medium',\n          routine_days: parsed.routine_days || ['mon', 'tue', 'wed', 'thu', 'fri'],\n          routine_mandatory: parsed.routine_mandatory || false,\n        },\n        missing_fields: parsed.missing || [],\n      },\n      suggestions: [],\n      awaiting_input: true\n    }}];\n  }\n\n  // All fields extracted — present summary for confirmation\n  const r = parsed;\n  const durationDisplay = formatDuration(r.routine_duration_min);\n  const daysDisplay = r.routine_days.join(', ');\n\n  const summary = [\n    `**Name:** ${r.routine_name}`,\n    `**Time:** ${r.routine_time}`,\n    `**Duration:** ${durationDisplay}`,\n    `**Priority:** ${r.routine_priority || 'medium'}`,\n    `**Days:** ${daysDisplay}`,\n    `**Mandatory:** ${r.routine_mandatory ? 'Yes' : 'No'}`,\n  ].join('\\n');\n\n  return [{ json: {\n    response_type: 'info',\n    message: `Here's the routine I'll create:\\n\\n${summary}\\n\\nShall I go ahead and create it? (yes/no)`,\n    data: {\n      parsed_routine: {\n        routine_name: r.routine_name,\n        routine_time: r.routine_time,\n        routine_duration_min: r.routine_duration_min,\n        routine_priority: r.routine_priority || 'medium',\n        routine_days: r.routine_days || ['mon', 'tue', 'wed', 'thu', 'fri'],\n        routine_mandatory: r.routine_mandatory || false,\n      },\n    },\n    suggestions: ['Confirm with \"yes\" to create, or \"no\" to cancel'],\n    awaiting_input: true\n  }}];\n\n} catch (e) {\n  console.log(`[ERROR] create_routine failed: ${e.message}`);\n  return [{ json: {\n    response_type: 'error',\n    message: '\\u26A0\\uFE0F [DEGRADED_MODE] Natural language routine creation failed. Please use Plane.so directly to create routines. DeepSeek API is slow or unreachable. System continues in degraded mode.',\n    data: { error_code: 'DEGRADED_MODE' },\n    suggestions: ['Create routines directly in Plane.so with the daily-routine label'],\n    awaiting_input: false\n  }}];\n}"
      },
      "id": "w2-create-routine",
      "name": "Code: /create_routine Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        3000
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// /restore — Restore Deferred Quests\n// ===========================================\n// Phase 1 (no target): List all deferred quests\n// Phase 2 (with target): Move selected quests to To-Do with target_date = today\n\nconst config = {\n  base_url: $env.PULSE_PLANE_BASE_URL,\n  workspace_slug: $env.PULSE_PLANE_WORKSPACE_SLUG,\n  api_key: $env.PULSE_PLANE_API_KEY,\n  daily_quest_project_id: $env.PULSE_DAILY_QUEST_PROJECT_ID,\n  state_todo: $env.PULSE_STATE_TODO_ID,\n  state_deferred: $env.PULSE_STATE_DEFERRED_ID,\n};\n\nconst basePath = `${config.base_url}/api/v1/workspaces/${config.workspace_slug}`;\nconst headers = { 'X-API-Key': config.api_key, 'Content-Type': 'application/json' };\nconst tz = $env.PULSE_USER_TIMEZONE || 'Asia/Seoul';\nconst DRY_RUN = ($env.PULSE_DRY_RUN || 'false').toLowerCase() === 'true' || ($env.PULSE_DRY_RUN || 'false') === '1';\n\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst MAX_RETRIES = 3;\nconst RETRY_MS = 5000;\nconst withRetry = async (fn, ctx) => {\n  for (let i = 1; i <= MAX_RETRIES; i++) {\n    try { return await fn(); } catch (e) {\n      console.log(`[RETRY] ${ctx} attempt ${i}/${MAX_RETRIES}: ${e.message}`);\n      if (i === MAX_RETRIES) {\n        const isTimeout = e.code === 'ETIMEDOUT' || e.code === 'ECONNABORTED' || e.message?.includes('timeout');\n        const errorCode = isTimeout ? 'PLANE_API_TIMEOUT' : 'PLANE_API_ERROR';\n        const err = new Error(`[${errorCode}] ${ctx}: ${e.message}`);\n        err.errorCode = errorCode;\n        throw err;\n      }\n      await sleep(RETRY_MS);\n    }\n  }\n};\n\nconst apiGet = async (path) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'GET', headers });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst apiPatch = async (path, body) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'PATCH', headers, body: JSON.stringify(body) });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst apiPost = async (path, body) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'POST', headers, body: JSON.stringify(body) });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst decodeEntities = (s) => s.replace(/&quot;/g, '\"').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&#39;/g, \"'\").replace(/&apos;/g, \"'\");\nconst extractMeta = (html) => {\n  if (!html) return null;\n  try {\n    let m = html.match(/<pre><code\\s+class=\"language-pulse-meta\">([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (m) return JSON.parse(decodeEntities(m[1].trim()));\n    m = html.match(/<pre><code>([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (m) { const c = decodeEntities(m[1].trim()); if (c.includes('\"schema_version\"')) return JSON.parse(c); }\n    m = html.match(/```pulse-meta\\s*\\n([\\s\\S]*?)\\n\\s*```/);\n    if (m) return JSON.parse(m[1].trim());\n  } catch (e) { return null; }\n  return null;\n};\n\nconst PRIORITY_EMOJI = { 4: '\\uD83D\\uDD34', 3: '\\uD83D\\uDFE0', 2: '\\uD83D\\uDFE1', 1: '\\uD83D\\uDFE2', 0: '\\uD83D\\uDFE2' };\nconst PRIORITY_NAME = { 4: 'urgent', 3: 'high', 2: 'medium', 1: 'low', 0: 'none' };\nconst formatDuration = (min) => {\n  if (!min) return '';\n  if (min >= 60) { const h = Math.floor(min / 60); const m = min % 60; return m > 0 ? `${h}h${m}min` : `${h}h`; }\n  return `${min}min`;\n};\n\nconst target = $input.first().json.target;\n\ntry {\n  const todayStr = new Date().toLocaleDateString('en-CA', { timeZone: tz });\n  const projId = config.daily_quest_project_id;\n\n  if (!target) {\n    // Phase 1: List all deferred quests\n    const result = await withRetry(\n      () => apiGet(`/projects/${projId}/issues/?per_page=100&expand=labels,state&state=${config.state_deferred}`),\n      'Fetch deferred quests'\n    );\n    const deferred = result.results || result || [];\n\n    if (deferred.length === 0) {\n      return [{ json: {\n        response_type: 'info',\n        message: '\\u2139\\uFE0F No deferred quests to restore.',\n        data: null, suggestions: ['Try /today to view your quest board'], awaiting_input: false\n      }}];\n    }\n\n    let list = '';\n    for (let i = 0; i < deferred.length; i++) {\n      const q = deferred[i];\n      const pEmoji = PRIORITY_EMOJI[q.priority] || '\\uD83D\\uDFE1';\n      const pName = PRIORITY_NAME[q.priority] || 'medium';\n      const meta = extractMeta(q.description_html);\n      const time = meta?.routine_time || '--:--';\n      const dur = meta?.routine_duration_min ? formatDuration(meta.routine_duration_min) : '';\n      const deferCount = meta?.defer_count || 0;\n      const deferSuffix = deferCount > 0 ? ` (deferred x${deferCount})` : '';\n      list += `${i + 1}. [${pEmoji} ${pName}] ${q.name} \\u2014 ${time}${dur ? ` (${dur})` : ''}${deferSuffix}\\n`;\n    }\n\n    return [{ json: {\n      response_type: 'list',\n      message: list,\n      data: { quest_ids: deferred.map(q => q.id), count: deferred.length },\n      suggestions: ['Enter number(s) (e.g., 1,3 or 1-3):'],\n      awaiting_input: true\n    }}];\n  }\n\n  // Phase 2: Restore selected quests\n  const issueIds = target.split(',').map(s => s.trim()).filter(Boolean);\n  const nowStr = new Date().toLocaleTimeString('en-GB', { timeZone: tz, hour: '2-digit', minute: '2-digit' });\n\n  // Validate issue IDs are actually deferred\n  const deferredResult = await withRetry(\n    () => apiGet(`/projects/${projId}/issues/?per_page=100&expand=labels,state&state=${config.state_deferred}`),\n    'Fetch deferred quests for validation'\n  );\n  const deferredQuests = deferredResult.results || deferredResult || [];\n  const deferredIds = new Set(deferredQuests.map(q => q.id));\n\n  const invalidIds = issueIds.filter(id => !deferredIds.has(id));\n  if (invalidIds.length > 0) {\n    return [{ json: {\n      response_type: 'error',\n      message: `\\u274C [INVALID_INPUT] Issue(s) ${invalidIds.join(', ')} are not in deferred state.`,\n      data: { error_code: 'INVALID_INPUT' },\n      suggestions: ['Use /restore to see deferred quests'],\n      awaiting_input: false\n    }}];\n  }\n\n  let restored = 0;\n\n  for (const issueId of issueIds) {\n    if (DRY_RUN) {\n      console.log(`[DRY_RUN] Would restore issue ${issueId} (state \\u2192 To-Do, target_date \\u2192 ${todayStr})`);\n      console.log(`[DRY_RUN] Would add comment on issue ${issueId}`);\n    } else {\n      await withRetry(\n        () => apiPatch(`/projects/${projId}/issues/${issueId}/`, {\n          state: config.state_todo,\n          target_date: todayStr\n        }),\n        `Restore issue ${issueId}`\n      );\n      await withRetry(\n        () => apiPost(`/projects/${projId}/issues/${issueId}/comments/`, {\n          comment_html: `<p>\\uD83D\\uDD04 [${nowStr}] Restored by user</p>`\n        }),\n        `Comment on ${issueId}`\n      );\n    }\n    restored++;\n  }\n\n  const dryTag = DRY_RUN ? ' [DRY_RUN]' : '';\n  return [{ json: {\n    response_type: 'confirmation',\n    message: `\\u2705${dryTag} ${restored} quest${restored !== 1 ? 's' : ''} restored to today's board!`,\n    data: { restored_count: restored, issue_ids: issueIds, dry_run: DRY_RUN },\n    suggestions: ['Type /today to see updated board'],\n    awaiting_input: false\n  }}];\n} catch (e) {\n  const code = e.errorCode || 'PLANE_API_ERROR';\n  const recovery = code === 'PLANE_API_TIMEOUT'\n    ? 'Please check Plane.so service status and try again later.'\n    : 'Please check Plane.so API configuration.';\n  return [{ json: {\n    response_type: 'error',\n    message: `\\u274C [${code}] ${e.message}. ${recovery}`,\n    data: { error_code: code },\n    suggestions: ['Check n8n execution logs'],\n    awaiting_input: false\n  }}];\n}"
      },
      "id": "w2-restore",
      "name": "Code: /restore Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        1480
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// /edit — Edit Quest Time & Priority\n// ===========================================\n// Phase 1 (no target): List today's To-Do/In Progress quests\n// Phase 2 (with target + params): Update the specified field\n\nconst config = {\n  base_url: $env.PULSE_PLANE_BASE_URL,\n  workspace_slug: $env.PULSE_PLANE_WORKSPACE_SLUG,\n  api_key: $env.PULSE_PLANE_API_KEY,\n  daily_quest_project_id: $env.PULSE_DAILY_QUEST_PROJECT_ID,\n};\n\nconst basePath = `${config.base_url}/api/v1/workspaces/${config.workspace_slug}`;\nconst headers = { 'X-API-Key': config.api_key, 'Content-Type': 'application/json' };\nconst tz = $env.PULSE_USER_TIMEZONE || 'Asia/Seoul';\nconst DRY_RUN = ($env.PULSE_DRY_RUN || 'false').toLowerCase() === 'true' || ($env.PULSE_DRY_RUN || 'false') === '1';\n\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst MAX_RETRIES = 3;\nconst RETRY_MS = 5000;\nconst withRetry = async (fn, ctx) => {\n  for (let i = 1; i <= MAX_RETRIES; i++) {\n    try { return await fn(); } catch (e) {\n      console.log(`[RETRY] ${ctx} attempt ${i}/${MAX_RETRIES}: ${e.message}`);\n      if (i === MAX_RETRIES) {\n        const isTimeout = e.code === 'ETIMEDOUT' || e.code === 'ECONNABORTED' || e.message?.includes('timeout');\n        const errorCode = isTimeout ? 'PLANE_API_TIMEOUT' : 'PLANE_API_ERROR';\n        const err = new Error(`[${errorCode}] ${ctx}: ${e.message}`);\n        err.errorCode = errorCode;\n        throw err;\n      }\n      await sleep(RETRY_MS);\n    }\n  }\n};\n\nconst apiGet = async (path) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'GET', headers });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst apiPatch = async (path, body) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'PATCH', headers, body: JSON.stringify(body) });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst apiPost = async (path, body) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'POST', headers, body: JSON.stringify(body) });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst decodeEntities = (s) => s.replace(/&quot;/g, '\"').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&#39;/g, \"'\").replace(/&apos;/g, \"'\");\nconst extractMeta = (html) => {\n  if (!html) return null;\n  try {\n    let m = html.match(/<pre><code\\s+class=\"language-pulse-meta\">([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (m) return JSON.parse(decodeEntities(m[1].trim()));\n    m = html.match(/<pre><code>([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (m) { const c = decodeEntities(m[1].trim()); if (c.includes('\"schema_version\"')) return JSON.parse(c); }\n    m = html.match(/```pulse-meta\\s*\\n([\\s\\S]*?)\\n\\s*```/);\n    if (m) return JSON.parse(m[1].trim());\n  } catch (e) { return null; }\n  return null;\n};\n\nconst updateMetaInHtml = (html, updates) => {\n  if (!html) return html;\n  const meta = extractMeta(html);\n  if (!meta) return html;\n  const updated = { ...meta, ...updates };\n  const jsonStr = JSON.stringify(updated, null, 2);\n  let result = html.replace(/<pre><code\\s+class=\"language-pulse-meta\">[\\s\\S]*?<\\/code><\\/pre>/, `<pre><code class=\"language-pulse-meta\">${jsonStr}</code></pre>`);\n  if (result !== html) return result;\n  result = html.replace(/<pre><code>[\\s\\S]*?<\\/code><\\/pre>/, `<pre><code class=\"language-pulse-meta\">${jsonStr}</code></pre>`);\n  if (result !== html) return result;\n  result = html.replace(/```pulse-meta\\s*\\n[\\s\\S]*?\\n\\s*```/, `\\`\\`\\`pulse-meta\\n${jsonStr}\\n\\`\\`\\``);\n  if (result !== html) return result;\n  return html;\n};\n\nconst PRIORITY_EMOJI = { 4: '\\uD83D\\uDD34', 3: '\\uD83D\\uDFE0', 2: '\\uD83D\\uDFE1', 1: '\\uD83D\\uDFE2', 0: '\\uD83D\\uDFE2' };\nconst PRIORITY_NAME = { 4: 'urgent', 3: 'high', 2: 'medium', 1: 'low', 0: 'none' };\nconst PRIORITY_VALUE = { 'urgent': 4, 'high': 3, 'medium': 2, 'low': 1, 'none': 0 };\nconst formatDuration = (min) => {\n  if (!min) return '';\n  if (min >= 60) { const h = Math.floor(min / 60); const m = min % 60; return m > 0 ? `${h}h${m}min` : `${h}h`; }\n  return `${min}min`;\n};\n\nconst target = $input.first().json.target;\nconst params = $input.first().json.params || {};\n\ntry {\n  const todayStr = new Date().toLocaleDateString('en-CA', { timeZone: tz });\n  const projId = config.daily_quest_project_id;\n\n  if (!target) {\n    // Phase 1: List quests available for editing\n    const result = await withRetry(\n      () => apiGet(`/projects/${projId}/issues/?per_page=100&expand=labels,state&target_date=${todayStr}`),\n      'Fetch today quests'\n    );\n    const allQuests = result.results || result || [];\n    const actionable = allQuests.filter(q => {\n      const sn = q.state_detail?.name;\n      return sn === 'To-Do' || sn === 'In Progress';\n    });\n\n    if (actionable.length === 0) {\n      return [{ json: {\n        response_type: 'info',\n        message: '\\u2139\\uFE0F No quests available to edit.',\n        data: null, suggestions: ['Try /today to view your quest board'], awaiting_input: false\n      }}];\n    }\n\n    let list = '';\n    for (let i = 0; i < actionable.length; i++) {\n      const q = actionable[i];\n      const pEmoji = PRIORITY_EMOJI[q.priority] || '\\uD83D\\uDFE1';\n      const pName = PRIORITY_NAME[q.priority] || 'medium';\n      const meta = extractMeta(q.description_html);\n      const time = meta?.routine_time || '--:--';\n      const dur = meta?.routine_duration_min ? formatDuration(meta.routine_duration_min) : '';\n      list += `${i + 1}. [${pEmoji} ${pName}] ${q.name} \\u2014 ${time}${dur ? ` (${dur})` : ''}\\n`;\n    }\n\n    return [{ json: {\n      response_type: 'list',\n      message: `Select a quest to edit:\\n${list}`,\n      data: { quest_ids: actionable.map(q => q.id), count: actionable.length },\n      suggestions: ['Enter number(s) (e.g., 1,3 or 1-3):'],\n      awaiting_input: true\n    }}];\n  }\n\n  // Phase 2: Edit selected quest\n  const issueIds = target.split(',').map(s => s.trim()).filter(Boolean);\n  const nowStr = new Date().toLocaleTimeString('en-GB', { timeZone: tz, hour: '2-digit', minute: '2-digit' });\n\n  // Validate edit field\n  const field = (params.field || '').toLowerCase().trim();\n  const value = (params.value || '').trim();\n\n  if (!field || !value) {\n    return [{ json: {\n      response_type: 'info',\n      message: 'What would you like to change? [time/priority]\\nExample: \"time 21:00\" or \"priority high\"',\n      data: { quest_ids: issueIds },\n      suggestions: ['time HH:MM', 'priority urgent/high/medium/low'],\n      awaiting_input: true\n    }}];\n  }\n\n  if (field !== 'time' && field !== 'priority') {\n    return [{ json: {\n      response_type: 'info',\n      message: '\\u26A0\\uFE0F Only time and priority can be edited in this version.',\n      data: null,\n      suggestions: ['time HH:MM', 'priority urgent/high/medium/low'],\n      awaiting_input: false\n    }}];\n  }\n\n  // Validate value\n  if (field === 'time') {\n    const timeRegex = /^([01]\\d|2[0-3]):([0-5]\\d)$/;\n    if (!timeRegex.test(value)) {\n      return [{ json: {\n        response_type: 'error',\n        message: `\\u274C [INVALID_INPUT] Invalid time format \"${value}\". Use HH:MM (e.g., 21:00).`,\n        data: { error_code: 'INVALID_INPUT' },\n        suggestions: ['Example: time 21:00'],\n        awaiting_input: false\n      }}];\n    }\n  }\n\n  if (field === 'priority') {\n    if (!PRIORITY_VALUE.hasOwnProperty(value)) {\n      return [{ json: {\n        response_type: 'error',\n        message: `\\u274C [INVALID_INPUT] Invalid priority \"${value}\". Use: urgent, high, medium, low, none.`,\n        data: { error_code: 'INVALID_INPUT' },\n        suggestions: ['Valid: urgent, high, medium, low, none'],\n        awaiting_input: false\n      }}];\n    }\n  }\n\n  // Validate issue IDs belong to today's actionable quests\n  const todayResult = await withRetry(\n    () => apiGet(`/projects/${projId}/issues/?per_page=100&expand=labels,state&target_date=${todayStr}`),\n    'Fetch today quests for validation'\n  );\n  const todayQuests = todayResult.results || todayResult || [];\n  const actionableIds = new Set(\n    todayQuests.filter(q => {\n      const sn = q.state_detail?.name;\n      return sn === 'To-Do' || sn === 'In Progress';\n    }).map(q => q.id)\n  );\n\n  const invalidIds = issueIds.filter(id => !actionableIds.has(id));\n  if (invalidIds.length > 0) {\n    return [{ json: {\n      response_type: 'error',\n      message: `\\u274C [INVALID_INPUT] Issue(s) ${invalidIds.join(', ')} are not in today's actionable quests.`,\n      data: { error_code: 'INVALID_INPUT' },\n      suggestions: ['Use /edit to see available quests'],\n      awaiting_input: false\n    }}];\n  }\n\n  const results = [];\n\n  for (const issueId of issueIds) {\n    const issue = await withRetry(\n      () => apiGet(`/projects/${projId}/issues/${issueId}/?expand=labels,state`),\n      `Fetch issue ${issueId}`\n    );\n\n    if (field === 'time') {\n      const updatedHtml = updateMetaInHtml(issue.description_html, { routine_time: value });\n      if (DRY_RUN) {\n        console.log(`[DRY_RUN] Would edit issue ${issueId}: time \\u2192 ${value}`);\n      } else {\n        await withRetry(\n          () => apiPatch(`/projects/${projId}/issues/${issueId}/`, { description_html: updatedHtml }),\n          `Edit time on ${issueId}`\n        );\n        await withRetry(\n          () => apiPost(`/projects/${projId}/issues/${issueId}/comments/`, {\n            comment_html: `<p>\\u270F\\uFE0F [${nowStr}] Edited by user: time \\u2192 ${value}</p>`\n          }),\n          `Comment on ${issueId}`\n        );\n      }\n      results.push(`\"${issue.name}\" \\u2014 time changed to ${value}`);\n    }\n\n    if (field === 'priority') {\n      const newPriority = PRIORITY_VALUE[value];\n      if (DRY_RUN) {\n        console.log(`[DRY_RUN] Would edit issue ${issueId}: priority \\u2192 ${value}`);\n      } else {\n        await withRetry(\n          () => apiPatch(`/projects/${projId}/issues/${issueId}/`, { priority: newPriority }),\n          `Edit priority on ${issueId}`\n        );\n        await withRetry(\n          () => apiPost(`/projects/${projId}/issues/${issueId}/comments/`, {\n            comment_html: `<p>\\u270F\\uFE0F [${nowStr}] Edited by user: priority \\u2192 ${value}</p>`\n          }),\n          `Comment on ${issueId}`\n        );\n      }\n      results.push(`\"${issue.name}\" \\u2014 priority changed to ${value}`);\n    }\n  }\n\n  const dryTag = DRY_RUN ? ' [DRY_RUN]' : '';\n  const message = results.map(r => `\\u2705${dryTag} Quest updated: ${r}`).join('\\n');\n\n  return [{ json: {\n    response_type: 'confirmation',\n    message,\n    data: { edited_count: results.length, issue_ids: issueIds, field, value, dry_run: DRY_RUN },\n    suggestions: ['Type /today to see updated board'],\n    awaiting_input: false\n  }}];\n} catch (e) {\n  const code = e.errorCode || 'PLANE_API_ERROR';\n  const recovery = code === 'PLANE_API_TIMEOUT'\n    ? 'Please check Plane.so service status and try again later.'\n    : 'Please check Plane.so API configuration.';\n  return [{ json: {\n    response_type: 'error',\n    message: `\\u274C [${code}] ${e.message}. ${recovery}`,\n    data: { error_code: code },\n    suggestions: ['Check n8n execution logs'],\n    awaiting_input: false\n  }}];\n}"
      },
      "id": "w2-edit",
      "name": "Code: /edit Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        1560
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// /regen — Regenerate Today's Quests\n// ===========================================\n// Phase 1 (no target/params.confirmed): Show confirmation prompt\n// Phase 2 (params.confirmed = 'yes'): Cancel non-done quests, re-run W1\n// Phase 2 (params.confirmed = 'no'): Cancel operation\n\nconst config = {\n  base_url: $env.PULSE_PLANE_BASE_URL,\n  workspace_slug: $env.PULSE_PLANE_WORKSPACE_SLUG,\n  api_key: $env.PULSE_PLANE_API_KEY,\n  daily_quest_project_id: $env.PULSE_DAILY_QUEST_PROJECT_ID,\n  state_todo: $env.PULSE_STATE_TODO_ID,\n  state_in_progress: $env.PULSE_STATE_IN_PROGRESS_ID,\n  state_deferred: $env.PULSE_STATE_DEFERRED_ID,\n  state_canceled: $env.PULSE_STATE_CANCELED_ID,\n  state_done: $env.PULSE_STATE_DONE_ID,\n};\n\nconst basePath = `${config.base_url}/api/v1/workspaces/${config.workspace_slug}`;\nconst headers = { 'X-API-Key': config.api_key, 'Content-Type': 'application/json' };\nconst tz = $env.PULSE_USER_TIMEZONE || 'Asia/Seoul';\nconst DRY_RUN = ($env.PULSE_DRY_RUN || 'false').toLowerCase() === 'true' || ($env.PULSE_DRY_RUN || 'false') === '1';\n\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst MAX_RETRIES = 3;\nconst RETRY_MS = 5000;\nconst withRetry = async (fn, ctx) => {\n  for (let i = 1; i <= MAX_RETRIES; i++) {\n    try { return await fn(); } catch (e) {\n      console.log(`[RETRY] ${ctx} attempt ${i}/${MAX_RETRIES}: ${e.message}`);\n      if (i === MAX_RETRIES) {\n        const isTimeout = e.code === 'ETIMEDOUT' || e.code === 'ECONNABORTED' || e.message?.includes('timeout');\n        const errorCode = isTimeout ? 'PLANE_API_TIMEOUT' : 'PLANE_API_ERROR';\n        const err = new Error(`[${errorCode}] ${ctx}: ${e.message}`);\n        err.errorCode = errorCode;\n        throw err;\n      }\n      await sleep(RETRY_MS);\n    }\n  }\n};\n\nconst apiGet = async (path) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'GET', headers });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst apiPatch = async (path, body) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'PATCH', headers, body: JSON.stringify(body) });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst apiPost = async (path, body) => {\n  const res = await fetch(`${basePath}${path}`, { method: 'POST', headers, body: JSON.stringify(body) });\n  if (!res.ok) throw new Error(`HTTP ${res.status}`);\n  return res.json();\n};\n\nconst decodeEntities = (s) => s.replace(/&quot;/g, '\"').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&#39;/g, \"'\").replace(/&apos;/g, \"'\");\nconst extractMeta = (html) => {\n  if (!html) return null;\n  try {\n    let m = html.match(/<pre><code\\s+class=\"language-pulse-meta\">([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (m) return JSON.parse(decodeEntities(m[1].trim()));\n    m = html.match(/<pre><code>([\\s\\S]*?)<\\/code><\\/pre>/);\n    if (m) { const c = decodeEntities(m[1].trim()); if (c.includes('\"schema_version\"')) return JSON.parse(c); }\n    m = html.match(/```pulse-meta\\s*\\n([\\s\\S]*?)\\n\\s*```/);\n    if (m) return JSON.parse(m[1].trim());\n  } catch (e) { return null; }\n  return null;\n};\n\nconst params = $input.first().json.params || {};\n\ntry {\n  const todayStr = new Date().toLocaleDateString('en-CA', { timeZone: tz });\n  const projId = config.daily_quest_project_id;\n\n  const confirmed = (params.confirmed || '').toLowerCase().trim();\n\n  if (!confirmed) {\n    // Phase 1: Show confirmation prompt\n    // Count how many quests would be affected\n    const result = await withRetry(\n      () => apiGet(`/projects/${projId}/issues/?per_page=100&expand=labels,state&target_date=${todayStr}`),\n      'Fetch today quests'\n    );\n    const quests = result.results || result || [];\n    const doneCount = quests.filter(q => q.state_detail?.name === 'Done').length;\n    const cancelCount = quests.length - doneCount;\n\n    let message = `\\u26A0\\uFE0F This will regenerate all quests except completed ones. Are you sure? (yes/no)`;\n    if (quests.length > 0) {\n      message += `\\n\\n_${cancelCount} quest${cancelCount !== 1 ? 's' : ''} will be canceled and regenerated. ${doneCount} completed quest${doneCount !== 1 ? 's' : ''} will be kept._`;\n    }\n\n    return [{ json: {\n      response_type: 'info',\n      message,\n      data: { total: quests.length, will_cancel: cancelCount, will_keep: doneCount },\n      suggestions: ['yes', 'no'],\n      awaiting_input: true\n    }}];\n  }\n\n  if (confirmed === 'no' || confirmed === 'n') {\n    return [{ json: {\n      response_type: 'info',\n      message: '\\uD83D\\uDC4D Regeneration canceled. Your current quest board is unchanged.',\n      data: null,\n      suggestions: ['Type /today to see your quest board'],\n      awaiting_input: false\n    }}];\n  }\n\n  if (confirmed !== 'yes' && confirmed !== 'y') {\n    return [{ json: {\n      response_type: 'info',\n      message: '\\u26A0\\uFE0F Please answer \"yes\" or \"no\".',\n      data: null,\n      suggestions: ['yes', 'no'],\n      awaiting_input: true\n    }}];\n  }\n\n  // Phase 2: Cancel non-done quests, then trigger W1 re-execution\n  const result = await withRetry(\n    () => apiGet(`/projects/${projId}/issues/?per_page=100&expand=labels,state&target_date=${todayStr}`),\n    'Fetch today quests for regeneration'\n  );\n  const quests = result.results || result || [];\n  const nonDone = quests.filter(q => q.state_detail?.name !== 'Done');\n\n  let canceledCount = 0;\n  const nowStr = new Date().toLocaleTimeString('en-GB', { timeZone: tz, hour: '2-digit', minute: '2-digit' });\n\n  for (const quest of nonDone) {\n    if (DRY_RUN) {\n      console.log(`[DRY_RUN] Would cancel issue ${quest.id} for regen`);\n    } else {\n      await withRetry(\n        () => apiPatch(`/projects/${projId}/issues/${quest.id}/`, { state: config.state_canceled }),\n        `Cancel issue ${quest.id} for regen`\n      );\n      await withRetry(\n        () => apiPost(`/projects/${projId}/issues/${quest.id}/comments/`, {\n          comment_html: `<p>\\uD83D\\uDD04 [${nowStr}] Canceled for quest regeneration</p>`\n        }),\n        `Comment on ${quest.id}`\n      );\n    }\n    canceledCount++;\n  }\n\n  // Now trigger W1 workflow re-execution\n  // W1 is a cron workflow — we trigger it by calling its test webhook or production webhook\n  // Since W1 runs as cron, we execute steps 1-2 inline (deterministic) here\n  // and steps 3-5 if LLM is available\n  // For simplicity and reliability, we re-run the same quest generation logic\n\n  // Step 2: Routine Copy — scan routines and create quests for today\n  const allProjects = await withRetry(\n    () => apiGet('/projects/'),\n    'Fetch all projects'\n  );\n  const projects = allProjects.results || allProjects || [];\n\n  // Get daily-routine label ID\n  const labelId = $env.PULSE_LABEL_DAILY_ROUTINE_ID;\n  let generated = 0;\n\n  for (const proj of projects) {\n    // Skip the daily quest project itself\n    if (proj.id === projId) continue;\n\n    try {\n      const issuesRes = await withRetry(\n        () => apiGet(`/projects/${proj.id}/issues/?per_page=100&expand=labels&label=${labelId}`),\n        `Scan routines in ${proj.name}`\n      );\n      const routines = issuesRes.results || issuesRes || [];\n\n      for (const routine of routines) {\n        // Check if routine has the daily-routine label\n        const hasLabel = routine.label_details?.some(l => l.id === labelId) || routine.labels?.includes(labelId);\n        if (!hasLabel) continue;\n\n        const meta = extractMeta(routine.description_html);\n        if (!meta || meta.schema_version !== 1) continue;\n\n        // Check schedule: routine_days\n        const dayMap = { 'sun': 0, 'mon': 1, 'tue': 2, 'wed': 3, 'thu': 4, 'fri': 5, 'sat': 6 };\n        const todayDow = new Date().toLocaleDateString('en-US', { timeZone: tz, weekday: 'short' }).toLowerCase();\n        const routineDays = (meta.routine_days || []).map(d => d.toLowerCase());\n        if (routineDays.length > 0 && !routineDays.includes(todayDow)) continue;\n\n        // Check active_from / active_until\n        if (meta.routine_active_from && todayStr < meta.routine_active_from) continue;\n        if (meta.routine_active_until && todayStr > meta.routine_active_until) continue;\n\n        // Check cooldown\n        if (meta.routine_cooldown_days && meta.routine_cooldown_days > 0) {\n          try {\n            const recentRes = await withRetry(\n              () => apiGet(`/projects/${projId}/issues/?per_page=5&expand=labels&target_date=${todayStr}`),\n              `Check cooldown for ${routine.name}`\n            );\n            const recent = recentRes.results || recentRes || [];\n            const hasDuplicate = recent.some(q => {\n              const qMeta = extractMeta(q.description_html);\n              return qMeta?.source_issue_id === routine.id;\n            });\n            if (hasDuplicate) continue;\n          } catch (e) {\n            console.log(`[WARN] Cooldown check failed: ${e.message}`);\n          }\n        }\n\n        // Duplicate check: skip if quest already exists for today from this routine\n        // (covered by cooldown check above for today's quests)\n\n        // Create quest\n        const questMeta = {\n          schema_version: 1,\n          routine_type: meta.routine_type || 'daily',\n          routine_days: meta.routine_days || [],\n          routine_time: meta.routine_time || '09:00',\n          routine_duration_min: meta.routine_duration_min || 30,\n          routine_priority: meta.routine_priority || 'medium',\n          routine_mandatory: meta.routine_mandatory || false,\n          routine_active_from: meta.routine_active_from,\n          routine_active_until: meta.routine_active_until,\n          routine_cooldown_days: meta.routine_cooldown_days || 0,\n          source_project_id: proj.id,\n          source_issue_id: routine.id,\n          defer_count: 0\n        };\n\n        const priorityMap = { 'urgent': 4, 'high': 3, 'medium': 2, 'low': 1, 'none': 0 };\n        const priority = priorityMap[meta.routine_priority] || 2;\n\n        const questBody = {\n          name: routine.name,\n          description_html: `<pre><code class=\"language-pulse-meta\">${JSON.stringify(questMeta, null, 2)}</code></pre>`,\n          priority,\n          state: config.state_todo,\n          target_date: todayStr,\n          start_date: todayStr,\n        };\n\n        if (DRY_RUN) {\n          console.log(`[DRY_RUN] Would create quest: ${routine.name}`);\n        } else {\n          await withRetry(\n            () => apiPost(`/projects/${projId}/issues/`, questBody),\n            `Create quest ${routine.name}`\n          );\n        }\n        generated++;\n      }\n    } catch (e) {\n      console.log(`[WARN] Failed to scan project ${proj.name}: ${e.message}`);\n    }\n  }\n\n  const dryTag = DRY_RUN ? ' [DRY_RUN]' : '';\n  return [{ json: {\n    response_type: 'confirmation',\n    message: `\\u2705${dryTag} Today's quests regenerated! ${canceledCount} quest${canceledCount !== 1 ? 's' : ''} canceled, ${generated} new quest${generated !== 1 ? 's' : ''} generated. Use /today to see the new board.`,\n    data: { canceled_count: canceledCount, generated_count: generated, dry_run: DRY_RUN },\n    suggestions: ['Type /today to see the new board'],\n    awaiting_input: false\n  }}];\n} catch (e) {\n  const code = e.errorCode || 'PLANE_API_ERROR';\n  const recovery = code === 'PLANE_API_TIMEOUT'\n    ? 'Please check Plane.so service status and try again later.'\n    : 'Please check Plane.so API configuration.';\n  return [{ json: {\n    response_type: 'error',\n    message: `\\u274C [${code}] ${e.message}. ${recovery}`,\n    data: { error_code: code },\n    suggestions: ['Check n8n execution logs'],\n    awaiting_input: false\n  }}];\n}"
      },
      "id": "w2-regen",
      "name": "Code: /regen Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        1640
      ]
    }
  ],
  "connections": {
    "Webhook: Command Entry": {
      "main": [
        [
          {
            "node": "Code: Command Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Command Router": {
      "main": [
        [
          {
            "node": "Switch: Route Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Route Command": {
      "main": [
        [
          {
            "node": "Code: /today Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: /help Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Ping Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Error Passthrough",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: /complete Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: /cancel Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: /defer Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: /add Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: /restore Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: /edit Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: /regen Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: /brief Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: /stats Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: /deferred Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: /preview Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: /weekly Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: /classify Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: /create_routine Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Unimplemented Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "w5-error-handler"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "pinData": {}
}