workflows/w6-manifest-server.json
{
  "name": "w6-manifest-server",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "pulse-manifest",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "w6-trigger",
      "name": "Webhook: GET Manifest",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "pulse-manifest"
    },
    {
      "parameters": {
        "jsCode": "const manifest = {\n  identifier: 'pulse-quest-manager',\n  api: [\n    {\n      url: 'https://n8n.eli.kr/webhook/pulse-command',\n      name: 'quest_command',\n      description: 'Execute a pulse quest management command. Routes to the n8n W2 webhook handler for all quest operations.',\n      parameters: {\n        type: 'object',\n        properties: {\n          action: {\n            type: 'string',\n            description: 'The command to execute: today, complete, cancel, defer, restore, edit, add, regen, brief, stats, deferred, preview, weekly, help, classify, create_routine',\n            enum: [\n              'today', 'complete', 'cancel', 'defer', 'restore',\n              'edit', 'add', 'regen', 'brief', 'stats',\n              'deferred', 'preview', 'weekly', 'help', 'ping',\n              'classify', 'create_routine'\n            ]\n          },\n          target: {\n            type: 'string',\n            description: \"Optional target: quest number(s) for interactive commands (e.g., '1,3' or '1-3'), 'all' for /brief all, issue IDs for resolved selections\"\n          },\n          params: {\n            type: 'object',\n            description: 'Optional parameters: { days: number } for /stats, { name: string, duration: string } for /add, { field: string, value: string } for /edit, { message: string } for /classify and /create_routine, routine fields for /create_routine confirm',\n            properties: {\n              days: { type: 'number' },\n              name: { type: 'string' },\n              duration: { type: 'string' },\n              field: { type: 'string' },\n              value: { type: 'string' },\n              priority: { type: 'string' },\n              message: { type: 'string', description: 'Natural language input for /classify or /create_routine' },\n              active_session: { type: 'boolean', description: 'Whether an interactive session is active (for /classify)' },\n              session_action: { type: 'string', description: \"The active session's action (for /classify)\" },\n              routine_name: { type: 'string', description: 'Routine name (for /create_routine confirm)' },\n              routine_time: { type: 'string', description: 'Routine time HH:MM (for /create_routine confirm)' },\n              routine_duration_min: { type: 'number', description: 'Duration in minutes (for /create_routine confirm)' },\n              routine_priority: { type: 'string', description: 'Priority level (for /create_routine confirm)' },\n              routine_days: { type: 'array', items: { type: 'string' }, description: 'Days of week (for /create_routine confirm)' },\n              routine_mandatory: { type: 'boolean', description: 'Whether routine is mandatory (for /create_routine confirm)' },\n              add_today: { type: 'boolean', description: \"Whether to add to today's quests (for /create_routine confirm)\" },\n              target_project_id: { type: 'string', description: 'Target Plane.so project ID (for /create_routine confirm)' }\n            }\n          }\n        },\n        required: ['action']\n      }\n    }\n  ],\n  gateway: 'https://n8n.eli.kr/webhook/pulse-command',\n  version: '1',\n  settings: {\n    type: 'object',\n    properties: {\n      apiKey: {\n        title: 'API Key',\n        type: 'string',\n        description: 'n8n webhook authentication key (PULSE_N8N_WEBHOOK_SECRET)',\n        format: 'password'\n      }\n    },\n    required: ['apiKey'],\n    auth: {\n      type: 'header',\n      header: {\n        key: 'X-API-Key',\n        value: '{{apiKey}}'\n      }\n    }\n  },\n  meta: {\n    title: 'pulse Quest Manager',\n    description: 'Daily quest management system powered by Plane.so and n8n',\n    avatar: '📋'\n  }\n};\n\nreturn [{ json: manifest }];"
      },
      "id": "w6-build",
      "name": "Code: Build Manifest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json, null, 2) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "w6-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "content": "## W6 - Manifest Server\n\n**Purpose:** Serve the LobeHub plugin manifest with resolved environment variables.\n\n**Endpoint:** GET /webhook/pulse-manifest\n\n**Usage:** Enter this URL in LobeHub's custom plugin \"온라인 링크\" field.\n\n**Note:** Auth secrets are injected at runtime from n8n env vars — no secrets in git.",
        "height": 260,
        "width": 360
      },
      "id": "w6-sticky",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 480]
    }
  ],
  "connections": {
    "Webhook: GET Manifest": {
      "main": [
        [
          { "node": "Code: Build Manifest", "type": "main", "index": 0 }
        ]
      ]
    },
    "Code: Build Manifest": {
      "main": [
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "pinData": {}
}
